<div class="row ui" id="resourceHeading">
    <p ng-if="mainTemplate == 'selectedResult'">
        RESOURCES
        <span>({{ $ctrl.res.content.length }})</span></p>
</div>
<div class="source-result-container">
    <div class="ui special link cards cardsWrapper" ng-class="{four: mainTemplate == 'selectedResult',five: mainTemplate == 'addedItemsView'}">
        <div class="card" ng-repeat="lesson in $ctrl.res.content | orderBy:sortOption track by $index" in-view="lineInView($index, $inview, lesson, 'LessonBrowser', $index)" in-view-options="{ throttle: 1000 }" ng-click="toggleSelectionLesson(lesson)">
            <div class="ui inverted dimmer">
                <div class="content">
                    <div class="ui list cardDetails-list">
                        <div class="item">
                            <div class="right floated content contentMetaDetail">{{lesson.board || 'NA'}}</div>
                            <div class="content contentTitle">Board</div>
                        </div>
                        <div class="item">
                            <div class="right floated content contentMetaDetail">{{(lesson.class.toString() | cut:true:15) || 'NA'}}
                                <span ng-if="lesson.class.toString().length > 20">
                                    ...
                                    </span>
                            </div>
                            <div class="content contentTitle">Class</div>
                        </div>
                        <div class="item">
                            <div class="right floated content contentMetaDetail">{{(lesson.subject | cut:true:15) || 'NA'}}
                                <span ng-if="lesson.subject.length > 20">
                                     ...
                                    </span>
                            </div>
                            <div class="content contentTitle">Subject</div>
                        </div>
                        <div class="item">
                            <div class="right floated content contentMetaDetail">{{(lesson.concepts.toString() | cut:true:15) || 'NA'}}
                                <span ng-if="lesson.concepts.toString().length > 20">
                                    ...
                                    </span>
                            </div>
                            <div class="content contentTitle">Concept</div>
                        </div>
                        <div class="item overlapAll" ng-click="showCardDetails(lesson)">
                            <div class="content bottomList">VIEW DETAILS</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image">
                <img src="{{lesson.appIcon || 'http://via.placeholder.com/80x80'}}" class="resourceMetaImage ">
                <div class="ui checkbox blue-checkbox checkBoxOverImage-top-right-corner" id='checkBox_{{lesson.identifier}}' style="z-index:9999">
                    <input class="checkBox" type="checkbox" name="lessons[]">
                    <label></label>
                </div>
            </div>
            <div class="content">
                <div class="header contentMetaTitle">
                    {{lesson.name | cut:true:25}}
                    <span ng-if="lesson.name.length > 25" class="ui compact icon desc_ellipsis" data-tooltip="{{lesson.name}}" data-position="bottom right"><a class="desc_ellipsisLink">...</a>
                </span>
                </div>
                <div class="description resourceDescription">
                    {{lesson.description | removeHTMLTags | cut:true:80}}
                    <span ng-if="lesson.description.length > 80">
                        <span class="ui compact icon desc_ellipsis" data-tooltip="{{lesson.description}}" data-position="bottom center">
                            <a class="moreLink">&nbsp;&nbsp;more...</a>
                        </span>
                    </span>
                </div>
                <div class="meta">
                    <span class="creator">Created by {{lesson.creator || 'Unknown'}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="load-more-lesson-warning-msg" ng-hide="mainTemplate == 'addedItemsView' || $ctrl.err || !$ctrl.res.content.length">
        <img class="ui centered tiny image" ng-src="{{$ctrl.contentNotFoundImage}}">
        <p>Didn’t find what you were looking for? Try <a href="#">search</a> for something more specific
        </p>
    </div>
    <div class="ui negative message errorMessage" ng-if="$ctrl.err">
        <div class="header">{{$ctrl.err}}</div>
    </div>
    <div class="ui negative message errorMessage" ng-if="!$ctrl.res.content.length">
        <div class="header">No lessons found</div>
        <p>Please try again</p>
    </div>
</div>