.add-lessons-popup-wrapper {
    position: relative;
    height: 590px;
    width: 851px;
    border-radius: 1em!important;
    font-family: Helvetica!important;
    padding: 1em 2em;
    color: #888!important;
}

.ngdialog.ngdialog-theme-plain>.ngdialog-content {
    padding: 0!important;
    border-radius: 1em!important;
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
    padding: 0!important;
}

.lesson-filters {
    padding-left: 0!important;
}

#reset-lesson-filter-button {
    float: right;
    padding-right: 6%;
    color: #007aff;
}

#reset-lesson-filter-button:hover {
    cursor: pointer;
}

#cancel-lesson-browser-popup:hover {
    color: #fff!important;
    background: #317bca!important;
}

.lessonbrowser-dialog {
    top: 5% !important;
    width: 100% !important;
    position: absolute !important;
    background: none !important;
}


.source-filter-container {
    height: 304px!important;
    overflow-y: scroll;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}

.filters-and-lessons-wrapper .ui.styled.accordion .title {
    outline: none;
}

.source-filter-container .active.title,
.source-filter-container .active.title {
    border: none!important;
    box-shadow: none!important;
}

.source-filter-container .title,
.source-filter-container .content .list label {
    box-shadow: none!important;
    color: inherit!important;
}

.source-filter-container .title {
    padding-left: 0!important;
    border: none!important;
    padding-bottom: 0!important;
}

.source-filter-container .title:hover {
    color: inherit!important;
}

.source-filter-container .content,
#search-reset-keyword-field-wrapper,
#search-reset-keyword-field,
#filters-and-lessons-wrapper {}

.lesson-lang-separator {
    margin-left: 5px;
    margin-right: 5px;
}

.search-reset-keyword-field-wrapper .ui.action.input:not([class*="left action"])>input {
    border-radius: 0!important;
    border: none!important;
    border-bottom: 0.2px solid #E6E7E8 !important;
    background: transparent!important;
}

.search-reset-keyword-field-wrapper {
    display: flex !important;
    align-items: center;
}

.search-reset-keyword-field .button-overrides {
    padding: 0.35em 0.3em 0.35em 0.8em!important;
}

#reset-button:hover {
    color: #fff!important;
    background: #000!important;
}

.search-reset-keyword-field .ui.basic.button {
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}

.filters-and-lessons-wrapper {
    max-height: 426px!important;
}

.lesson-row {
    padding: 0px !important;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    border: 1px solid #e0e0e0;
    margin: 1%;
    border-radius: 2px;
    height: 89px;
}

.lesson-row:hover {
    background: #fff;
    -webkit-box-shadow: 0 0 15px 5px rgba(193, 193, 193, 0.49);
    box-shadow: 0 0 15px 5px rgba(193, 193, 193, 0.49);
    cursor: pointer;
}

.source-result-container .lesson-row>.two.wide.column {
    padding: 0!important;
}

.lesson-name {
    color: #000!important;
}

.lesson-row .ui.checkbox .box:before,
.lesson-row .ui.checkbox label:before,
.lesson-row .ui.checkbox label:after,
.lesson-row .ui.checkbox input[type=checkbox],
.lesson-row .ui.checkbox input[type=radio] {
    top: 15px!important;
}

.source-filter-container .ui.checkbox .box:before,
.source-filter-container .ui.checkbox label:before {}

.source-result-container::-webkit-scrollbar-thumb,
.source-filter-container::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.29)!important;
}

.ui.modal.lessonbrowser {
    top: -3%;
    width: 100% !important;
    margin-left: -2.5%;
}

.popup-heading {
    padding: 1em 0.5em!important;
}

.popup-heading h5 {
    font-weight: bold!important;
}

.add-lessons-popup-wrapper .ui.segment[class*="bottom attached"] {
    margin-bottom: 0;
    border: none;
}

.repo-names-menu-bar {
    margin-top: 0!important;
    min-height: 2em!important;
}

.full-height {
    height: 100%!important;
}

.repo-names-menu-bar>.item {
    padding: 0.5em 1em!important;
    letter-spacing: 1px;
}

.padding-top-3px {
    padding: 4% 1% 0% 0%;
}

.filters-wrapper {
    padding-left: 23px !important;
}

.width-100 {
    width: 100%;
}

.textbox {
    width: 95%;
    min-width: 98% !important;
}

.btnColor {
    width: 95%;
}

.resourcePanelBodyContent {
    padding: 1% 1% 0% 3%;
    padding: 1% 1% 0% 3%;
    min-height: 62px;
    margin-top: 2% !important;
    vertical-align: middle !important;
    display: inline-table !important;
}

.resourceContentImage {
    padding: 3px;
}

.resourceContentImageAllign {
    width: 100%;
    height: 100%;
}

.resourceFooter {
    display: flex;
    align-items: center;
    background-color: white !important;
}

#resourceSearch {
    font-size: 75%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: none;
    border-radius: 30px;
}

.filterSidebar {
    margin-top: 8%;
    margin-bottom: 5%;
}

.allignCenter {
    display: block;
    align-items: center;
}

.resourceCheckbox {
    margin: 6%;
}

.lesson-buttons {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    text-align: left;
    min-height: 97%;
}

.lessonTitle {
    text-align: left;
}

.resourceDesc {
    word-break: break-word;
}

.search-reset-keyword-field {
    margin-left: -7%;
    margin-right: 7%;
    border: 1px solid #e0e0e0;
    border-radius: 30px;
    width: 320px;
}

.filterBckgClr {
    background-color: ghostwhite;
}

.bottomBorder {
    border-bottom: 2px solid rgba(34, 36, 38, .15) !important;
}

.resourcesContent {
    margin-top: -35px !important;
}

.paraHeading {
    color: darkgrey !important;
    font-weight: 500 !important;
}

.add-resource {
    font-size: 85%;
}

.resourceContent {
    margin-top: 0% !important;
    padding-right: 1%;
    padding-left: 1%;
    display: inline-block !important;
}

.searcher {
    margin-bottom: 0% !important;
}

@media only screen and (max-width: 500px) {
    .resouceContent {
        width: 100%;
    }
}

.rightBorder {
    border-right: 1px solid #D8DEE2 !important;
}

.imgContent {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    opacity: 0.7;
    background-color: black;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    display: flex;
    align-items: center;
}

.resourceImage {
    display: block;
    width: 100%;
    height: auto;
}

.card:hover .imgContent {
    bottom: 0;
    height: 100%;
}

.contentAllign {
    color: white;
    position: absolute;
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
}

.resourceDescription {
    height: 45px;
    font-size: 14px;
}

.resourceLink {
    color:  #007aff;
    font-size: 85%;
}

.sortResource {
    padding: 6% !important;
}

#search-button:hover {
    color: #fff!important;
    background: #317bca!important;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
}

#search-button {
    padding-right: 5%;
}

.selectedItems {
    display: flex !important;
    align-items: center;
    padding-left: 12% !important;
}

.btnAttribute {
    width: 96px;
    height: 31px;
    border-radius: 5px !important;
    border: solid 1px #007aff !important;
}

#cancelBtn {
    color: #007aff !important;
}

.filterAllign {
    height: 400px;
    padding: 6% !important;
}

#apply-lesson-filter-button {
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.filterContent {
    height: 100%;
    margin-left: 2%;
}

.source-result-container {
    height: 477px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-right: 3%;
    margin-top: 2%;
}

#resourceHeading {
    border: none;
    margin-top: 1%;
    margin-bottom: -1%;
    margin-left: 1%;
    font-weight: bold;
}

.lessonBrowserContentCard {
    width: 245px !important;
}

.disabledLink {
    cursor: default;
    opacity: 0.5;
}

.filterOverflow {
    height: 100%;
    overflow-y: auto;
    border-bottom: 1px solid #D8DEE2;
}

.searchList {
    border: 1px solid #D8DEE2;
    list-style: none;
    padding-left: 1%;
    border-radius: 5px;
    margin-top: 2px;
    width: 23.5%;
    margin-left: -24px;
    position: fixed;
    background: white;
    z-index: 1;
    cursor: pointer;
    max-height: 25%;
    overflow-y: scroll;
}

.searchResult {
    padding: 1%;
    font-size: 87%;
    margin-left: -4%;
    border-bottom: 1px solid #D8DEE2;
}

.searchResult:hover {
    background: #D8DEE2;
}

.imageAllignment {
    height: 110px;
    overflow: hidden;
}

.contentMetaDetail {
    font-size: 13px;
    width: 70%;
}

.contentTitle {
    font-size: 13px;
    width: 30%;
}

.viewLink {
    color: #007aff;
}

.bodyContainer {
    height: 535px;
}

.addedItems {
    margin-left: 1%;
}
.searchResultMsg{
    font-size: 14px;
}
.resourceMetaImage{
    overflow: hidden; 
    height: 150px !important;
}
.errorMessage{
    margin-top: 3% !important;
}
.sidebarSectionHeader{
    display:inline;
    font-weight: bold;
    font-size: 12px;
}
.sortButtonsWrapper{
    margin: 0% !important;
}

.facets-headtext{
    font-weight: bold;
    text-transform: uppercase;
}
.facets-viewall{
    color: #0f69e0;
    position: relative;
    left: 88%
}
.sections{
    padding-top:2%;
}   
.contentMetaTitle{
    font-size: 16px !important;
}
.creator{
    font-size: 12px;
}
.checkBoxLink{
    min-height: 13px !important;
}
.filterMetaDetails{
    margin-top: 4%;
    margin-bottom: 4%;
}
.contentDetailsTitle{
    font-size: 18px !important;
    font-weight: bold !important;
}