<style>
.modal.in .modal-dialog {
    width: 65%;
}

.tab-content {
    height: 400px;
}

.modal-body {
    padding: 0px;
}

.nav-tabs {
    background: none;
}

.imageBrowserContent {
    margin: 12px;
}

.modal-footer {
    padding: 10px;
    text-align: right;
}

.img-thumbnail {
    margin: 3px;
    cursor: pointer;
    padding: 0;
    position: relative;
}

.img-thumbnail:hover {
    opacity: 0.4;
}

.scrollWindow {
    margin-top: 30px;
    overflow: scroll;
    height: 320px;
    display: inline;
}

.fa-2x-custom {
    color: aliceblue;
    margin-right: 10px;
    margin-left: 2px;
    font-size: 2em;
}

.fa-2x-custom:hover {
    color: white;
}

.fa-image-selected {
    color: #3899ec;
    margin-right: 10px;
    margin-left: 2px;
    font-size: 2em;
}

.assetArea {
    display: inline-block;
}

</style>
<div class="imageBrowserContent">
    <text style="font-size: 20px;">Add Image</text>
    <uib-tabset active="active">
        <uib-tab index="0" heading="Image">
            <input id="searchTextBox" ng-keypress="$event.keyCode === 13 ? $ctrl.searchKeyPress() : null" type="text" style="width: 95%; float: left; font-size: 20px;" placeholder="search image..." value="" /> <span> <button id="searchButton" ng-click="$ctrl.searchKeyPress()" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button> </span>
            <div id="assetWindow" class="col-xs-8 col-sm-8 col-md-8 col-lg-8 scrollWindow">
                <div id="assetArea" class="assetArea" ng-show="$ctrl.imageList.length > 0" ng-repeat="image in $ctrl.imageList track by $index">
                    <img class="img-thumbnail" data_id="{{image.identifier}}" src="{{image.downloadUrl}}" ng-click="$ctrl.ImageSource($event, $index); $ctrl.selected_images[$index]={selected: !$ctrl.selected_images[$index].selected} " width="120" height="120">
                    <i ng-class="$ctrl.selected_images[$index].selected ? 'fa fa-check-square-o fa-image-selected' : 'fa fa-check-square-o fa-2x-custom'" aria-hidden="true"></i>
                </div>
                <div uib-alert class="alert-warning" ng-show="$ctrl.imageList.length === 0" style="font-size: 30px; text-align: center;">
                    <i class="fa fa-exclamation-triangle fa-1x" aria-hidden="true"></i> Image not found
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 25px; font-size: 25px;">
            </div>
        </uib-tab>
    </uib-tabset>
    <div class="modal-footer">
        <button id="selectanduse" class="btn btn-primary" ng-disabled="$ctrl.selectDisable" ng-click="$ctrl.select()" type="button">Select</button>
        <button id="closePopUp" class="btn btn-warning" ng-click="$ctrl.cancel()" type="button">Cancel</button>
    </div>
</div>
