body {
    min-width: 525px !important;
}

.spinner {
    width: 18px;
    height: 18px;
    background-color: #ff0c00;
    border-radius: 100%;
    display: inline-block;
    position: relative;
    top: 4px;
    margin-right: 3px;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

.header-wrapper .custom-1-wide .ui.tiny.image{
    padding: 2px;
}

.icon-box {
    height: 30px;
    width: 31.67px;
    border-radius: 4px;
    background-color: transparent;
    padding: 0;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.icon-box:hover {
    background-color: #E0E1E2;
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0)
    }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}

.internet-status-label {
    visibility: hidden;
}

.internet-status {
    position: relative;
    margin: 0;
    bottom: -4px;
    color: #9b9b9b;
}

.last-saved-label {
    display: inline-block;
    float: left;
    position: relative;
    bottom: -7px;
    font-size: 12px;
    color: #9b9b9b;
}

.icon-badge {
    color: #fff !important;
    background: #e16273 !important;
    border: 1px solid #e27a93 !important;
    border-radius: 30px !important;
    font-size: 2px !important;
    padding: 0 2px !important;
    line-height: 4px !important;
    position: absolute !important;
    top: -5px;
    right: -5px;
}

.header-icon-container .custom-row-2 {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0px !important;
}

#headerWrapper .custom-row-2{
    line-height: 2.8 !important;
}
.content-masterhead {
    padding: 0px !important;
    width: 98vw !important;
    height: 60px !important;
    margin-left: -1rem!important;
    height: 60px !important;
}

#headerWrapper,
#headerWrapper>div {
    height: 100% !important;
}

.content-title-container{
    position: relative;
    top: -5px;
}

.custom-container .custom-5-wide{
    right: -3vw;
    padding-right: 0!important;
}

.custom-container .custom-5-wide .header-icon-container{
    line-height: 3.5;
}

#retireButton,
#closeButton,
#discardButton,
#acceptButton,
#saveButton,
#reviewButton,
#rejectButton,
#publishButton {
    background: none;
    color: #4a4a4a;
}
#retireButton:hover,
#discardButton:hover,
#acceptButton:hover,
#reviewButton:hover,
#saveButton:hover,
#rejectButton:hover,
#publishButton:hover{
    background: #2E9FD9;
    color: #fff;
}
#closeButton {
    padding: 0!important;
}
#closeButton:hover {
    color: #fd2313;
}

#contentTitle {
    position: relative;
    top: -1vh;
    color: #4a4a4a;
}

#headerWrapper {
    padding-left: 0;
    padding-right: 0;
    width: 100%!important;
    padding-left: 0;
    margin: 0;
    min-width: 97.8vw;
    border-bottom: 0.2px solid rgba(128, 128, 128, 0.43);
}

#headerWrapper #headerLogo .ui.tiny.image {
    height: 32.94px;
    width: 33.9px;
}

.no-margin-no-padding,
.custom-1-wide {
    margin: 0 !important;
    padding: 0 !important;
}

.no-margin,
.custom-6-wide,
.custom-5-wide {
    margin: 0 !important;
}

.no-padding,
.custom-5-wide .user-details-wrapper {
    padding: 0 !important;
}

.xy-mid-align,
.custom-icon,
.custom-1-wide .ui.tiny.image {
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto !important;
}


#headerWrapper .one.wide.column,
#headerWrapper .six.wide.column,
#headerWrapper .five.wide.column {
    height: 100%!important;
}

#headerWrapper .one.wide.column {
    width: 70px !important;
}


.custom-6-wide .custom-row-1 .content-title {
    font-size: 16px;
    font-weight: bold;
    padding: 0 !important;
    border: 0 !important;
    border-radius: 0 !important;
    height: 19px;
    line-height: 19px;
}