<script type="text/ng-template" id="QuestionUnitBrowser" ng-controller="QuestionCreationFormController as $ctrl">
  <div class="ui modal questioncreation fullscreen active">
    <div class="ui grid qcHeader">
      <div class="two wide column questionHeader">
        <h3>Create question</h3>
      </div>
      <div class="eight wide column center aligned">
        <div class="ui huge breadcrumb breadcrumbTitle">
          <div ng-class="{activeBreadcumb: $ctrl.templatesScreen == true}" class="section">Choose template</div>
          <i class="right chevron icon divider"></i>
          <div class="section" ng-class="{activeBreadcumb: $ctrl.createQuestionScreen == true}">Create question</div>
          <i class="right chevron icon divider"></i>
          <div class="section" ng-class="{activeBreadcumb: $ctrl.metadaFormScreen == true}">Question Details</div>
        </div>
      </div>
      <div class="two wide column right aligned qcCloseIcon">
        <i class="close link icon" id="ques-cancel-button" ng-click="$ctrl.cancel();$ctrl.generateTelemetry({type: 'click', subtype: 'select', id: 'button'},$event)"></i>
      </div>
    </div>
    <div class="ui grid">
      <div class="two column row" ng-show="$ctrl.templatesScreen">
        <!-- <div class="three wide column">
          <div class="ui secondary vertical menu" id="qcSideMenu">
            <div class="item" ng-repeat="(key, value) in $ctrl.menuItems" ng-click="$ctrl.select($parent.$index, $index)" ng-class="{activeItem: $parent.$index + '.' + $index == $ctrl.selected}" ng-if="value.templatesData.length > 0">
              <div class="content">
                <a class="header" id={{value.category}} ng-click="$ctrl.switchTab($index,value);$ctrl.generateTelemetry({type: 'select', subtype: 'dropDown', id: 'dropDown'},$event)"><i class="{{value.data.icon}}"></i> {{value.data.name}}</a>
              </div>
            </div>
          </div>
        </div> -->
        <div class="twelve wide column" id="templatsCards">
          <div class="ui stackable five column grid qcCustomGrid">
            <div class="column" ng-repeat="(key, value) in $ctrl.allMenuItems">
              <div class="ui card qcTemplateCard">
                <div class="content" id="templateCardHeader">
                  <div class="left floated meta" id="templateCardHeaderText">{{value.title}}</div>
                </div>
                <div class="content templateCard">
                  <img src="{{value.thumbnail1}}" />
                  <span ng-click="$ctrl.addCreateQuestionForm(value)">
                    <div class="templateDisc">
                      <p>Standard Multiple choice question.</p>
                      <i class="plus icon"></i>
                    </div>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="two column row">
        <div class="seven wide column">
          <div class="templateHead"><span class="">{{$ctrl.templateName}}</span></div>
          <div ng-if="$ctrl.questionUnitTemplateURL" ng-show="$ctrl.createQuestionScreen">
            <ng-include src="$ctrl.questionUnitTemplateURL"></ng-include>
          </div>
          <div class="QuestionMetaForm" ng-show="$ctrl.metadaFormScreen">
            <div class="seven wide column md" style="margin-right: 1%">
              <form name="questionUnitBrowserForm" novalidate>
                <div class="ui grid two column row">
                  <div class="column">
                    <label class="qcMetadateFormLbl" data-original-title="Question title">
                      Question title <span class="star">&nbsp;*</span>
                    </label>
                    <input type="text" class="form-control" id="questionTitle" placeholder="Question title" name="questionTitle" ng-model="$ctrl.questionData.questionTitle" required/>
                    <small ng-show="questionUnitBrowserForm.questionTitle.$invalid && !questionUnitBrowserForm.questionTitle.$pristine" class="qcError">Enter question title.</small>
                  </div>
                  <div class="column">
                    <label class="qcMetadateFormLbl">Language <span class="star">&nbsp;*</span></label>
                    <select class="ui dropdown dropdownBox form-control" name="qcLanguage" ng-model="$ctrl.questionData.qcLanguage" id="language-drop-down" ng-click="$ctrl.generateTelemetry({type: 'select', subtype: 'dropDown', 'id': 'dropDown'},$event)" required>
                      <option value="" selected="selected">Choose language</option>
                      <option ng-repeat="lang in $ctrl.languages" value="{{lang}}">{{lang}}</option>
                    </select>
                    <small ng-show="questionUnitBrowserForm.qcLanguage.$invalid && !questionUnitBrowserForm.qcLanguage.$pristine" class="qcError">Select language.</small>
                  </div>
                </div>
                <div class="ui grid two column row">
                  <div class="column">
                    <label class="qcMetadateFormLbl">
                      Level <span class="star">&nbsp;*</span>
                    </label>
                    <select class="ui dropdown dropdownBox form-control" name="qcLevel" ng-model="$ctrl.questionData.qcLevel" id="level-drop-down" ng-click="$ctrl.generateTelemetry({type: 'select', subtype: 'dropDown', 'id': 'dropDown'},$event)" required>
                      <option value="" selected="selected">Choose level</option>
                      <option ng-selected="{{$ctrl.qcLevel}}" ng-repeat="lev in $ctrl.level" value="{{lev}}">{{lev}}</option>
                    </select>
                    <small ng-show="questionUnitBrowserForm.qcLevel.$invalid && !questionUnitBrowserForm.qcLevel.$pristine" class="qcError">Select level.</small>
                  </div>
                  <div class="column">
                    <label class="qcMetadateFormLbl">
                      Grade <span class="star">&nbsp;*</span>
                    </label>
                    <div class="no label example">
                      <div class="ui fluid dropdown selection multiple" tabindex="0" id="grade-drop-down" ng-click="$ctrl.generateTelemetry({type: 'select', subtype: 'dropDown', id: 'dropDown'},$event)">
                        <select multiple="" name="binary" class="grade form-control" name="qcGrade" ng-model="$ctrl.questionData.qcGrade" required>
                          <option ng-repeat="g in $ctrl.grades" value="{{g}}" selected="{{$ctrl.questionData.qcGrade[$index]}}">{{g}}</option>
                        </select><i class="dropdown icon"></i>
                        <div class="default text">Select grade</div>
                        <div class="menu" tabindex="-1">
                          <div class="item" ng-repeat="gr in $ctrl.grades" data-value="{{gr}}">{{gr}}</div>
                        </div>
                      </div>
                    </div>
                    <small ng-show="questionUnitBrowserForm.qcGrade.$invalid && !questionUnitBrowserForm.qcGrade.$pristine" class="qcError">Select grade.</small>
                  </div>
                </div>
                <div class="ui grid two column row">
                  <div class="column">
                    <label class="qcMetadateFormLbl">
                      Concepts <span class="star">&nbsp;*</span>
                    </label>
                    <input type="text" id="conceptsTextBoxMeta" value="Choose concepts" readonly="true" id="concepts-drop-down" ng-click="$ctrl.generateTelemetry({type: 'click', subtype: 'select', id: 'dropDown'},$event)" />
                    <span id="concepts_dummy" class="disabled">{{$ctrl.Totalconcepts}} concept(s) choosen</span>
                    <small ng-show="$ctrl.qcconcepterr" class="qcError">Select concept</small>
                  </div>
                  <div class="column">
                    <label class="qcMetadateFormLbl" data-original-title="Question desc">
                      Question description <span class="star">&nbsp;*</span>
                    </label>
                    <textarea type="text" class="form-control" id="questionTitle" placeholder="Question description" name="questionDesc" ng-model="$ctrl.questionData.questionDesc" required></textarea>
                    <small ng-show="questionUnitBrowserForm.questionDesc.$invalid && !questionUnitBrowserForm.questionDesc.$pristine" class="qcError">Enter question description.</small>
                  </div>
                </div>
                <div class="ui grid two column row">
                  <div class="column">
                    <label class="qcMetadateFormLbl" data-original-title="Question max score">
                      Max score <span class="star">&nbsp;*</span>
                    </label>
                    <input type="number" class="form-control" id="questionTitle" min="1" max="12" name="questionMaxScore" ng-model="$ctrl.questionData.questionMaxScore" required/>
                    <small ng-show="questionUnitBrowserForm.questionMaxScore.$invalid && !questionUnitBrowserForm.questionMaxScore.$pristine" class="qcError">Enter max score.</small>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="five wide column previewArea" ng-show="$ctrl.createQuestionScreen || $ctrl.metadaFormScreen">
          <div class="previewAreaHead">
            <span class="ui left floated previewHeading">Preview</span>
            <i class="icon undo ui right-floated replyIcon" id="preview-icon" ng-click="$ctrl.validateQuestionCreationForm($event);"></i>
            <div class="qc-show-preview">
              <div class="ui raised child preview-iframe-wrapper" ng-show='$ctrl.showPreview'>
                <iframe id="iframeArea" class="iframe-preview"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="QuestionMetaForm two column row" ng-show="$ctrl.metadaFormScreen">
        <div class="seven wide column md" style="margin-right: 1%">
        <form name="questionUnitBrowserForm" novalidate>
          <div class="ui grid three column row">
            <div class="column">
              <label class="qcMetadateFormLbl" data-original-title="Question title">
                Question title <span class="star">&nbsp;*</span>
              </label>
              <input type="text" class="form-control" id="questionTitle" placeholder="Question title" name="questionTitle" ng-model="$ctrl.questionData.questionTitle" required/>
              <small ng-show="questionUnitBrowserForm.questionTitle.$invalid && !questionUnitBrowserForm.questionTitle.$pristine" class="qcError">Enter question title.</small>
            </div>
            <div class="column">
              <label class="qcMetadateFormLbl">Language <span class="star">&nbsp;*</span></label>
              <select class="ui dropdown dropdownBox form-control" name="qcLanguage" ng-model="$ctrl.questionData.qcLanguage" id="language-drop-down" ng-click="$ctrl.generateTelemetry({type: 'select', subtype: 'dropDown', 'id': 'dropDown'},$event)" required>
                <option value="" selected="selected">Choose language</option>
                <option ng-repeat="lang in $ctrl.languages" value="{{lang}}">{{lang}}</option>
              </select>
              <small ng-show="questionUnitBrowserForm.qcLanguage.$invalid && !questionUnitBrowserForm.qcLanguage.$pristine" class="qcError">Select language.</small>
            </div>
            <div class="column">
              <label class="qcMetadateFormLbl">
                Level <span class="star">&nbsp;*</span>
              </label>
              <select class="ui dropdown dropdownBox form-control" name="qcLevel" ng-model="$ctrl.questionData.qcLevel" id="level-drop-down" ng-click="$ctrl.generateTelemetry({type: 'select', subtype: 'dropDown', 'id': 'dropDown'},$event)" required>
                <option value="" selected="selected">Choose level</option>
                <option ng-selected="{{$ctrl.qcLevel}}" ng-repeat="lev in $ctrl.level" value="{{lev}}">{{lev}}</option>
              </select>
              <small ng-show="questionUnitBrowserForm.qcLevel.$invalid && !questionUnitBrowserForm.qcLevel.$pristine" class="qcError">Select level.</small>
            </div>
          </div>
          <div class="ui grid three column row">
            <div class="column">
              <label class="qcMetadateFormLbl">
                Grade <span class="star">&nbsp;*</span>
              </label>
              <div class="no label example">
                <div class="ui fluid dropdown selection multiple" tabindex="0" id="grade-drop-down" ng-click="$ctrl.generateTelemetry({type: 'select', subtype: 'dropDown', id: 'dropDown'},$event)">
                  <select multiple="" name="binary" class="grade form-control" name="qcGrade" ng-model="$ctrl.questionData.qcGrade" required>
                    <option ng-repeat="g in $ctrl.grades" value="{{g}}" selected="{{$ctrl.questionData.qcGrade[$index]}}">{{g}}</option>
                  </select><i class="dropdown icon"></i>
                  <div class="default text">Select grade</div>
                  <div class="menu" tabindex="-1">
                    <div class="item" ng-repeat="gr in $ctrl.grades" data-value="{{gr}}">{{gr}}</div>
                  </div>
                </div>
              </div>
              <small ng-show="questionUnitBrowserForm.qcGrade.$invalid && !questionUnitBrowserForm.qcGrade.$pristine" class="qcError">Select grade.</small>
            </div>
            <div class="column">
              <label class="qcMetadateFormLbl">
                Concepts <span class="star">&nbsp;*</span>
              </label>
              <input type="text" id="conceptsTextBoxMeta" value="Choose concepts" readonly="true" id="concepts-drop-down" ng-click="$ctrl.generateTelemetry({type: 'click', subtype: 'select', id: 'dropDown'},$event)" />
              <span id="concepts_dummy" class="disabled">{{$ctrl.Totalconcepts}} concept(s) choosen</span>
              <small ng-show="$ctrl.qcconcepterr" class="qcError">Select concept</small>
            </div>
            <div class="column">
              <label class="qcMetadateFormLbl" data-original-title="Question desc">
                Question description <span class="star">&nbsp;*</span>
              </label>
              <textarea type="text" class="form-control" id="questionTitle" placeholder="Question description" name="questionDesc" ng-model="$ctrl.questionData.questionDesc" required></textarea>
              <small ng-show="questionUnitBrowserForm.questionDesc.$invalid && !questionUnitBrowserForm.questionDesc.$pristine" class="qcError">Enter question description.</small>
            </div>
             <div class="column">
              <label class="qcMetadateFormLbl" data-original-title="Question max score">
                Max score <span class="star">&nbsp;*</span>
              </label>
              <input type="number" class="form-control" id="questionTitle" min="1" max="12" name="questionMaxScore" ng-model="$ctrl.questionData.questionMaxScore" required/>
              <small ng-show="questionUnitBrowserForm.questionMaxScore.$invalid && !questionUnitBrowserForm.questionMaxScore.$pristine" class="qcError">Enter question title.</small>
            </div>
          </div>
        </form>
        </div>
      </div> -->
    </div>
    <div class="actions bottomActionButtons">
      <!-- <button class="ui large orange button left floated" id="ques-cancel-button" ng-click="$ctrl.cancel();$ctrl.generateTelemetry({type: 'click', subtype: 'select', id: 'button'},$event)">Cancel</button> -->
      <div class="ui buttons">
        <button class="ui basic primary button" id="back-button" ng-show="$ctrl.createQuestionScreen || $ctrl.metadaFormScreen" ng-click="$ctrl.back();$ctrl.generateTelemetry({type: 'click', subtype: 'select', id: 'button'},$event)">Back</button>
        <div class="or" ng-show="$ctrl.createQuestionScreen || $ctrl.metadaFormScreen"></div>
        <button class="ui large blue button" ng-show="$ctrl.createQuestionScreen" id="back-button" ng-click="$ctrl.validateQuestionCreationForm($event);$ctrl.generateTelemetry({type: 'click', subtype: 'select', id: 'button'},$event)">Next</button>
        <button class="ui large blue button" ng-show="$ctrl.metadaFormScreen" id="save-question-button" ng-click="$ctrl.sendData(questionUnitBrowserForm.$valid);$ctrl.generateTelemetry({type: 'click', subtype: 'select', id: 'button'},$event)" ng-disabled="(!questionUnitBrowserForm.$valid) || (!$ctrl.conceptsCheck)">Submit</button>
      </div>
    </div>
  </div>
</script>