<script type="text/ng-template" id="QuestionUnitBrowser" ng-controller="QuestionCreationFormController as $ctrl">
  <div class="ui modal questioncreation fullscreen active">
    <div class="header" style="padding-right:1em;">
      <div class="ui two column grid">
        <div class="row">
          <div class="two wide column">
            <span ng-if="!$ctrl.editMode">Create Question</span>
            <span ng-if="$ctrl.editMode">Edit Question</span>
          </div>
          <div class="eight wide column center aligned">
            <div class="ui huge breadcrumb breadcrumbTitle">
              <div ng-class="{activeBreadcumb: $ctrl.templatesScreen == true}" class="section">Choose Template</div>
              <i class="right chevron icon divider"></i>
              <div class="section" ng-class="{activeBreadcumb: !$ctrl.questionMetadataScreen == true}">Question Configuration</div>
              <i class="right chevron icon divider"></i>
              <div class="section" ng-class="{activeBreadcumb: $ctrl.questionMetadataScreen == true}">Question Details</div>
            </div>
          </div>
          <div class="two wide column right aligned">
            <i class="cursor-pointer close link icon" ng-click="closeThisDialog();$ctrl.generateTelemetry({type: 'click', subtype: 'close', target: 'closeButton'}, $event)"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="ui grid custom-grid">
      <div class="two column row" ng-show="$ctrl.templatesScreen">
        <!-- <div class="three wide column">
          <div class="ui secondary vertical menu" id="qcSideMenu">
            <div class="item" ng-repeat="(key, value) in $ctrl.menuItems" ng-click="$ctrl.select($parent.$index, $index)" ng-class="{activeItem: $parent.$index + '.' + $index == $ctrl.selected}" ng-if="value.templatesData.length > 0">
              <div class="content">
                <a class="header" id={{value.category}} ng-click="$ctrl.switchTab($index,value);$ctrl.generateTelemetry({type: 'select', subtype: 'dropDown', id: 'dropDown'},$event)"><i class="{{value.data.icon}}"></i> {{value.data.name}}</a>
              </div>
            </div>
          </div>
        </div> -->
        <div class="twelve wide column" id="templatsCards">
          <!-- <div class="ui stackable five column grid qcCustomGrid">
            <div class="column" ng-repeat="(key, value) in $ctrl.allMenuItems">
              <div class="ui card qcTemplateCard">
                <div class="content" id="templateCardHeader">
                  <div class="left floated meta" id="templateCardHeaderText">{{value.title}}</div>
                </div>
                <div class="content templateCard">
                  <img src="{{value.thumbnail1}}" />
                  <span ng-click="$ctrl.addCreateQuestionForm(value)">
                    <div class="templateDisc">
                      <p>Standard Multiple choice question.</p>
                      <i class="plus icon"></i>
                    </div>
                  </span>
                </div>
              </div>
            </div>
          </div> -->
          <div class="ui five stackable cards">
            <div class="card card-hover-effect" ng-repeat="(key, value) in $ctrl.allMenuItems">
              <div class="image">
                <img src="{{value.thumbnail1}}" />
              </div>
              <div class="content">
                <a class="header card-header">{{value.title}}</a>
                <!-- <div class="meta">
                  <br/>
                  <span>{{value.disc}}</span>
                </div> -->
              </div>
              <div class="extra content">
                <div class="right floated">
                  <div class="ui small primary button" ng-click="$ctrl.addCreateQuestionForm(value)">Select</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="two column row">
        <div class="seven wide column">
          <div class="templateHead"><span ng-show="!$ctrl.questionMetadataScreen && !$ctrl.templatesScreen">{{$ctrl.templateName}}</span></div>
          <div ng-if="$ctrl.questionUnitTemplateURL" ng-show="!$ctrl.questionMetadataScreen && !$ctrl.templatesScreen">
            <ng-include src="$ctrl.questionUnitTemplateURL"></ng-include>
          </div>
          <div class="QuestionMetaForm" ng-show="$ctrl.questionMetadataScreen">
            <div class="seven wide column md" style="margin-right: 1%">
              <form name="questionUnitBrowserForm" novalidate>
                <div class="ui grid two column row">
                  <div class="column">
                    <label class="qcMetadateFormLbl" data-original-title="Question title">
                      Question Title <span class="star">&nbsp;*</span>
                    </label>
                    <input type="text" class="form-control" id="questionTitle" placeholder="Question title" name="questionTitle" ng-model="$ctrl.questionData.questionTitle" required/>
                    <small ng-show="questionUnitBrowserForm.questionTitle.$invalid && !questionUnitBrowserForm.questionTitle.$pristine" class="qcError">Enter question title.</small>
                  </div>
                  <div class="column">
                    <label class="qcMetadateFormLbl">Language <span class="star">&nbsp;*</span></label>
                    <select class="ui dropdown dropdownBox form-control" name="qcLanguage" ng-model="$ctrl.questionData.qcLanguage" id="language-drop-down" ng-click="$ctrl.generateTelemetry({type: 'select', subtype: 'dropDown', 'id': 'dropDown'},$event)"  required>
                      <option value="" selected="selected">Choose Language</option>
                      <option ng-repeat="lang in $ctrl.languages" value="{{lang}}">{{lang}}</option>
                    </select>
                    <small ng-show="questionUnitBrowserForm.qcLanguage.$invalid && !questionUnitBrowserForm.qcLanguage.$pristine" class="qcError">Select Language.</small>
                  </div>
                </div>
                <div class="ui grid two column row">
                  <div class="column">
                    <label class="qcMetadateFormLbl">
                      Level <span class="star">&nbsp;*</span>
                    </label>
                    <select class="ui dropdown dropdownBox form-control" name="qcLevel" ng-model="$ctrl.questionData.qcLevel" id="level-drop-down" ng-click="$ctrl.generateTelemetry({type: 'select', subtype: 'dropDown', 'id': 'dropDown'},$event)" required>
                      <option value="" selected="selected">Choose Level</option>
                      <option ng-selected="{{$ctrl.qcLevel}}" ng-repeat="lev in $ctrl.level" value="{{lev}}">{{lev}}</option>
                    </select>
                    <small ng-show="questionUnitBrowserForm.qcLevel.$invalid && !questionUnitBrowserForm.qcLevel.$pristine" class="qcError">Select Level.</small>
                  </div>
                  <div class="column">
                    <label class="qcMetadateFormLbl">
                      Grade <span class="star">&nbsp;*</span>
                    </label>
                    <div class="no label example">
                      <div class="ui fluid dropdown selection multiple gradeMultiple" tabindex="0" id="grade-drop-down" ng-click="$ctrl.generateTelemetry({type: 'select', subtype: 'dropDown', id: 'dropDown'},$event)">
                        <select multiple="" name="binary" class="grade form-control" name="qcGrade" ng-model="$ctrl.questionData.qcGrade" required>
                          <option value="" selected="selected">Choose Grade</option>
                          <option ng-repeat="g in $ctrl.grades" value="{{g}}" ng-selected="$ctrl.questionData.qcGrade[$index]">{{g}}</option>
                        </select><i class="dropdown icon"></i>
                        <div class="default text">Select Grade</div>
                        <div class="menu" tabindex="-1">
                          <div class="item" ng-repeat="gr in $ctrl.grades" data-value="{{gr}}">{{gr}}</div>
                        </div>
                      </div>
                    </div>
                    <small ng-show="questionUnitBrowserForm.qcGrade.$invalid && !questionUnitBrowserForm.qcGrade.$pristine" class="qcError">Select Grade.</small>
                  </div>
                </div>
                <div class="ui grid two column row">
                  <div class="column">
                    <label class="qcMetadateFormLbl">
                      Concepts <span class="star">&nbsp;*</span>
                    </label>
                    <input type="text" id="conceptsTextBoxMeta" value="Choose concepts" readonly="true" id="concepts-drop-down" ng-click="$ctrl.generateTelemetry({type: 'click', subtype: 'select', id: 'dropDown'},$event)" />
                    <span id="concepts_dummy" class="disabled">{{$ctrl.Totalconcepts}} concept(s) choosen</span>
                    <small ng-show="$ctrl.qcconcepterr" class="qcError">Select Concept</small>
                  </div>
                  <div class="two wide column">
                    <label class="qcMetadateFormLbl" data-original-title="Question max score">
                      Max Score <span class="star">&nbsp;*</span>
                    </label>
                    <input type="number" class="form-control" id="questionTitle" min="1" max="12" name="questionMaxScore" ng-model="$ctrl.questionData.questionMaxScore" required/>
                    <small ng-show="questionUnitBrowserForm.questionMaxScore.$invalid && !questionUnitBrowserForm.questionMaxScore.$pristine" class="qcError">Enter max score.</small>
                  </div>
                </div>
                <div class="ui grid two column row">
                  <div class="twelve wide column">
                    <label class="qcMetadateFormLbl" data-original-title="Question desc">
                      Question Description
                    </label>
                    <textarea type="text" class="form-control" id="questionTitle" placeholder="Question description" name="questionDesc" ng-model="$ctrl.questionData.questionDesc"></textarea>
                    <!-- <small ng-show="questionUnitBrowserForm.questionDesc.$invalid && !questionUnitBrowserForm.questionDesc.$pristine" class="qcError">Enter question Description.</small> -->
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="five wide column previewArea" ng-show="!$ctrl.templatesScreen" >
          <div class="previewAreaHead">
            <div class="preview-heading">
              <h3 class="ui left floated previewHeading">Preview</h3>
              <i class="icon undo ui right-floated replyIcon" ng-click="$ctrl.showPreview()"></i>
            </div>
            <div class="qc-show-preview">
              <div class="ui raised child preview-iframe-wrapper">
                <iframe id="iframeArea" class="iframe-preview" ng-init="$ctrl.loadPreview()"></iframe>
              </div>
            </div>
          </div>
          <div class="previewAreaHead" ng-init="$ctrl.loadDropdown()" ng-show="$ctrl.selectedTemplatePluginData.plugin.id == 'org.ekstep.questionunit.mcq'">
            <div class="preview-heading">
              <h3 class="ui left floated previewHeading">Configuration</h3>
            </div>
             <label class="qcMetadateFormLbl">
              Select layout <span class="star">&nbsp;*</span>
            </label>
            <select class="ui dropdown form-control" name="templateType" ng-model="$ctrl.questionData.templateType" ng-change="$ctrl.updatePreview();" required>
              <!-- <option value="" selected="selected">Choose Layout</option> -->
              <option ng-repeat="tem in $ctrl.templatesType" value="{{tem}}">{{tem}}</option>
            </select>
            <div>
                <div class="ui label qb-toggle-label">Shuffle Option</div>
                <div class="ui fluid toggle checkbox verticalcenter">
                    <input type="checkbox" ng-model="$ctrl.questionData.isShuffleOption" ng-change="$ctrl.updatePreview();">
                    <label>&nbsp;</label>
                </div>
            </div>
          </div>
          <div class="previewAreaHead" ng-show="$ctrl.selectedTemplatePluginData.plugin.id != 'org.ekstep.questionunit.mcq'">
             <div class="preview-heading">
              <h3 class="ui left floated previewHeading">Configuration</h3>
            </div>
            <div class="ui label qb-toggle-label">Partial Scoring </div>
            <div class="ui fluid toggle checkbox verticalcenter">
              <input type="checkbox" ng-model="$ctrl.questionData.isPartialScore">
              <label>&nbsp;</label>
          </div>
          </div>
      </div>
    </div>
  </div>
  <div class="actions bottomActionButtons">
    <div class="ui buttons">
      <button class="ui basic primary button" id="back-button" ng-show="!$ctrl.templatesScreen" ng-click="$ctrl.back();$ctrl.generateTelemetry({type: 'click', subtype: 'select', id: 'button'},$event)" ng-disabled="$ctrl.setBackButtonState()">Back</button>
      <div class="or" ng-show="!$ctrl.templatesScreen"></div>
      <button class="ui large blue button" ng-show="!$ctrl.questionMetadataScreen && !$ctrl.templatesScreen" id="back-button" ng-click="$ctrl.showMetaform();$ctrl.generateTelemetry({type: 'click', subtype: 'select', id: 'button'},$event)">Next</button>
      <button class="ui large blue button" ng-if="$ctrl.questionMetadataScreen" id="save-question-button" ng-click="$ctrl.sendData(questionUnitBrowserForm.$valid);$ctrl.generateTelemetry({type: 'click', subtype: 'select', id: 'button'},$event)" ng-disabled="(!questionUnitBrowserForm.$valid) || (!$ctrl.conceptsCheck)">Submit</button>
    </div>
  </div>
</div>
</script>