<div class="row">
    <div class="todoHolder ui message" style="overflow:auto;max-height:500px;">
        <div class="pageLevelTodos">
            <div class="content {{showTodo ? 'active': ''}}">
                <div class="description">
                    <div id="pageLevelTodos"></div>
                </div>
            </div>
        </div>
        <div class="ui hidden divider"></div>
        <div class="pageLevelResolvedTodos">
            <div class="content {{showTodo ? 'active': ''}}">
                <div class="description">
                    <div id="pageLevelResolvedTodos"></div>
                </div>
            </div>
        </div>
    </div>
</div>
