<div ng-app="collectioneditormetaApp" ng-controller="collectioneditormetaController">
    <form class="ui form segment" id="contents-data-form" novalidate>
        <div class="fields">
            <div class="two wide required field book-image-field">
                <label for="bookImage">Add image</label>
                <div class="book-image-container" ng-click="showAssestBrowser()">
                    <i class="camera icon"></i>
                    <img ng-src="{{textbook.image}}" ng-show="textbook.image != ''" />
                </div>
            </div>
            <div class="ten wide field form-fields-except-image">
                <div class="required field">
                    <label>Title</label>
                    <div class="ui input">
                        <input placeholder="Enter title for Book unit" ng-model="textbook.name" name="title" type="text">
                    </div>
                </div>
                <div class="four fields">
                    <div class="field">
                        <label for="board">Board</label>
                        <div class="ui selection dropdown">
                            <i class="dropdown icon"></i>
                            <div class="default text">Board</div>
                            <div class="menu">
                                <div class="item" data-value="cbse">CBSE</div>
                                <div class="item" data-value="icse">ICSE</div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label for="medium">Medium</label>
                        <div class="ui selection dropdown">
                            <i class="dropdown icon"></i>
                            <div class="default text">Medium</div>
                            <div class="menu">
                                <div class="item" data-value="eng">English</div>
                                <div class="item" data-value="hin">Hindi</div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label for="subject">Subject</label>
                        <div class="ui selection dropdown">
                            <i class="dropdown icon"></i>
                            <div class="default text">Subject</div>
                            <div class="menu">
                                <div class="item" data-value="maths">Maths</div>
                                <div class="item" data-value="science">Science</div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label for="grade">Grade</label>
                        <div class="ui selection dropdown">
                            <i class="dropdown icon"></i>
                            <div class="default text">Grade</div>
                            <div class="menu">
                                <div class="item" data-value="kg">Kindergarten</div>
                                <div class="item" data-value="g1">Grade 1</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="three fields">
                    <div class="required field">
                        <label for="author">Author</label>
                        <input type="text" placeholder="Enter author name" ng-model="textbook.author" />
                    </div>
                    <div class="field">
                        <label for="publication">Publication</label>
                        <input type="text" placeholder="Publication (optional)" ng-model="textbook.publication" />
                    </div>
                    <div class="field">
                        <label for="edition">Edition</label>
                        <input type="text" placeholder="Edition (optional)" ng-model="textbook.edition" />
                    </div>
                </div>
                <div class="requiered field">
                    <label>Description</label>
                    <div class="ui input">
                        <textarea placeholder="brief description about the unit" ng-model="textbook.description" rows="2"></textarea>
                    </div>
                </div>
                <div class="field">
                    <label>Concepts</label>
                    <input name="concepts" id="conceptSelector" ng-model="textbook.concepts" type="text">
                </div>
                <div class="two fields">
                    <div class="required twelve wide field">
                        <label>Keywords</label>
                        <a class="ui label">Tag1<i class="delete icon"></i></a>
                        <a class="ui label">Tag2<i class="delete icon"></i></a>
                        <a class="ui label">Tag3<i class="delete icon"></i></a>
                        <a class="ui label">Tag4<i class="delete icon"></i></a>
                        <a class="ui label">Tag5<i class="delete icon"></i></a>
                        <input id="keywords" name="keywords" ng-model="textbook.keywords" type="text">
                    </div>
                    <div class="four wide field">
                        <label for="audience">Audience</label>
                        <div class="ui selection dropdown">
                            <i class="dropdown icon"></i>
                            <div class="default text">Audience</div>
                            <div class="menu">
                                <div class="item" data-value="learner">Learner</div>
                                <div class="item" data-value="instructor">Instructor</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Notes to Teacher</label>
                    <input placeholder="Add Notes" ng-model="textbook.notes" name="notes" type="text">
                </div>
                <div class="field">
                    <label>Page No.</label>
                    <input placeholder="Page no" ng-model="textbook.pageNumber" name="pageNumber" type="text">
                </div>
            </div>
        </div>
        <div class="ui primary submit button right" id="save-button" ng-click="saveNodeMetadata()">
            Save
        </div>
        <div class="ui primary submit button right" id="save-button" ng-click="addlesson()">
            Add lesson
        </div>
    </form>
</div>
<script>
$(".ui.selection.dropdown").dropdown();
</script>
