<div ng-app="collectioneditormetaApp" class="metacontent-wrapper" ng-controller="collectioneditormetaController">
    <div class="ui segment header-segment">
        <div class="ui breadcrumb">
            <a class="section">Untitled book</a>
            <div class="divider"> / </div>
            <a class="section">Unit 1</a>
            <div class="divider"> / </div>
            <a class="section">Unit 1.1</a>
            <div class="divider"> / </div>
            <a class="section">Unit 1.1</a>
            <div class="divider"> / </div>
            <div class="active section">Collection1</div>
        </div>
        <h3 class="header-bottom-segment inline-block">Collection1</h3>
        <div class="header-buttons-container header-bottom-segment inline-block">
            <div class="ui primary submit button inline-block right-float button-overrides" id="save-button" ng-click="saveNodeMetadata()">
                Edit
            </div>
            <div class="ui primary submit button inline-block right-float button-overrides" id="update-button" ng-click="saveNodeMetadata()">
                Update
            </div>
            <div class="ui primary basic submit button inline-block right-float button-overrides" id="add-lesson-button" ng-click="addlesson()">
                Add lesson
            </div>
        </div>
    </div>
    <div class="ui segment" id="read-metadata-wrapper">
        <div class="ui items">
            <div class="item">
                <div class="ui tiny image">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkUI7_o0MDUGp01eHyGb3tN6H79_D09QUf0Vn1PvzUoiUgTF9Llg" alt="">
                </div>
                <div class="content">
                    <div class="header">ESL Course</div>
                    <div class="meta">by&nbsp;
                        <span id="book-author">Test Author</span>
                    </div>
                    <div class="description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem impedit quidem, possimus nisi illum voluptatum quibusdam, ducimus. Dolor at animi fuga dolorum ullam alias totam, facere eius non, consequatur, repellendus.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="metacontent-fields-container">
            <div class="metacontent-field">
                <div class="field-text">
                    <h5 class="field-key">Board</h5>
                    <h5 class="field-value">CBSE</h5>
                </div>
            </div>
            <div class="metacontent-field">
                <div class="field-text">
                    <h5 class="field-key">Medium</h5>
                    <h5 class="field-value">English</h5>
                </div>
            </div>
            <div class="metacontent-field">
                <div class="field-text">
                    <h5 class="field-key">Subject</h5>
                    <h5 class="field-value">Maths</h5>
                </div>
            </div>
            <div class="metacontent-field">
                <div class="field-text">
                    <h5 class="field-key">Grade</h5>
                    <h5 class="field-value">Kindergarten</h5>
                </div>
            </div>
            <div class="metacontent-field">
                <div class="field-text">
                    <h5 class="field-key">Publication</h5>
                    <h5 class="field-value">Test publication</h5>
                </div>
            </div>
            <div class="metacontent-field">
                <div class="field-text">
                    <h5 class="field-key">Edition</h5>
                    <h5 class="field-value">3rd</h5>
                </div>
            </div>
            <div class="metacontent-field">
                <div class="field-text">
                    <h5 class="field-key">Audience</h5>
                    <h5 class="field-value">Learner</h5>
                </div>
            </div>
            <div class="long metacontent-field">
                <div class="field-text">
                    <h5 class="field-key">Concepts</h5>
                    <div class="field-value-wrapper">
                        <span class="field-value">Concept1</span>,
                        <span class="field-value">Concept2</span>,
                        <span class="field-value">Concept3</span>,
                        <span class="field-value">Concept4</span>,
                        <span class="field-value">Concept5</span>
                    </div>
                </div>
            </div>
            <div class="long metacontent-field">
                <div class="field-text">
                    <h5 class="field-key">Keywords</h5>
                    <div class="field-value-wrapper">
                        <span class="field-value">Keyword1</span>,
                        <span class="field-value">Keyword2</span>,
                        <span class="field-value">Keyword3</span>,
                        <span class="field-value">Keyword4</span>,
                        <span class="field-value">Keyword5</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form class="ui form segment" id="contents-data-form" novalidate style="display:none;">
        <div class="fields">
            <div class="field book-image-field">
                <label for="bookImage">Add image</label>
                <div class="book-image-container" ng-click="showAssestBrowser()">
                    <i class="camera icon"></i>
                    <img ng-src="{{textbook.image}}" ng-show="textbook.image != ''" />
                </div>
            </div>
            <div class="field form-fields-except-image">
                <div class=" field">
                    <label>Title</label>
                    <div class="ui input">
                        <input placeholder="Enter title for Book unit" ng-model="textbook.name" name="title" type="text">
                    </div>
                </div>
                <div class="four fields">
                    <div class="field">
                        <label for="board">Board</label>
                        <div class="ui selection dropdown">
                            <i class="dropdown icon"></i>
                            <div class="default text">Board</div>
                            <div class="menu">
                                <div class="item" data-value="cbse">CBSE</div>
                                <div class="item" data-value="icse">ICSE</div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label for="medium">Medium</label>
                        <div class="ui selection dropdown">
                            <i class="dropdown icon"></i>
                            <div class="default text">Medium</div>
                            <div class="menu">
                                <div class="item" data-value="eng">English</div>
                                <div class="item" data-value="hin">Hindi</div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label for="subject">Subject</label>
                        <div class="ui selection dropdown">
                            <i class="dropdown icon"></i>
                            <div class="default text">Subject</div>
                            <div class="menu">
                                <div class="item" data-value="maths">Maths</div>
                                <div class="item" data-value="science">Science</div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label for="grade">Grade</label>
                        <div class="ui selection dropdown">
                            <i class="dropdown icon"></i>
                            <div class="default text">Grade</div>
                            <div class="menu">
                                <div class="item" data-value="kg">Kindergarten</div>
                                <div class="item" data-value="g1">Grade 1</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="three fields">
                    <div class=" field">
                        <label for="author">Author</label>
                        <input type="text" placeholder="Enter author name" ng-model="textbook.author" />
                    </div>
                    <div class="field">
                        <label for="publication">Publication</label>
                        <input type="text" placeholder="Publication (optional)" ng-model="textbook.publication" />
                    </div>
                    <div class="field">
                        <label for="edition">Edition</label>
                        <input type="text" placeholder="Edition (optional)" ng-model="textbook.edition" />
                    </div>
                </div>
                <div class="requiered field">
                    <label>Description</label>
                    <div class="ui input">
                        <textarea placeholder="brief description about the unit" ng-model="textbook.description" rows="2"></textarea>
                    </div>
                </div>
                <div class="field">
                    <label>Concepts</label>
                    <input name="concepts" id="conceptSelector" ng-model="textbook.concepts" type="text">
                </div>
                <div class="two fields">
                    <div class=" twelve wide field">
                        <label>Keywords</label>
                        <input id="keywords" name="keywords" ng-model="textbook.keywords" type="text">
                    </div>
                    <div class="four wide field">
                        <label for="audience">Audience</label>
                        <div class="ui selection dropdown">
                            <i class="dropdown icon"></i>
                            <div class="default text">Audience</div>
                            <div class="menu">
                                <div class="item" data-value="learner">Learner</div>
                                <div class="item" data-value="instructor">Instructor</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Notes to Teacher</label>
                    <input placeholder="Add Notes" ng-model="textbook.notes" name="notes" type="text">
                </div>
                <div class="field">
                    <label>Page No.</label>
                    <input placeholder="Page no" ng-model="textbook.pageNumber" name="pageNumber" type="text">
                </div>
            </div>
        </div>
    </form>
</div>
<script>
$(".ui.selection.dropdown").dropdown();
</script>
