
   
    root {
      --font-size-base: 1rem;
      --font-size-factor: 1vw;
      --font-size: calc(var(--font-size-base) + var(--font-size-factor));
    }
    body {
      font-size: calc(14px + (32 - 14) * (100vw - 360px)/(1920 - 360)) !important;
      /* font-size:calc(14px + 0.72916vw) !important; */
      line-height: normal;
    }
    .assessment-overlay{
      background: rgba(0,0,0,0.4);
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      height: 100vh;
      width: 100%;
    }
    .assessment-content{
      padding: 30px;
      font-size: 1em;
      max-width: 36em;
      margin: 0 auto;
    }
    .assessment-result-content{
      width: 640px;
      margin: 0 auto;
      background: #fff;
      box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
      max-width: 70%;
      .score{
          font-weight: bold;
      }
    }
    .assessment-result-content  .score{
      font-weight: bold;
  }
  .assessment-content-title{
    font-size: 1em;
    color: #024F9D;
    text-align: center;
  }
  .assessment-content-description{
    color: #333333;
    font-size: 0.9em;
  }
  .assessment-scoreitem {
    margin-bottom:8px;
  }
  .assessment-scoreitem:last-child{
    margin-bottom:0px;
  }
  .assessment-action-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sb-btn-responsive {
    height: auto;
    padding: 0.75em 1.5em;
    transition: 0.3s;
    font-size: 0.8em;
    display: inline-block;
  }

  .sb-btn {
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
    display: inline-block;
    border: 1px solid;
    color: var(--white);
    cursor: pointer;
    min-width: 64px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    position: relative;
    text-transform: capitalize;
    text-decoration: none;
}
.sb-btn-normal {
    height: 32px;
    font-size: 11.9994px;
}
.sb-btn-xs, .sb-btn-normal, .sb-btn-sm {
    padding: 8px 16px;
}
.sb-btn-outline-primary, .sb-btn-outline-info {
    background-color: #fff;
    color:#024f9d; 
}
.sb-btn-primary, .sb-btn-info {
    border-color: #024f9d;
    background-color: #024f9d;
    color: #fff;
}
.mt-40 {
    margin-top: 40px !important;
 }
 .mr-24 {
    margin-right: 24px !important;
 }
