root {
    --font-size-base: 1rem;
    --font-size-factor: 1vw;
    --font-size: calc(var(--font-size-base) + var(--font-size-factor));
  }
  body {
    font-size: calc(12.5px + (32 - 14) * (100vw - 360px)/(1920 - 360)) !important;
    //font-size:calc(14px + 0.72916vw) !important;
    line-height: normal;
  }
  .assessment-overlay{
    background: rgba(0,0,0,0.4);
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
  }
  .assessment-content{
    padding: 1.5em;
    font-size: 1em;
    max-width: 36em;
    margin: 0 auto;
  }
  .assessment-result-content{
    width: 30em;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
    height: auto;
  }
  .assessment-result-content  .score{
    font-weight: bold;
  }
  .assessment-content-title{
    font-size: 0.9em;
    color: #024F9D;
    text-align: center;
    margin: 1em 0;
  }
  .assessment-content-description{
    color: #333333;
    font-size: 0.9em;
    padding: 1em 0px 2em 0px;
  }
  .assessment-scoreitem {
    margin-bottom: 0.8em;
  }
  .assessment-scoreitem:last-child{
    margin-bottom: 0px;
  }
  .assessment-action-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sb-btn-responsive {
    height: auto;
    padding: 0.75em 3em;
    transition: 0.3s;
    font-size: 0.8em;
    display: inline-block;
    border: 0.05em solid;
  }
  .assessment-score-content .assessment-content-title{
    color: #333333;
    font-weight: bold;
  }
  .assessment-score-content .assessment-content-description{
    color: #666666;
    padding-top: 0;
  }
  
.sb-btn {
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
  display: inline-block;
  color: var(--white);
  cursor: pointer;
  min-width: 64px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  position: relative;
  text-transform: capitalize;
  text-decoration: none;
}
.sb-btn-outline-primary, .sb-btn-outline-info {
  background-color: #fff;
  color:#024f9d; 
}
.sb-btn-primary, .sb-btn-info {
  border-color: #024f9d;
  background-color: #024f9d;
  color: #fff;
}
.mr-24 {
  margin-right: 1.5em !important;
}
.mt-24 {
  margin-top: 24px !important;
}
