<div ng-app="org.ekstep.sunbirdcollectionheader:app" ng-controller="headerController" class="ui masthead vertical segment content-masterhead">
    <!-- new header code start -->
    <div class="ui grid fluid container custom-container">
        <!-- header part 1 -->
        <div class="one wide column custom-1-wide">
            <img class="ui tiny centered image" src="{{contentDetails.contentImage}}" />
        </div>
        <!-- header part 1 -->
        <!-- header part 2 -->
        <div class="four wide column custom-6-wide">
            <!-- content title -->
            <div class="row custom-row-1 content-title-container">
                <label class="content-title" ng-bind="contentDetails.contentTitle | limitTo:30">
                    <span ng-if="contentDetails.contentTitle.length > 30">...</span></label>
            </div>
            <!-- content title -->
        </div>
        <div class="two wide column">
            <div ng-if="lastSaved" class="last-saved-label">
                <label class="">Last saved {{lastSaved | timeAgo }}</label>
            </div>
        </div>
        <!-- header part 2 -->
        <!-- header part 3 -->
        <!-- header part 3 upper deck -->
        <!-- header part 3 lower deck -->
        <div class="five wide column custom-5-wide">
            <div class="row header-icon-container">
                <div style="float:right;">
                    <div class="tiny ui button" ng-click="closeEditor();telemetry({ subtype: 'close', target: 'closeButton'});">
                        close
                    </div>
                    <div ng-class="disableReviewBtn ? 'tiny ui blue button disabled' : 'tiny ui blue button'"  data-content="Send for review" data-variation="tiny inverted" data-position="top center" ng-click="sendForReview(); telemetry({ subtype: 'save', target: 'sendforreview'});" ng-hide="hideReviewBtn">
                        <i class="send icon "></i>&nbsp;&nbsp;Send for review
                    </div>
                    <div ng-class="disableSaveBtn ? 'tiny ui blue button disabled' : 'tiny ui blue button'" data-content="Save content" data-variation="tiny inverted" data-position="top center" ng-click="saveContent(); telemetry({ subtype: 'save', target: 'saveBtn'});" >
                        <i class="icon-save"></i>&nbsp;&nbsp;Save
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header part 3 lower deck -->
</div>
