<script type="text/ng-template" ng-controller="mainCtrl as $ctrl" id="sendForReviewWarning">
  <div class="ui small modal visible active" style="top: 12%">
    <!-- <div class="header">
      <div class="ui two column grid">
            <div class="row">
                <div class="column">
                    <span>QR Code</span>
                </div>
                <div class="right aligned column">
                    <i class="close link icon" ng-click="closeThisDialog()"></i>
                </div>
            </div>
        </div>
    </div> -->
    <div class="content">
        <h4>Are you sure you want to submit for review without QR code?</h4>
        <p>you haven't added any Textbook levele QR code.</p>
    </div>
    <div class="actions footer">
      <div class="ui buttons ">
          <button id="closePopUp " class="ui orange button " type="button " ng-click="addQRCode()">Add QR Code</button>
          <div class="or "></div>
          <button class="ui blue button " type="button" ng-click="validateUnitsDilcodes()">Continue anyway</button>
      </div>
    </div>
    <!-- <div class="actions">
          <div class="ui primary basic button" ng-click="addQRCode()">Add QR Code</div>
          <div class="ui blue button" ng-click="validateUnitsDilcodes()">Continue anyway</div>
    </div> -->
  </div>
</script>