<div ng-app="org.ekstep.ceheader:headerApp" ng-controller="mainController" class="ui masthead vertical segment content-masterhead">
    <!-- new header code start -->
    <div class="ui grid fluid container custom-container">
        <!-- header part 1 -->
        <div class="one wide centered column custom-1-wide">
            <img class="ui tiny centered image" src="../../../../app/images/ekstep_logo_white.png" />
        </div>
        <!-- header part 1 -->
        <!-- header part 2 -->
        <div class="six wide column custom-6-wide">
            <!-- content title -->
            <div class="row custom-row-1">
                <label class="content-title" ng-bind="contentDetails.contentTitle | limitTo:30">
                    <span ng-if="contentDetails.contentTitle.length > 30">...</span></label>
            </div>
            <!-- content title -->
            <!-- edit lesson details -->
            <div class="row custom-row-2">
                <a class="btn at-btn at-btn-ok" ng-click="editContentMeta(); fireToolbarTelemetry({id: 'editMeta'}, 'editMetaButton')">
                    <i class="edit icon link"></i>&nbsp;Edit Lesson Details
                </a>
            </div>
            <!-- edit lesson details -->
        </div>
        <!-- header part 2 -->
        <!-- header part 3 -->
        <div class="five wide column custom-5-wide">
            <!-- header part 3 upper deck -->
            <div class="row custom-row-1">
                <!-- close button -->
                <div class="close" ng-init="disableRedirectBtn = false">
                    <a ng-class="disableRedirectBtn ? 'disabled': ''" ng-href="{{cancelLink}}" ng-click="disableRedirectBtn = true; fireToolbarTelemetry({id: 'close'}, 'closeButton')" target="_self">
                        <i class="remove icon custom-cursor"></i>
                    </a>
                </div>
                <!-- close button -->
                <!-- username, userprofile menu and its dropdown -->
                <div id="userprofile" ng-show="userDetails.id" class="user-context">
                    <!-- username and user-active red marker -->
                    <div class="browse item at username">
                        <!-- <i class="circle icon user-active-mark"></i> -->
                        <span ng-bind="userDetails.name" class="custom-cursor name"></span>
                        <i class="caret down icon custom-cursor"></i>
                    </div>
                    <!-- username and user-active active red marker -->
                    <!-- userprofile menu -->
                    <div class="ui fluid popup bottom right transition hidden user-details-wrapper">
                        <div class="user-details">
                            <div class="row user avtar">
                                <img src="..\..\..\..\images\com_ekcontent\default-images\default-content.png" alt="user avtar" />
                            </div>
                            <div class="row user-name">
                                <span ng-bind="userDetails.name"></span>
                            </div>
                            <div class="row meta user-email">
                                <span ng-bind="userDetails.email"></span>
                            </div>
                            <!--                             <div class="row user-details-edit">
                                <a href="#">Edit</a>
                            </div>
 --></div>
                        <div class="user-profile-menu">
                            <!-- <div id="whatsNew" class="row option" onclick="alert('what is new');">
                                <span>What's new</span>
                                <i class="circle icon user-active-mark"></i>
                            </div>
                            <div id="takeATour" class="row option">
                                <span>Take a tour</span>
                            </div> -->
                            <!--                             <div id="help" class="row option">
                                <span>Help</span>
                            </div>
 -->
                            <div id="logout" class="row option" ng-init="disableRedirectBtn = false">
                                <a ng-class="disableRedirectBtn ? 'disabled': ''" ng-href="{{userDetails.logout}}" ng-click="disableRedirectBtn = true; fireToolbarTelemetry({id: 'logout'}, 'logoutButton')" target="_self">Logout</a>
                            </div>
                        </div>
                    </div>
                    <!-- userprofile menu -->
                </div>
                <!-- username, userprofile menu and its dropdown -->
            </div>
            <!-- header part 3 upper deck -->
            <!-- header part 3 lower deck -->
            <div class="row header-icon-container">
                <div class="custom-row-2">
                    <div class="icon-group-1">
                        <!--                         <div class="icon-box">
                            <i class="icon-whatsnew custom-icon" ng-click="" title="What's new"></i>
                        </div>
 -->
                        <div class="icon-box">
                            <i class="add user icon custom-icon" ng-click="fireEvent({id: 'collaborator:add'});" title="Add Collaborator"></i>
                        </div>
                    </div>
                    <div class="icon-group-2">
                        <div class="icon-box">
                            <i class="download icon custom-icon" ng-click="fireEvent({id: 'download:content'});" title="Download"></i>
                        </div>
                        <div class="icon-box">
                            <i class="send icon custom-icon" ng-click="fireEvent({id: 'org.ekstep.review:review'});" title="Send for review"></i>
                        </div>
                        <div class="preview-icon-group">
                            <div class="icon-box">
                                <i class="fa fa-eye custom-icon" ng-click="previewContent(); fireTelemetry({id: 'preview'}, 'previewButton');" title="Preview"></i>
                            </div>
                            <div class="ui pointing dropdown icon-box">
                                <i class="caret down icon custom-icon"></i>
                                <div class="menu">
                                    <!-- <div class="item" ng-click="previewContent(); fireToolbarTelemetry({id: 'preview'}, 'previewButton')" title="Preview">
                                        Preview from current stage
                                    </div> -->
                                    <div class="item" ng-click="previewContent('start'); fireTelemetry({id: 'previewFromBeginning'}, 'previewButton')">
                                        Preview from begining
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="icon-box">
                            <i title="Save" class="ui primary icon-save custom-icon" ng-class="ui saveBtnEnabled ? '' : 'ui disabled'" ng-click="saveContent(); fireToolbarTelemetry({id: 'save'}, 'saveButton')" ng-disabled="!contentId"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- header part 3 lower deck -->
        </div>
        <!-- header part 3 -->
    </div>
</div>
