.suggest-content-header {
    height: 50px;
    background-color: #eeeeee;
}
.ui.column.suggest-content-pane{
    padding: 0 !important;
}
.suggest-content-header-content {
    padding-top: 15px;
    padding-left: 15px;
}
.suggest-content-header-text {
    font-size: 14px;
    font-weight: 600;
    text-align: left;
}
.suggest-content-header-title {
    color: #333333;
    text-transform: uppercase;
}
.suggest-content-header-content i {
    padding-right: 8px;
    font-weight: 400;
}
.color-blue {
    color: #0073ff;
    cursor: pointer;
}
.refresh-btn {
    padding-left: 8%;
}
.card-padding {
    padding: 10px 10px 0 10px;
}
.card-list .ui.items>.item>.content>.description, .suggestedbottom{
    font-size: 11px;
}
.card-list .ui.items>.item>.content>.header.suggestedheader{
    font-size: 14px;
    font-family: inherit;
    color: #000000;
}
.card-list .ui.card{
    box-shadow: 0 2px 4px 0 rgba(164, 164, 164, 0.5);
    border: solid 1px #dedede;
}
.card-list {
    padding-left: 10px;
    padding-top: 10px;
    overflow-y: auto;
    position: absolute;
    height: calc(90vh - 80px);
    width: 100%;
    overflow-x: hidden;
}
.text-block-ellipsis {
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.float-right {
    float: right;
}
.padding-right-20 {
    padding-right: 20px;
}
.padding-left-8 {
    padding-left: 8px;
}
.margin-bottom-0 {
    margin-bottom: 0 !important;
}
.margin-bottom-5 {
    margin-bottom: 5px !important;
}
.margin-top-0 {
    margin-top: 0px !important;
}