<div ng-app="suggestcontentApp" ng-controller="suggestcontentController">
    <div class="suggest-content-header">
        <div class="suggest-content-header-content suggest-content-header-text">
            <span class="suggest-content-header-title">Suggested Content</span>
            <span ng-class="suggestedContentList.content.length ? 'color-blue' : 'disabled'" class="float-right">
                <i ng-click="searchLessons(); generateTelemetry({type: 'click', subtype: 'RefreshContentButton', target: 'Refresh Content'})"
                    ng-class="suggestedContentList.content.length ? 'color-blue' : 'disabled'" class="undo icon refresh-btn"></i>
                <span ng-click="openResourceBrowser();generateTelemetry({type: 'click', subtype: 'ViewAllButton', target: 'View All'})" class="padding-right-20 padding-left-8">View All</span>
            </span>
        </div>
    </div>
    <div class="padding-top-15 padding-left-15" ng-show="!suggestedContentList.content.length">No content Available</div>
    <div class="card-list">
        <div class="ui cards">
            <div class="card" ng-if="suggestedContentList.content.length" ng-repeat="lesson in suggestedContentList.content | limitTo:20">
                <div class="content">
                    <img class="left floated mini ui image" ng-src="{{lesson.appIcon || defaultImage}}">
                    <div class="header">
                        <div class="title-block">
                            <span class="text-block-ellipsis">{{ lesson.name }}</span>
                        </div>
                    </div>
                </div>
                <div ng-if="lesson.description" class="text-block-ellipsis font-size-12">{{ lesson.description }}</div>
                <div class="extra-content">
                    <p ng-if="lesson.creator" class="left floated font-size-12">By {{ lesson.creator }}</p>
                    <div class="right floated color-blue content" ng-click="addContent(lesson, $index);generateTelemetry({type: 'click', subtype: 'AddButton', target: 'Add'})">Add</div>
                </div>
            </div>
        </div>
    </div>
</div>