<div ng-app="suggestcontentApp" ng-controller="suggestcontentController">
    <div class="suggest-content-header">
        <div class="suggest-content-header-content suggest-content-header-text">
            <i class="angle right icon"></i>
            <span class="suggest-content-header-title">Suggested Content</span>
            <span ng-class="suggestedContentList.content.length ? 'color-blue' : 'disabled'" ng-click="openResourceBrowser();generateTelemetry({type: 'click', subtype: 'ViewAllButton', target: 'View All'})" class="text-right">View All</span>
        </div>
    </div>
    <div ng-class="suggestedContentList.content.length ? 'color-blue' : 'disabled'" class="suggest-content-header-text suggest-row-2">
        <span ng-click="searchLessons(); generateTelemetry({type: 'click', subtype: 'RefreshContentButton', target: 'Refresh Content'})"><i class="undo icon"></i>Refresh Content</span>
    </div>
    <div class="card-list">
        <span ng-show="!suggestedContentList.content.length">No content Available</span>
        <div class="padding-bottom-16" ng-if="suggestedContentList.content.length" ng-repeat="lesson in suggestedContentList.content | limitTo:20">
            <div class="ui card">
                <div class="image">
                    <img src="{{lesson.appIcon}}" ng-if="lesson.appIcon">
                    <img src="http://via.placeholder.com/258x140" ng-if="!lesson.appIcon">
                </div>
                <div class="content">
                    <h1 class="header">{{ lesson.name }}</h1>
                    <div ng-if="lesson.description" class="block-with-text description">{{ lesson.description }}</div>
                    <p ng-if="lesson.creator" class="font-size-11">Created by {{ lesson.creator }}</p>
                </div>
                <div class="color-blue content" ng-click="addContent(lesson, $index);generateTelemetry({type: 'click', subtype: 'AddButton', target: 'Add'})">Add</div>
            </div>
        </div>
    </div>
</div>