.suggest-content-header {
    height: 50px;
    background-color: #eeeeee;
}
.ui.column.suggest-content-pane{
    padding: 0 !important;
}
.suggest-content-header-content {
    padding-top: 15px;
    padding-left: 15px;
}
.suggest-content-header-text {
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
}
.suggest-content-header-title {
    color: #333333;
    text-transform: uppercase;
}
.suggest-content-header-content i {
    color: #007aff;
    padding-right: 8px;
    font-weight: 600;
}
.text-right {
    float: right;
    padding-right: 19px;
}
.color-blue {
    color: #0073ff;
    cursor: pointer;
}
.suggest-row-2 {
    padding: 10px;
    border-bottom: solid 1px #e0e1e2;
}
.suggest-row-2 .ui.checkbox label {
    color: #0073ff;
}
.card-list {
    padding-left: 8px;
    padding-top: 20px;
    padding-right: 5px;
    overflow-y: auto;
    position: absolute;
    height: calc(100% - 130px);
}
.padding-bottom-16 {
    padding-bottom: 16px;
}
.font-size-11 {
    font-size: 11px;
}
.ui.cards>.card { 
    box-shadow: 0 2px 4px 0 rgba(164, 164, 164, 0.5);
    border: solid 1px #dedede;
    width: 305px;
}
.ui.cards>.card>.content {
    padding: 0.5em;
}
.ui.cards>.card .content img {
    width: 50px;
    height: 50px;
}
.ui.cards>.card>.content>.header:not(.ui) {
    margin-top: 0;
    font-size: 1.8;
    font-weight: bolder;
}
.ui.cards>.card>.content>.header {
    font-family: inherit;
    color: #000000;
}
.header.block-with-text {
    max-height: 2.4em;
    text-align: initial;
    word-break: break-all;
}
.content .text-block-ellipsis {
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.extra-content {
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
}
.extra-content p {
    margin-bottom: 0;
    width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.ui.cards>.card .content img {
    border-radius: 2px;
}