.ngdialog.ngdialog-theme-plain >.ngdialog-content {
    padding: 0!important;
    border-radius: 1em!important;
}


.lessonbrowser div.row.filters-and-lessons-wrapper{
    max-height: 51.5vh;
    padding-bottom: 0;
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
    padding: 0!important;
}

.lesson-filters {
    padding-left: 0!important;
}

/* from repoEkstep.html */

.lessonbrowser-dialog {
    top: 5% !important;
    width: 100% !important;
    position: absolute !important;
    background: none !important;
}

.source-result-container {
    max-height: 91.4%;
    overflow-y: auto;
    padding: 0 1em!important;
    margin: 0!important;
}

.filters-and-lessons-wrapper .row.source-filter-container {
    height: 80%;
    overflow-y: auto;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}

.filters-and-lessons-wrapper .ui.styled.accordion .title {
    outline: none;
}

.source-filter-container .title,
.source-filter-container .content .list label {
    color: inherit!important;    
}

#applyAccordion{
    box-shadow: none;
}

#applyAccordion .title {
    padding-left: 0;
    border-radius: 0;
}

.source-filter-container .title:hover {
    color: inherit!important;
}

#reset-lesson-filter-button:hover{
    color: #fff!important;
    background: #317bca!important;
}

#applyAccordion >.title:first-child{
    border-top: 1px solid rgba(34,36,38,.15);
}
#applyAccordion >div.title:nth-last-of-type(2){
    border-bottom: 1px solid rgba(34,36,38,.15);
}

.lesson-row {
    padding: 1em!important;
    height: 100px;
}

.filters-and-lessons-wrapper .lessons .ui.items .lesson-row:hover {
    background: #f1f1f1;
}

.lesson-name {
    color: #000!important;
}

.lesson-row .ui.checkbox .box:before,
.lesson-row .ui.checkbox label:before,
.lesson-row .ui.checkbox label:after,
.lesson-row .ui.checkbox input[type=checkbox],
.lesson-row .ui.checkbox input[type=radio] {
    top: 15px!important;
    
}

.lessonbrowser>.content{
    max-height: 70vh;
}

.ui.active.modal.lessonbrowser{
    top: 5%
}

.no-padding{
    padding: 0;
}