<script type="text/ng-template" ng-app="org.ekstep.lessonbrowserapp" ng-controller="lessonController as $ctrl" id="partials/lessonbrowser.html">
<style type="text/css">
	.ui.attached.tabular.menu, .ui.tabular.menu+.attached:not(.top).segment {margin: 0 10px;}
</style>
<div class="ui grid">
	<div class="row">
    	<div class="column">
    		<h3>Lesson browser</h3>
    	</div>
  	</div>


	<div class="ui top attached tabular menu">
		<div class="item" ng-class='{active:$first}' ng-repeat="(rid, repo) in $ctrl.lessonbrowser.repos" data-repo-id="{{repo.id}}" data-tab="{{repo.id}}{{rid}}">{{repo.label}}</div>
	</div>

	<div class="ui bottom attached tab segment" ng-class='{active:$first}' ng-repeat="(rid, repo) in $ctrl.lessonbrowser.repos" ng-include="repo.templateUrl" data-tab="{{repo.id}}{{rid}}">
	</div>
</div>

</script>
