<div ng-app="org.ekstep.contentprovider" ng-controller="contentproviderekstepController as $ctrl" id="partials/repoEkstep.html">
    <div class="ui padded fluid grid container">
        <div class="row" ng-if="$ctrl.err">
            <div class="column">
                {{ $ctrl.err }}
            </div>
        </div>
        <div class="row no-padding" ng-if="!$ctrl.err">
            <div class="eleven wide column no-padding">
                <div class="ui fluid icon transparent input" style="padding: .67861429em 1em; border-bottom: 1px solid rgba(34,36,38,.15);">
                    <input type="text" placeholder="Search keyword..." autocomplete="off" spellcheck="false" ng-model="searchKeyword" ng-keypress="searchOnKeypress()">
                    <i class="circular search link icon inverted" ng-click="searchByKeyword()"></i>
                </div>
            </div>
            <div class="one wide right floated right aligned column no-padding">
                <button class="ui tiny fluid button" ng-click="resetSearchByKeyword()" style="margin:0; height:100%;">Reset
                </button>
            </div>
        </div>
        <div class="row filters-and-lessons-wrapper" ng-if="!$ctrl.err">
            <!-- Filters start -->
            <div class="four wide column filters" style="overflow-y: hidden; padding-right:0; border-right: 1px solid #e0e1e2;">
                <div class="row" style="min-height: 10%; max-height: 20%; overflow-y: auto; position:relative; padding:0;">
                    <p class="left floated" style="width: 85%; margin:0;">
                        <i class="fa fa-filter"></i>
                        <a class="ui label" style="margin: .14285714em;" ng-model="selectedLang" ng-repeat="selectedLang in filterSelection.lang">
                            {{selectedLang}}
                            <i class="delete icon" ng-click="toggleSelectionFilter('lang', selectedLang, 'languages', 'value')"></i>
                        </a>
                        <a class="ui label" style="margin: .14285714em;" ng-model="selectedGrade" ng-repeat="selectedGrade in filterSelection.grade">
                            {{selectedGrade}}
                            <i class="delete icon" ng-click="toggleSelectionFilter('grade', selectedGrade, 'grades', 'label')"></i>
                        </a>
                        <a class="ui label" style="margin: .14285714em;" ng-model="selectedLessonType" ng-repeat="selectedLessonType in filterSelection.lessonType">
                            {{selectedLessonType}}
                            <i class="delete icon" ng-click="toggleSelectionFilter('lessonType', selectedLessonType, 'lessonTypes', false)"></i>
                        </a>
                    </p>
                    <button class="ui mini icon button" style="position:absolute; right:0; top:7px; font-size: 1em; background: transparent; padding:0;" ng-click="resetFilters()">
                        Clear
                    </button>
                </div>
                <div class="row source-filter-container">
                    <div id="applyAccordion" class="ui styled accordion">
                        <div class="title" id="languageFilter" ng-click="openSidebarFilerAccordion($event)">
                            <i class="dropdown icon" ng-if="!openLangFilter"></i>
                            <i class="dropdown icon" ng-if="openLangFilter" style="transform: rotate(90deg);"></i> Language ({{filterSelection.lang.length}})
                        </div>
                        <div class="content">
                            <div class="ui list">
                                <div class="item ui checkbox">
                                    <input type="checkbox" ng-click="toggleAllFilter('lang', 'languages', 'value')" ng-checked="isAllSelected.lang">
                                    <label><strong>Select all</strong></label>
                                </div>
                                <div class="item ui checkbox" ng-repeat="lang in $ctrl.meta.languages">
                                    <input type="checkbox" value="{{lang.value}}" name="selectedLangs[]" ng-checked="filterSelection.lang.indexOf(lang.value) > -1" ng-click="toggleSelectionFilter('lang', lang.value, 'languages', 'value')">
                                    <label>{{lang.label}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="title" id="gradeFilter" ng-click="openSidebarFilerAccordion($event)">
                            <i class="dropdown icon" ng-if="!openGradeFilter"></i>
                            <i class="dropdown icon" ng-if="openGradeFilter" style="transform: rotate(90deg);"></i> Grade ({{filterSelection.grade.length}})
                        </div>
                        <div class="content">
                            <div class="ui list">
                                <div class="item ui checkbox">
                                    <input type="checkbox" ng-click="toggleAllFilter('grade', 'grades', 'label')" ng-checked="isAllSelected.grade">
                                    <label><strong>Select all</strong></label>
                                </div>
                                <div class="item ui checkbox" ng-repeat="grade in $ctrl.meta.grades">
                                    <input type="checkbox" value="{{grade.label}}" name="selectedGrades[]" ng-checked="filterSelection.grade.indexOf(grade.label) > -1" ng-click="toggleSelectionFilter('grade', grade.label, 'grades', 'label')">
                                    <label>{{grade.label}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="title" id="lessonTypeFilter" ng-click="openSidebarFilerAccordion($event)">
                            <i class="dropdown icon" ng-if="!openLessonTypeFilter"></i>
                            <i class="dropdown icon" ng-if="openLessonTypeFilter" style="transform: rotate(90deg);"></i> Content type ({{filterSelection.lessonType.length}})
                        </div>
                        <div class="content">
                            <div class="ui list">
                                <div class="item ui checkbox">
                                    <input type="checkbox" ng-click="toggleAllFilter('lessonType', 'lessonTypes', false)" ng-checked="isAllSelected.lessonType">
                                    <label><strong>Select all</strong></label>
                                </div>
                                <div class="item ui checkbox" ng-repeat="lessonType in $ctrl.meta.lessonTypes">
                                    <input type="checkbox" value="{{lessonType}}" name="selectedLessonTypes[]" ng-checked="filterSelection.lessonType.indexOf(lessonType) > -1" ng-click="toggleSelectionFilter('lessonType', lessonType, 'lessonTypes', false)">
                                    <label>{{lessonType}}</label>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="title">
                        Domain ({{filterSelection.domain.length}})
                    </div>
                    <div class="content">
                        <div class="ui list">
                            <div class="item ui checkbox">
                                <input type="checkbox" ng-click="toggleAllFilter('domain', 'domains', false)" ng-checked="isAllSelected.domain">
                                <label><strong>Select all</strong></label>
                            </div>
                            <div class="item ui checkbox" ng-repeat="domain in $ctrl.meta.domains">
                                <input type="checkbox" value="{{domain}}" name="selectedDomains[]" ng-checked="filterSelection.domain.indexOf(domain) > -1" ng-click="toggleSelectionFilter('domain', domain, 'domains', false)">
                                <label style="text-transform: capitalize;">{{domain}}</label>
                            </div>
                        </div>
                    </div> -->
                        <div class="title" id="conceptsFilter" ng-click="openSidebarFilerAccordion($event)">
                            <i class="dropdown icon" ng-if="!openConceptsFilter"></i>
                            <i class="dropdown icon" ng-if="openConceptsFilter" style="transform: rotate(90deg);"></i> Concept ({{filterSelection.concept.length}})
                        </div>
                        <div class="content">
                            <input type="button" class="ui button" name="" id="lessonBrowserConceptSelector" value="Select concepts" ng-click="telemetryConceptSelector()">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Filters end -->
            <!-- Result start -->
            <div class="eight wide column lessons" style="padding-right:0;">
                <div class="row">
                    <h5>Resources
                <span style="font-size: 0.8em">({{ $ctrl.res.count }})</span>
                </h5>
                </div>
                <div class="row" style="height:91.5%; overflow-y:auto;">
                    <div class="ui divided items">
                        <div class="item lesson-row" ng-repeat="lesson in $ctrl.res.content">
                            <div class="image" style="width:auto;">
                                <div class="ui checkbox">
                                    <input type="checkbox" name="lessons[]" ng-click="toggleSelectionLesson(lesson)">
                                    <label>
                                        <img class="ui tiny image" src="{{lesson.appIcon}}" ng-if="lesson.appIcon">
                                        <img class="ui tiny image" src="http://via.placeholder.com/80x80" ng-if="!lesson.appIcon">
                                    </label>
                                </div>
                            </div>
                            <div class="content">
                                <div class="header lesson-name">{{lesson.name}}</div>
                                <div class="meta">
                                    <span ng-repeat="lang in lesson.language"><span ng-if="!$first" >&nbsp;|&nbsp;</span>{{lang}}</span>
                                </div>
                                <div class="description">
                                    <p>{{lesson.description | removeHTMLTags | cut:true:120:' ...'}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="item lesson-row" ng-if="!$ctrl.res.content.length">
                            <div class="content">
                                <div class="desc">No lessons found. Please try changing the filters.</div>
                            </div>
                        </div>
                        <div class="item">
                            <button class="ui tiny button primary" ng-click="loadmore()" ng-disabled="!loadmoreEnabledFlag" ng-show="loadmoreVisibleFlag">Load more</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Result end -->
        </div>
    </div>
</div>