<div ng-app="org.ekstep.contentprovider" ng-controller="contentproviderekstepController as $ctrl" id="partials/repoEkstep.html">

<style type="text/css">
	.source-result-container {max-height: 440px; overflow-y: scroll;}
	.source-filter-container {max-height: 365px; overflow-y: scroll;}
	.ui.styled.accordion .title {padding-left: 30px; outline: none;}

	.lesson-row{border-bottom: 1px solid #ddd}
	.lesson-lang-separator {margin-left: 5px; margin-right: 5px;}

</style>

<div class="ui grid">
  	<div class="row" ng-if="$ctrl.err">
    	<div class="column">
    		{{ $ctrl.err }}
    	</div>
  	</div>
	<div class="row" ng-if="!$ctrl.err">
    	<div class="column">
    		<div class="ui fluid action input">
				<input type="text" placeholder="Search for keyword" autocomplete="off" spellcheck="false" ng-model="searchKeyword" ng-keypress="searchOnKeypress()">
		    	<button class="ui button primary" ng-click="searchByKeyword()">Search</button>
		    	<button class="ui button" ng-click="resetSearchByKeyword()">Reset</button>
			</div>
    	</div>
  	</div>
  	<div class="row" ng-if="!$ctrl.err">
  		<!-- Filters start -->
	  	<div class="four wide column">
	  		<div class="row">
	  			<h4>Filters</h4>
	  			<div class="ui divider"></div>
	  		</div>
	  		<div class="ui styled accordion source-filter-container" style="margin-top: 5px; margin-bottom: 5px;">
			  	<div class="title">
			    	Language ({{filterSelection.lang.length}})
			  	</div>
			  	<div class="content">
				    <div class="ui list">
						<div class="item ui checkbox">
							<input type="checkbox" ng-click="toggleAllFilter('lang', 'languages', 'value')" ng-checked="isAllSelected.lang">
							<label><strong>Select all</strong></label>
						</div>

						<div class="item ui checkbox" ng-repeat="lang in $ctrl.meta.languages">
							<input type="checkbox" value="{{lang.value}}" name="selectedLangs[]" ng-checked="filterSelection.lang.indexOf(lang.value) > -1" ng-click="toggleSelectionFilter('lang', lang.value, 'languages', 'value')">
							<label>{{lang.label}}</label>
						</div>
					</div>
			  	</div>
			  	<div class="title">
			    	Grade ({{filterSelection.grade.length}})
			  	</div>
			  	<div class="content">
			  		<div class="ui list">
				    	<div class="item ui checkbox">
				    		<input type="checkbox" ng-click="toggleAllFilter('grade', 'grades', 'label')" ng-checked="isAllSelected.grade">
				    		<label><strong>Select all</strong></label>
				    	</div>
						<div class="item ui checkbox" ng-repeat="grade in $ctrl.meta.grades">
							<input type="checkbox" value="{{grade.label}}" name="selectedGrades[]" ng-checked="filterSelection.grade.indexOf(grade.label) > -1" ng-click="toggleSelectionFilter('grade', grade.label, 'grades', 'label')">
							<label>{{grade.label}}</label>
						</div>
					</div>
			  	</div>
				<div class="title">
					Lesson type ({{filterSelection.lessonType.length}})
				</div>
				<div class="content">
					<div class="ui list">
						<div class="item ui checkbox">
							<input type="checkbox" ng-click="toggleAllFilter('lessonType', 'lessonTypes', false)" ng-checked="isAllSelected.lessonType">
							<label><strong>Select all</strong></label>
						</div>
						<div class="item ui checkbox" ng-repeat="lessonType in $ctrl.meta.lessonTypes">
							<input type="checkbox" value="{{lessonType}}" name="selectedLessonTypes[]" ng-checked="filterSelection.lessonType.indexOf(lessonType) > -1" ng-click="toggleSelectionFilter('lessonType', lessonType, 'lessonTypes', false)">
							<label>{{lessonType}}</label>
						</div>
					</div>
				</div>
				<div class="title">
					Domain ({{filterSelection.domain.length}})
				</div>
				<div class="content">
					<div class="ui list">
						<div class="item ui checkbox">
							<input type="checkbox" ng-click="toggleAllFilter('domain', 'domains', false)" ng-checked="isAllSelected.domain">
							<label><strong>Select all</strong></label>
						</div>
						<div class="item ui checkbox" ng-repeat="domain in $ctrl.meta.domains">
							<input type="checkbox" value="{{domain}}" name="selectedDomains[]" ng-checked="filterSelection.domain.indexOf(domain) > -1" ng-click="toggleSelectionFilter('domain', domain, 'domains', false)">
							<label style="text-transform: capitalize;">{{domain}}</label>
						</div>
					</div>
				</div>
				<div class="title">
					Concept ({{filterSelection.concept.length}})
				</div>
				<div class="content">
					<input type="button" class="ui button" name="" id="conceptSelector" value="Select concepts">
				</div>
				<!-- <div class="title">
					<i class="dropdown icon"></i>
					Ownership
				</div>
				<div class="content">
					<select class="ui fluid dropdown">
						<option value="1">Everyone's lesson</option>
						<option value="1">My lessons</option>
						<option value="3">Lessons I am collaborating</option>
					</select>
				</div> -->
				<!-- <div class="title">
					<i class="dropdown icon"></i>
					Date
				</div>
				<div class="content">
					<select class="ui fluid dropdown">
						<option value="1">Select date type</option>
						<option value="1">Created date</option>
						<option value="1">Updated date</option>
						<option value="1">Published date</option>
						<option value="1">Submitted date</option>
					</select>
					<select class="ui fluid dropdown">
						<option value="1">Select lesson ordering</option>
						<option value="1">Latest first</option>
						<option value="3">Oldest first</option>
					</select>
				</div> -->
			</div>
		  	<div class="row">
		  		<button class="ui right floated button primary" ng-click="applyFilters()">Apply</button>
				<button class="ui left floated button"  ng-click="resetFilters()">Reset</button>
		  	</div>
	  	</div>
	  	<!-- Filters end -->
	  	<!-- Result start -->
		<div class="eight wide column">
			<div class="row">
	  			<h4>Lessons
	  			<span style="font-size: 0.8em">({{ $ctrl.res.count }})</span>
	  			</h4>
	  			<div class="ui divider"></div>
	  		</div>
			<div class="ui grid source-result-container">
				<div class="row lesson-row" ng-repeat="lesson in $ctrl.res.content">
					<div class="three wide column" style="padding-top: 3px;">
						<div class="ui checkbox">
							<input type="checkbox" name="lessons[]" ng-click="toggleSelectionLesson(lesson)">
							<label>
								<img class="ui middle aligned tiny right floated image" src="{{lesson.appIcon}}" ng-if="lesson.appIcon">
								<img class="ui middle aligned tiny right floated image" src="http://via.placeholder.com/80x80" ng-if="!lesson.appIcon">
							</label>
						</div>
					</div>
					<div class="eight wide column">
						<div><h3>{{lesson.name}}</h3></div>
						<div>{{ lesson.contentType }}</div>
						<div>
							<span ng-repeat="lang in lesson.language"><span ng-if="!$first" class="lesson-lang-separator">|</span>{{lang}}</span>
						</div>
						<div>{{lesson.description | removeHTMLTags | cut:true:120:' ...'}}</div>
					</div>
				</div>
				<div class="row lesson-row" ng-if="!$ctrl.res.content.length">
					No lessons found. Please try changing the filters.
				</div>
				<div>
					<button class="ui button primary" ng-click="loadmore()" style="margin-top:25px;" ng-disabled="!loadmoreEnabledFlag" ng-show="loadmoreVisibleFlag">Load more</button>
				</div>
			</div>

		</div>
		<!-- Result end -->
  	</div>
</div>
</div>