<style>
    #shortCut {
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .shortcut-table, .note-shortcut {
        width: 100%;
        margin-left: 3.8em;
    }
    .shortcut-popup {
        height: 450px !important
    }
</style>
<div class="ui large modal active" style="top: 5% !important">
    <div class="header">
        <div class="ui grid">
            <div class="fourteen column row">
                <div class="left floated three wide column">
                    <i class="file code outline icon"></i>
                    <label>Keyboard ShortCuts</label>
                </div>
                <div>
                    <span class="right floated column"><i class="remove link icon" ng-click="closeThisDialog()"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="ui grid shortcut-popup">
            <pre class="line-numbers language-markup" id="shortCut">
                <table class="shortcut-table">
                    <tr>
                        <th colspan="2">ShortCut</th>
                        <th colspan="8">Details</th>
                    </tr>
                    <tr>
                        <td colspan="2">ctrl + x</td>
                        <td colspan="8">Cut selected object</td>
                    </tr>
                    <tr>
                        <td colspan="2">ctrl + c</td>
                        <td colspan="8">Copy selected object</td>
                    </tr>
                    <tr>
                        <td colspan="2">ctrl + v</td>
                        <td colspan="8">Paste selected object</td>
                    </tr>
                    <tr>
                        <td colspan="2">ctrl + a</td>
                        <td colspan="8">Select all object</td>
                    </tr>
                    <tr>
                        <td colspan="2">Delete</td>
                        <td colspan="8">Delete selected object</td>
                    </tr>
                    <tr>
                        <td colspan="2">ctrl + m</td>
                        <td colspan="8">Add a new stage</td>
                    </tr>
                    <tr>
                        <td colspan="2">ctrl + d</td>
                        <td colspan="8">Duplicate a stage</td>
                    </tr>
                    <tr>
                        <td colspan="2">ctrl + s</td>
                        <td colspan="8">Save content</td>
                    </tr>
                    <tr>
                        <td colspan="2">Home (for mac users use command+up)</td>
                        <td colspan="8">Go to First Slide</td>
                    </tr>
                    <tr>
                        <td colspan="2">End (for mac users use command+down)</td>
                        <td colspan="8">Go to last Slide</td>
                    </tr>
                    <tr>
                        <td colspan="2">ctrl + b</td>
                        <td colspan="8">Make text style as bold</td>
                    </tr>
                    <tr>
                        <td colspan="2">ctrl + i</td>
                        <td colspan="8">Make text style as italic</td>
                    </tr>
                    <tr>
                        <td colspan="2">ctrl + shift + ></td>
                        <td colspan="8">Increase text size of selected text object</td>
                    </tr>
                    <tr>
                        <td colspan="2">ctrl + shift + <</td>
                        <td colspan="8">Decrease text size of selected text object</td>
                    </tr>
                    <tr>
                        <td colspan="2">ctrl + alt + shift + l</td>
                        <td colspan="8">Align a text object to left</td>
                    </tr>
                    <tr>
                        <td colspan="2">ctrl + alt + shift + r</td>
                        <td colspan="8">Align a text object to right</td>
                    </tr>
                    <tr>
                        <td colspan="2">ctrl + alt + shift + e</td>
                        <td colspan="8">Align a text object to center</td>
                    </tr>
                    <tr>
                        <td colspan="2">ctrl + down arrow</td>
                        <td colspan="8">Send an object to back</td>
                    </tr>
                    <tr>
                        <td colspan="2">ctrl + up arrow</td>
                        <td colspan="8">Send an object to front</td>
                    </tr>
                    <tr>
                        <td colspan="2">up arrow</td>
                        <td colspan="8">Move selected object up by 3 pixel</td>
                    </tr>
                    <tr>
                        <td colspan="2">down arrow</td>
                        <td colspan="8">Move selected object down by 3 pixel</td>
                    </tr>
                    <tr>
                        <td colspan="2">left arrow</td>
                        <td colspan="2">Move selected object left by 3 pixel</td>
                    </tr>
                    <tr>
                        <td colspan="2">right arrow</td>
                        <td colspan="8">Move selected object right by 3 pixel</td>
                    </tr>
                    <tr>
                        <td colspan="2">shift + up arrow</td>
                        <td colspan="8">Move selected object up by 1 pixel</td>
                    </tr>
                    <tr>
                        <td colspan="2">shift + down arrow</td>
                        <td colspan="8">Move selected object down by 1 pixel</td>
                    </tr>
                    <tr>
                        <td colspan="2">shift + left arrow</td>
                        <td colspan="2">Move selected object left by 1 pixel</td>
                    </tr>
                    <tr>
                        <td colspan="2">shift + right arrow</td>
                        <td colspan="8">Move selected object right by 1 pixel</td>
                    </tr>
                    <tr>
                        <td colspan="2">ctrl + /</td>
                        <td colspan="8">Show keyboard shortcut popup</td>
                    </tr>
                </table>
                <p class="note-shortcut">For mac users use command key in place of ctrl key</p>
            </pre>
        </div>
    </div>
</div>