<div class="actions">
    <div class=" ui clearing segment">
        <div class="ui grid">
            <div class="four wide column">
                <button ng-show="renderTemplate == 'selectedResult'" class="ui left floated tiny basic button btnAttribute" ng-click="closePopup()" id="cancelBtn"> CANCEL </button>
                <button ng-show="renderTemplate == 'selectedItemsView'" class="ui left floated tiny basic button btnAttribute" ng-click="backToPrevious()" id="cancelBtn"> BACK </button>
            </div>
            <div class="four wide column selectedItems">
                <span ng-show="renderTemplate == 'selectedResult'">{{lessonSelection.length}} Selected <a class="primary viewLink" ng-click="SelectedItems()" style="cursor: pointer;">View</a></span>
            </div>
            <div class="four wide column">
                <button class="ui right floated primary tiny button btnAttribute" ng-click="returnSelectedLessons(selectedLessons.list)" ng-disabled="!lessonSelection.length"> PROCEED </button>
            </div>
        </div>
    </div>
</div>