<div ng-app="org.ekstep.lessonbrowser" class="header">
    <div class="ui clearing segment">
        <h5 class="ui right floated header" style="margin-bottom: 0%">
          <div class="ui action input search-reset-keyword-field">
            <input type="text" id="resourceSearch" placeholder="Search..." autocomplete="off" spellcheck="false" ng-model="searchKeyword" ng-keyup="$event.keyCode == 13 ? searchByKeyword() : null">
            <!-- <button id="reset-button" class="ui black basic button button-overrides" ng-click="resetSearchByKeyword()" title="Reset"><i class="undo icon"></i></button> -->
            <button id="search-button" class="ui basic button" ng-click="searchByKeyword() " title="Start search"><i class="search icon"></i></button>
        </div>
         <span>
            <i class="close link icon" id="resourceCloseBtn" ng-click="closeThisDialog(); $ctrl.generateTelemetry({type: 'click', subtype: 'close', target: 'closeLessonBrowser'})"></i>
        </span>
  </h5>
        <h5 class="ui left floated header">
    Find & Select Activities
  </h5>
    </div>
</div>