<script type="text/ng-template" ng-app="org.ekstep.lessonbrowserapp" ng-controller="lessonController as $ctrl" id="partials/lessonbrowser.html">
    <div class="ui active fullscreen modal lessonbrowser">
        <!-- lessonbrowser header -->
        <div ng-if="headerContainer" ng-include="headerTemplate"></div>
        <!-- repoEkstep html-->
        <div class="mainTemplate" style="height:535px">
            <div ng-if="renderTemplate == 'selectedResult'">
                <div class="ui grid">
                    <div class="three wide column">
                        <div class="filterContent" ng-include="filterTemplate"></div>
                    </div>
                    <div class="nine wide column">
                        <div ng-include="cardTemplate"></div>
                    </div>
                </div>

            </div>
            <div ng-if="renderTemplate == 'selectedItemsView'">
                <div class="ui grid">
                    <div class="twelve wide column">
                        <div style="margin-left: 1%" ng-include="cardTemplate"></div>
                    </div>
                </div>
            </div>

        </div>
        <!-- repoEkstep html -->

        <!-- lessonbrowser footer -->
        <div ng-if="footerContainer" ng-include="footerTemplate"></div>
    </div>
</script>