.login-container {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 0px;
    right:0px;
    transform: translateY(-50%);
    text-align: center;
    box-shadow: 0 2px 16px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    background:#fff;
    margin:0 auto;
    padding:30px;
  }

  .login-container input {
        border: 1px solid #d3d3d3;
      width: 90%;
      margin: 10px auto;
      padding: 10px;
  
  }
  .w-100 {
    width:100%;
  }
  .ngdialog-content {
    height:100%;
  }

  .ngdialog-overlay.login-bg {
    width: 100%;
    height:100%;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background: url('https://diksha.gov.in/auth/resources/3.2.0.final/login/ntp/img/bg.svg') no-repeat center center fixed;
    background-size: cover;
  }     
  .ngdialog.ngdialog-theme-plain {
      padding:0 0 0 0;
  }
  .ui.primary.button{
    padding: 15px 20px;
    min-width: 200px;
    background: #4ca58c;
  }
  .green-cust {
    background:#4ca58c;
  }
  .text-left {
text-align: left;
  }

  .title {
    padding: 15px 30px;
  }
  .title h2 {
    font-size:1.5em;
  }
  .d-block {
    display: block;
  }
  div.actions {
    width:100%;
    text-align: center;
    padding: 15px 30px;
  }
  .px-30 {
    padding-left:30px;
    padding-right:30px;
  }
  .py-10 {
    padding-top:10px;
    padding-bottom:10px;
  }
  .py-20 {
    padding-top:20px;
    padding-bottom:20px;
  }
  .ui.icon.input>i.icon {
    right:30px;
  }
  .logo-image {
    width:150px;
  }
  .scan-mask {
    border-radius: 50%;
    width: 295px;
    height: 295px;
    background: #4ca58c;
    overflow: hidden;
    margin: 0 auto;
  }
  .h-auto{
    height: auto;
  }