.ansField{
    width: 75%;
    margin-left: 12%;
    text-align: center;
    margin-top: 17%;
    background: #ebebeb;
}
.qBoxArea{
    font-weight: bold;
    background-color: white;
    height: 40%;
    position: absolute;
    z-index: 10;
    text-align: center;
    margin-left: 37%;
    margin-top: 2%;
    width: 27%;
}
.textBoxArea{
    position: absolute;
    margin-top: 8%;
    z-index: 20;
    width: 100%;
}
.keyboardArea{
    /*height: 50%;
    position: fixed;
    margin-top: 33%;
    z-index: 1;
    width: 100%;
    background-color:#ebebeb;*/
}
.question{
    margin-top: 7%;
    font-weight: bold;
}
#parentDivMainKeyboard,
#parentDivNumericKeyboard {
    width: 83%;
    height: 100%;
    top: 62%;
    position: absolute;
    left: 6%;
    font-size: 2.5vw;
    z-index: 10;
}
.key_barakhadi:active,
.key_barakhadi_numeric:active {
    background-color: rgb(215, 215, 215);
    box-shadow: 0 5px rgb(215, 215, 215);
    transform: translateY(-5px);
}
.speacial_keys {
    float: left;
    margin: 2px;
    vertical-align: middle;
    text-align: center;
    width: 5.5%;
}
.key_barakhadi,
.key_barakhadi_numeric {
    float: left;

    vertical-align: middle;
    text-align: center;
}
.key_barakhadi_last_key {
    position: relative;
    clear: left;
    border: none;
    margin: 2px;
    padding-top: 1%;
    text-align: center;
    height: 38px;
}
.spaceBar {
    float: left;
    border: none;
    margin: 2px;
    width: 60%;
    background: #D7D7D7;
    border-radius: 3px;
    height: 30px;
    display: inline-block;
}

#firstRow {
    width: 100%;
    top: 6%;
    left: 3%;
    height: 11%;
    position: relative;
}

#secondRow {
    width: 100%;
    top: 4%;
    left: -1%;
    height: 11%;
    position: relative;
}
#thirdRow {
    width: 100%;
    top: 2%;
    left: 0%;
    height: 11%;
    position: relative;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#parentDivEraser {
    width: 80%;
    height: 100%;
    top: 63%;
    position: absolute;
    left: 12%
}
#erasedDivParent {
    position: absolute;
    height: 6%;
    width: 5%;
    left: 95%;
    top: 14%;
    z-index: 20;
}
#erasedDiv {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
}

#eraserImg {
    width: 100%;
    height: 100%;
}
#languageIconDiv {
    float: left;
    padding: 0.35em 0.1em 0.15em 0;
    height: 75%;
    width: 6%;
}
#languageIconImage{
    width: 100%;
    height: 100%;
}
.speacial_keys {
    display: inline-block;
}
.speacial_keys>span {
    vertical-align: middle;
}