<div ng-app="textbookmetaApp" class="metacontent-wrapper" ng-controller="textbookmetaController">
    <div class="ui segment header-segment" id="headerSegment">
        <div class="ui breadcrumb">
            <a class="section" ng-click="setActiveNode(path.nodeId)">{{path.title}}</a>
        </div>
        <h3 class="header-bottom-segment inline-block">{{textbook.name | limitTo:70}}<span ng-if="textbook.name.length > 70"> ...</span></h3>
        <div class="header-buttons-container header-bottom-segment inline-block" ng-show="mode == 'Edit' && editable == true">
            <div class="ui primary submit button inline-block right-float button-overrides" id="save-button" ng-click="editMode =true; generateTelemetry({type: 'click', subtype: 'edit', target: 'editmetaform'}); initDropdown();" ng-show="!editMode">
                Edit
            </div>
            <div class="ui primary button right-float button-overrides" id="update-button" ng-click="updateNode(); generateTelemetry({type: 'click', subtype: 'update', target: 'updatemeta'})" ng-show="editMode">
                Update
            </div>
        </div>
    </div>
    <div class="ui segment" id="read-metadata-wrapper" ng-show="!editMode">
        <div class="ui items">
            <div class="item">
                <div class="ui tiny image">
                    <img ng-if="showImageIcon" ng-src="{{textbook.appIcon || defaultImage}}" alt="">
                </div>
                <div class="content">
                    <div class="header info-item" style="display:inline-block; max-width: 95%;">{{textbook.name}}
                    </div>
                    <span class="edit-metadata" ng-click="editMode =true; generateTelemetry({type: 'click', subtype: 'edit', target: 'editmetaform'}); initDropdown();"><i class="edit icon"></i></span>
                    <div class="meta">by&nbsp;
                        <span class="info-item" id="book-author" style="max-width:95%;">{{textbook.author}}</span>
                        <span class="edit-metadata" ng-click="editMode =true; generateTelemetry({type: 'click', subtype: 'edit', target: 'editmetaform'}); initDropdown();"><i class="edit icon"></i></span>
                    </div>
                    <div class="description">
                        <p id="descriptionPara" class="info-item">{{textbook.description}}</p>
                        <span class="edit-metadata" ng-click="editMode =true; generateTelemetry({type: 'click', subtype: 'edit', target: 'editmetaform'}); initDropdown();"><i class="edit icon"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="metacontent-fields-container">
            <div class="ui fluid grid container">
                <div class="four wide column" style="padding-left:0;">
                    <table class="ui padded striped  table metadata-fields-table">
                        <tbody>
                            <tr>
                                <td>Board</td>
                                <td>
                                    <span class="info-item">{{textbook.board.toString() | uppercase}}</span>
                                    <span class="edit-metadata" ng-click="editMode =true; generateTelemetry({type: 'click', subtype: 'edit', target: 'editmetaform'}); initDropdown();"><i class="edit icon"></i></span>
                                </td>
                            </tr>
                            <tr>
                                <td>Medium</td>
                                <td>
                                    <span class="info-item">{{textbook.medium.toString() | lowercase}}</span>
                                    <span class="edit-metadata" ng-click="editMode =true; generateTelemetry({type: 'click', subtype: 'edit', target: 'editmetaform'}); initDropdown();"><i class="edit icon"></i></span>
                                </td>
                            </tr>
                            <tr>
                                <td>Subject</td>
                                <td>
                                    <span class="info-item">{{textbook.subject.toString() | lowercase}}</span>
                                    <span class="edit-metadata" ng-click="editMode =true; generateTelemetry({type: 'click', subtype: 'edit', target: 'editmetaform'}); initDropdown();"><i class="edit icon"></i></span>
                                </td>
                            </tr>
                            <tr>
                                <td>Grade</td>
                                <td>
                                    <span class="info-item">{{textbook.gradeLevel.toString() | lowercase}}</span>
                                    <span class="edit-metadata" ng-click="editMode =true; generateTelemetry({type: 'click', subtype: 'edit', target: 'editmetaform'}); initDropdown();"><i class="edit icon"></i></span>
                                </td>
                            </tr>
                            <tr>
                                <td>Language</td>
                                <td>
                                    <span class="info-item">{{textbook.language.toString() | lowercase}}</span>
                                    <span class="edit-metadata" ng-click="editMode =true; generateTelemetry({type: 'click', subtype: 'edit', target: 'editmetaform'}); initDropdown();"><i class="edit icon"></i></span>
                                </td>
                            </tr>
                            <tr>
                                <td>Publication</td>
                                <td>
                                    <span class="info-item">{{textbook.publication | lowercase}}</span>
                                    <span class="edit-metadata" ng-click="editMode =true; generateTelemetry({type: 'click', subtype: 'edit', target: 'editmetaform'}); initDropdown();"><i class="edit icon"></i></span>
                                </td>
                            </tr>
                            <tr>
                                <td>Edition</td>
                                <td>
                                    <span class="info-item">{{textbook.edition | lowercase}}</span>
                                    <span class="edit-metadata" ng-click="editMode =true; generateTelemetry({type: 'click', subtype: 'edit', target: 'editmetaform'}); initDropdown();"><i class="edit icon"></i></span>
                                </td>
                            </tr>
                            <tr>
                                <td>Audience</td>
                                <td>
                                    <span class="info-item">{{textbook.audience.toString() | lowercase}}</span>
                                    <span class="edit-metadata" ng-click="editMode =true; generateTelemetry({type: 'click', subtype: 'edit', target: 'editmetaform'}); initDropdown();"><i class="edit icon"></i></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="eight wide column" style="padding-right:0;">
                    <table class="ui padded striped  table metadata-fields-table">
                        <tbody>
                            <tr>
                                <td>Concepts</td>
                                <td>
                                    <span class="info-item" ng-repeat="concept in textbook.concepts track by $index">{{concept.name}}{{$last ? '' : ', '}}</span>
                                    <span class="edit-metadata" ng-click="editMode =true; generateTelemetry({type: 'click', subtype: 'edit', target: 'editmetaform'}); initDropdown();"><i class="edit icon"></i></span>
                                </td>
                            </tr>
                            <tr>
                                <td>Keywords</td>
                                <td>
                                    <span class="info-item" ng-repeat="keyword in textbook.keywords">{{keyword | lowercase}}{{$last ? '' : ', '}}</span>
                                    <span class="edit-metadata" ng-click="editMode =true; generateTelemetry({type: 'click', subtype: 'edit', target: 'editmetaform'}); initDropdown();"><i class="edit icon"></i></span>
                                </td>
                            </tr>
                            <tr>
                                <td>Notes</td>
                                <td>
                                    <span class="info-item">{{textbook.notes.toString() | lowercase}}</span>
                                    <span class="edit-metadata" ng-click="editMode =true; generateTelemetry({type: 'click', subtype: 'edit', target: 'editmetaform'}); initDropdown();"><i class="edit icon"></i></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <form class="ui form segment" id="contents-data-form" novalidate ng-submit="updateNode()" ng-show="editMode" name="textbookMetaForm">
        <div class="fields">
            <div class="field book-image-field">
                <label for="bookImage">Add icon</label>
                <div class="book-image-container popup-item" data-content="Add or change image" data-variation="tiny inverted" data-position="right center" ng-click="showAssestBrowser()">
                    <i class="camera icon"></i>
                    <img ng-if="showImageIcon" ng-src="{{textbook.appIcon || defaultImage }}" ng-click="generateTelemetry({type: 'click', subtype: 'addicon', target: 'appIcon'})" />
                </div>
            </div>
            <div class="field form-fields-except-image">
                <div class="field required">
                    <label>Title</label>
                    <div class="ui input">
                        <input placeholder="Enter title for Book" ng-model="textbook.name" ng-class=" {error: submitted && textbookMetaForm.name.$error.required}" name="name" type="text" ng-click="generateTelemetry({type: 'click', subtype: 'input', target: 'name'})" required maxlength="150">
                    </div>
                </div>
                 <div class="field required">
                    <label>Description</label>
                    <div class="ui input">
                        <textarea placeholder="brief description about the unit" ng-model="textbook.description" ng-class="{error: submitted && textbookMetaForm.description.$error.required}" name="description" rows="2" ng-click="generateTelemetry({type: 'click', subtype: 'textarea', target: 'description'})" required></textarea>
                    </div>
                </div>
                <div class="three fields">
                    <div class="field">
                        <label for="board">Board</label>
                        <select id="board" class="ui selection dropdown" ng-model="textbook.board" ng-change="generateTelemetry({type: 'change', subtype: 'select', target: 'board'})">
                            <option value="">Select</option>
                            <option value="{{board}}" ng-repeat="board in boardList">{{board}}</option>
                        </select>
                    </div>
                    <div class="field">
                        <label for="subject">Subject</label>
                        <select id="subject" class="ui selection dropdown" ng-model="textbook.subject" ng-change="generateTelemetry({type: 'change', subtype: 'select', target: 'subject'})">
                            <option value="">Select</option>
                            <option value="{{subject}}" ng-repeat="subject in subjectList">{{subject}}</option>
                        </select>
                    </div>
                    <div class="field">
                        <label for="grade">Grade</label>
                        <select id="gradeLevel" class="ui fluid dropdown" ng-model="textbook.gradeLevel" multiple="" ng-change="generateTelemetry({type: 'change', subtype: 'select', target: 'gradeLevel'})">
                            <option value="">Select</option>
                            <option value="{{gradeLevel}}" ng-repeat="gradeLevel in gradeList">{{gradeLevel}}</option>
                        </select>
                    </div>
                </div>
                <div class="three fields">
                     <div class="field">
                        <label for="medium">Medium</label>
                        <select id="medium" class="ui selection dropdown" ng-model="textbook.medium" ng-change="generateTelemetry({type: 'change', subtype: 'select', target: 'medium'})">
                            <option value="">Select</option>
                            <option value="{{medium}}" ng-repeat="medium in languageList">{{medium}}</option>
                        </select>
                    </div>
                    <div class="field">
                        <label for="audience">Audience</label>
                        <select id="audience" class="ui selection dropdown" ng-model="textbook.audience" ng-change="generateTelemetry({type: 'change', subtype: 'select', target: 'audience'})">
                            <option value="">Audience</option>
                            <option value="{{audience}}" ng-repeat="audience in audienceList">{{audience}}</option>
                        </select>
                    </div>
                    <div class="field">
                        <label>Concepts</label>
                        <input name="concepts" id="textbookConceptSelector" ng-model="textbook.conceptData" type="text" ng-click="generateTelemetry({type: 'click', subtype: 'input', target: 'concepts'})">
                    </div>
                </div>
                <div class="three fields">
                    <div class="field required">
                        <label for="author">Author</label>
                        <input type="text" placeholder="Enter author name" ng-class="{error: submitted && textbookMetaForm.author.$error.required}" name="author" ng-model="textbook.author" ng-click="generateTelemetry({type: 'click', subtype: 'input', target: 'author'})" required/>
                    </div>
                    <div class="field">
                        <label for="publication">Publication</label>
                        <input type="text" placeholder="Publication (optional)" ng-model="textbook.publication" ng-click="generateTelemetry({type: 'click', subtype: 'input', target: 'publication'})" />
                    </div>
                    <div class="field">
                        <label for="edition">Edition</label>
                        <input type="text" placeholder="Edition (optional)" ng-model="textbook.edition" ng-click="generateTelemetry({type: 'click', subtype: 'input', target: 'edition'})" />
                    </div>
                </div>
                <div class="twelve wide field left-margin-9px">
                    <label>Keywords</label>
                    <ng-token-field ng-model="textbook.keywords" id="textbookmeta-keywords" placeholder="Enter comma separated keywords" ng-click="generateTelemetry({type: 'click', subtype: 'input', target: 'keywords'})"></ng-token-field>
                <div class="field">
                    <label>Notes to Teacher</label>
                    <input placeholder="Add Notes" ng-model="textbook.notes" name="notes" type="text" ng-click="generateTelemetry({type: 'click', subtype: 'input', target: 'notes'})">
                </div>
            </div>
        </div>
    </form>
</div>
<script>
$(".ui.selection.dropdown").dropdown();
</script>