<div ng-app="contentmetaApp" class="metacontent-wrapper" ng-controller="contentmetaController">
    <div class="ui segment header-segment" id="headerSegment">
        <div class="ui breadcrumb">
            <a class="section" ng-repeat="value in path" ng-click="setActiveNode(value.nodeId)">
                {{value.title}} 
                <div class="divider"> / </div>
            </a>
        </div>
        <h3 class="header-bottom-segment inline-block">{{content.name | limitTo:70}}<span ng-if="content.name.length > 70"> ...</span></h3>
        <div class="header-buttons-container header-bottom-segment inline-block">
            <div class="ui primary submit button inline-block right-float button-overrides" id="preview-button" ng-click="previewContent(); generateTelemetry({type: 'click', subtype: 'preview', target: 'preview'})" ng-show="editMode && nodeType != 'Collection'">
                Preview
            </div>
            <div ng-show="mode == 'Edit' && editable == true">
                <div class="ui primary button right-float button-overrides" id="update-button" ng-click="updateNode(); generateTelemetry({type: 'click', subtype: 'update', target: 'updatemeta'})" ng-show="editMode">
                    Update
                </div>
            </div>
        </div>
    </div>
    <form class="ui form segment" id="contents-data-form" novalidate ng-submit="updateNode()" ng-show="editMode" name="contentMetaForm">
        <div class="fields">
            <div class="field book-image-field">
                <label for="bookImage">{{iconTitle}}</label>
                <div class="book-image-container popup-item" data-content="{{iconTooltip}}" data-variation="tiny inverted" data-position="right center" ng-click="fieldDisabled || showAssestBrowser()">
                    <i class="camera icon"></i>
                    <img ng-if="showImageIcon" ng-src="{{content.appIcon || defaultImage }}" ng-click="generateTelemetry({type: 'click', subtype: 'addicon', target: 'appIcon'})" />
                </div>
            </div>
            <div class="field form-fields-except-image">
                <div class="field required">
                    <label>Content Title</label>
                    <div class="ui input">
                        <input placeholder="Enter title for Book" ng-model="content.name" ng-class=" {error: submitted && contentMetaForm.name.$error.required}" name="name" type="text" ng-disabled="fieldDisabled" ng-click="generateTelemetry({type: 'click', subtype: 'input', target: 'name'})" required maxlength="150">
                    </div>
                </div>
                <div class="field required">
                    <label>Description</label>
                    <div class="ui input">
                        <textarea placeholder="brief description about the content" ng-model="content.description" ng-class=" {error: submitted && contentMetaForm.description.$error.required}" name="description" rows="2" ng-disabled="fieldDisabled" ng-click="generateTelemetry({type: 'click', subtype: 'textarea', target: 'description'})" required></textarea>
                    </div>
                </div>
                <div class="field" ng-class="{'disabled': fieldDisabled}">
                        <label>Keywords</label>
                        <ng-token-field ng-model="content.keywords" id="contentmeta-keywords" placeholder="{{hasPlaceholder}}" ng-click="generateTelemetry({type: 'click', subtype: 'input', target: 'keywords'})"></ng-token-field>
                </div>
            </div>
        </div>
    </form>
</div>