<div ng-app="contentmetaApp" class="metacontent-wrapper" ng-controller="contentmetaController">
    <div class="ui segment header-segment">
        <div class="ui breadcrumb">
            <a class="section" ng-repeat="value in path" ng-click="setActiveNode(value.nodeId)">
                {{value.title}} 
                <div class="divider"> / </div>
            </a>
        </div>
        <h3 class="header-bottom-segment inline-block">{{content.name}}</h3>
        <div class="header-buttons-container header-bottom-segment inline-block" ng-show="mode == 'Edit' && editable == true">
            <div class="ui primary submit button inline-block right-float button-overrides" id="save-button" ng-click="editMode =true;" ng-show="!editMode">
                Edit
            </div>
            <div ng-class="metaForm.$invalid ? 'ui primary button disabled right-float button-overrides' : 'ui primary button right-float button-overrides' " id="update-button" ng-click="editMode = false; updateNode()" ng-show="editMode">
                Update
            </div>
        </div>
    </div>
    <div class="ui segment" id="read-metadata-wrapper" ng-show="!editMode">
        <div class="ui items">
            <div class="item">
                <div class="ui tiny image">
                    <img ng-src="{{content.appIcon || defaultImage}}" alt="">
                </div>
                <div class="content">
                    <div class="header">{{content.name}}</div>
                    <div class="meta">by&nbsp;
                        <span id="book-author">{{content.author}}</span>
                    </div>
                    <div class="description">
                        <p>{{content.description}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="metacontent-fields-container">
            <div class="metacontent-field">
                <div class="field-text">
                    <h5 class="field-key">Board</h5>
                    <h5 class="field-value">{{content.board | uppercase}}</h5>
                </div>
            </div>
            <div class="metacontent-field">
                <div class="field-text">
                    <h5 class="field-key">Medium</h5>
                    <h5 class="field-value">{{content.medium | lowercase}}</h5>
                </div>
            </div>
            <div class="metacontent-field">
                <div class="field-text">
                    <h5 class="field-key">Subject</h5>
                    <h5 class="field-value">{{content.subject | lowercase}}</h5>
                </div>
            </div>
            <div class="metacontent-field">
                <div class="field-text">
                    <h5 class="field-key">Grade</h5>
                    <h5 class="field-value">{{content.grade | lowercase}}</h5>
                </div>
            </div>
            <div class="metacontent-field">
                <div class="field-text">
                    <h5 class="field-key">Publication</h5>
                    <h5 class="field-value">{{content.publication | lowercase}}</h5>
                </div>
            </div>
            <div class="metacontent-field">
                <div class="field-text">
                    <h5 class="field-key">Edition</h5>
                    <h5 class="field-value">{{content.edition | lowercase}}</h5>
                </div>
            </div>
            <div class="metacontent-field">
                <div class="field-text">
                    <h5 class="field-key">Audience</h5>
                    <h5 class="field-value">{{content.audience.toString() | lowercase}}</h5>
                </div>
            </div>
            <div class="long metacontent-field">
                <div class="field-text">
                    <h5 class="field-key">Concepts</h5>
                    <div class="field-value-wrapper">
                        <span class="field-value" ng-repeat="concept in content.concepts">{{concept.Name}}</span>
                    </div>
                </div>
            </div>
            <div class="long metacontent-field">
                <div class="field-text">
                    <h5 class="field-key">Keywords</h5>
                    <div class="field-value-wrapper">
                        <!-- <span class="field-value" ng-repeat="tag in content.tags">{{tag | lowercase}}{{$last ? '' : ', '}}</span> -->
                        <span class="field-value" ng-repeat="tag in content.tags track by $index">{{tag | lowercase}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form class="ui form segment" id="contents-data-form" validate name="metaForm" ng-show="editMode">
        <div class="fields">
            <div class="field book-image-field">
                <label for="bookImage">Add icon</label>
                <div class="book-image-container" ng-click="showAssestBrowser()">
                    <i class="camera icon"></i>
                    <img ng-src="{{content.appIcon}}" ng-show="content.appIcon != ''" />
                </div>
            </div>
            <div class="field form-fields-except-image">
                <div class=" field">
                    <label>Content Title</label>
                    <div class="ui input">
                        <input placeholder="Enter title for Book" ng-model="content.name" name="title" type="text" required>
                    </div>
                </div>
                <div class="four fields">
                    <div class="field">
                        <label for="board">Board</label>
                        <select id="contentBoard" class="ui selection dropdown" ng-model="content.board">
                            <option value="">Board</option>
                            <option value="{{board}}" ng-repeat="board in boardList">{{board}}</option>
                        </select>
                    </div>
                    <div class="field">
                        <label for="medium">Medium</label>
                        <select id="contentMedium" class="ui selection dropdown" ng-model="content.medium">
                            <option value="">Medium</option>
                            <option value="{{medium}}" ng-repeat="medium in languageList">{{medium}}</option>
                        </select>
                    </div>
                    <div class="field">
                        <label for="subject">Subject</label>
                        <select id="contentSubject" class="ui selection dropdown" ng-model="content.subject">
                            <option value="">Subject</option>
                            <option value="{{subject}}" ng-repeat="subject in subjectList">{{subject}}</option>
                        </select>
                    </div>
                    <div class="field">
                        <label for="grade">Grade</label>
                        <select id="contentGradeLevel" class="ui selection dropdown" ng-model="content.gradeLevel">
                            <option value="">Grade</option>
                            <option value="{{gradeLevel}}" ng-repeat="gradeLevel in gradeList">{{gradeLevel}}</option>
                        </select>
                    </div>
                </div>
                <div class="three fields">
                    <div class=" field">
                        <label for="author">Author</label>
                        <input type="text" placeholder="Enter author name" ng-model="content.author" required />
                    </div>
                    <div class="field">
                        <label for="publication">Publication</label>
                        <input type="text" placeholder="Publication (optional)" ng-model="content.publication" />
                    </div>
                    <div class="field">
                        <label for="edition">Edition</label>
                        <input type="text" placeholder="Edition (optional)" ng-model="content.edition" />
                    </div>
                </div>
                <div class="requiered field">
                    <label>Description</label>
                    <div class="ui input">
                        <textarea placeholder="brief description about the content" ng-model="content.description" rows="2" required></textarea>
                    </div>
                </div>
                <div class="field">
                    <label>Concepts</label>
                    <input name="concepts" id="contentConceptSelector" ng-model="content.concepts" type="text">
                </div>
                <div class="two fields">
                    <div class=" twelve wide field">
                        <label>Keywords</label>
                        <input id="keywords" name="keywords" ng-blur="content.tags.split(',');" ng-model="content.tags" type="text" required>
                    </div>
                    <div class="four wide field">
                        <label for="audience">Audience</label>
                        <select id="contentAudience" class="ui selection dropdown" ng-model="content.audience">
                            <option value="">Audience</option>
                            <option value="{{audience}}" ng-repeat="audience in audienceList">{{audience}}</option>
                        </select>
                    </div>
                </div>
                <div class="field">
                    <label>Notes to Teacher</label>
                    <input placeholder="Add Notes" ng-model="content.notes" name="notes" type="text">
                </div>
            </div>
        </div>
    </form>
</div>
<script>
$(".ui.selection.dropdown").dropdown();
</script>
