<script type="text/ng-template" ng-app="richtexteditorapp" ng-controller="richtexteditorcontroller as $ctrl" id="richtexteditor">
    <div class="ui modal small active" style="top: 10% !important;">
        <div class="header">
            <div class="ui two column grid">
                <div class="row">
                    <div class="column">
                        <span><i class="fa fa-file-text-o"></i> Text Editor</span>
                    </div>
                    <div class="column" style="text-align: right; cursor: pointer;">
                        <i class="cursor-pointer close icon" ng-click="closeThisDialog(); $ctrl.generateTelemetry({type: 'click', subtype: 'close', target: 'closeButton'})"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <textarea name="editor1" id="editor1" rows="10" cols="80" ng-model="$ctrl.text"></textarea>
        </div>
        <div class="actions">
            <div class="ui buttons">
                <button class="ui orange button" ng-click="closeThisDialog()" type="button">Cancel</button>
                <div class="or"></div>
                <button class="ui blue button" id="addLesson" type="button" ng-click="$ctrl.addText(); $ctrl.generateTelemetry({type: 'click', subtype: 'select', target: 'addToLessonButton'})">Add To Lesson</button>
            </div>
        </div>
    </div>
</script>