<!--
     It's default Template to render the metaforms.
     It as a `Fixed layout` and `Dynamic layout` sections.
     FixedLayouts are
        1. App Icon
        2. Name
        3. Description
        4. Keywords
    These fixed layout fields are configurable
-->

<script type="text/ng-template" ng-app="org.ekstep.metadataform" ng-controller="metadataform as $ctrl" id="metadataTemplate">
    <div class="ui modal active" id="meta-modal">
        <div class="header">
            <div class="ui two column grid">
                <div class="row">
                    <div class="column">
                        <span><i class="icon edit"></i> Edit Details</span>
                    </div>
                    <div class="right aligned column">
                        <i class="close link icon" ng-click="$ctrl.close()"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="ui fluid grid container">
                <div class="row">
                    <div class="column content-meta" id="content-meta">
                        <form class="ui form" id="content-meta-form" novalidate name="metaForm" ng-init="initDropdown()">
                            <div class="fields">
                                <!-- FIXED LAYOUT -->
                                <div class="fixed-layout" ng-repeat='field in configurations'>
                                    <div class="field" ng-show="field.code =='image'" ng-class=" { 'error': $ctrl.submitted && !($ctrl.contentMeta.appIcon)} ">
                                        <label><i class="camera icon "></i>{{field.label}}</label>
                                        <div id="field-app-icon" class="app-icon content-icon " ng-class="{ 'required-error': $ctrl.submitted && !($ctrl.contentMeta.appIcon)} " ng-mouseenter="$ctrl.appIconHover=true" ng-mouseleave="$ctrl.appIconHover=false " ng-click="$ctrl.launchImageBrowser()">
                                            <div class="app-icon-overlay">
                                                <p class="app-icon-overlay-message ">{{field.placeholder}}</p>
                                            </div>
                                            <img ng-src="{{$ctrl.contentMeta.appIcon || $ctrl.defaultImage }}" />
                                        </div>
                                    </div>

                                    <div class="sixteen wide field">
                                        <div class="field" ng-show="field.code =='name'" ng-class="{ 'error': ($ctrl.submitted && metaForm.name.$error.required)} ">
                                            <label>{{field.label}}</label>
                                            <div class="ui input ">
                                                <input id="ecm-name " placeholder={{field.placeholder}} ng-model="$ctrl.contentMeta.name " name="name " type="text" maxlength="100" required>
                                            </div>
                                        </div>
                                        <div class="field " ng-show="field.code=='description' " ng-class=" ">
                                            <label>{{field.label}}</label>
                                            <div class=" ui input ">
                                                <textarea id="ecm-description " placeholder={{field.placeholde}} ng-model="$ctrl.contentMeta.description " name="description " rows="2 " required ng-click="generateTelemetry({type: 'click', subtype:
                                                'input', target: 'description'}) "></textarea>
                                            </div>
                                        </div>
                                        <div class="field " ng-show="field.code=='keyword' " ng-class=''>
                                            <keywords></keywords>
                                        </div>
                                    </div>
                                </div>
                                <!-- DYNAMIC LAYOUT -->
                                <div class="dynamic-layout" ng-repeate="field in dynamicLaoutConfigurations">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="twelve wide column right aligned ">
                <div class="ui buttons ">
                    <button id="closePopUp " class="ui orange button " type="button " ng-click="ecEditor.dispatchEvent( 'editor:form:cancel') ">Cancel</button>
                    <div class="or "></div>
                    <button class="ui blue button " type="button " ng-click="ecEditor.dispatchEvent( 'editor:form:success', metaForm.$valid) ">Save</button>
                </div>
            </div>
        </div>
    </div>
</script>