<!--
     It's default Template to render the metaforms.
     It as a `Fixed layout` and `Dynamic layout` sections.
     FixedLayouts are
        1. App Icon
        2. Name
        3. Description
        4. Keywords
    These fixed layout fields are configurable
    DynamicLayout Support any kind of input Types

-->
<script type="text/ng-template" ng-app="org.ekstep.metadataform" ng-controller="metadataform as $ctrl" id="metadataTemplate">
    <div class="ui modal active" id="meta-modal">
        <div class="header">
            <div class="ui two column grid">
                <div class="row">
                    <div class="column">
                        <span><i class="icon edit"></i> Edit Details</span>
                    </div>
                    <div class="right aligned column">
                        <i class="close link icon" ng-click="cancelFn()"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <form class="ui form" id="content-meta-form" ng-init="initDropdown()" name="metaForm" novalidate>
                <div class="ui grid">
                    <div class="row">
                        <div class="two wide field">
                            <app-icon></app-icon>
                        </div>
                        <!--FIXED SECTION LAYOUT-->
                        <div class="ten wide field">
                            <div ng-repeat="fixedField in fixedLayoutConfigurations">
                                <div id="{{fixedField.code}}" class="field" ng-class="{'error': !contentMeta[fixedField.code] && submitted, 'required': fixedField.required}" name="{{fixedField.code}}" ng-show="(fixedField.code =='name' && fixedField.renderingHints.visible)">
                                    <label>{{fixedField.label}}</label>
                                    <div class="ui input" ng-class="{'disabled':!fixedField.editable }">
                                        <input id="{{fixedField.code}}" placeholder={{field.placeholder}} name="{{fixedField.code}}" ng-model="contentMeta.name" type="text" maxlength="{{fixedField.renderingHints.maxlength}}" ng-required="{{fixedField.required}}">
                                    </div>
                                </div>
                                <div id="{{fixedField.code}}" class="field" ng-class="{'error': !contentMeta[fixedField.code] && submitted, 'required': fixedField.required}" name="{{fixedField.code}}" ng-show="(fixedField.code =='description' && fixedField.renderingHints.visible)" ng-class=" "
                                    ng-required="{{fixedField.required}}">
                                    <label>{{fixedField.label}}</label>
                                    <div class=" ui input " ng-class="{'disabled':!fixedField.editable }">
                                        <textarea id="{{fixedField.code}}" ng-class="fixedField.required ? 'required':''" placeholder={{field.placeholde}} ng-model="contentMeta.description " rows="{{fixedField.renderingHints.rows}}" name="{{fixedField.code}}"></textarea>
                                    </div>
                                </div>
                                <div id="{{fixedField.code}}" class="field" ng-class="{'error': !contentMeta[fixedField.code] && submitted, 'required': fixedField.required}" name="{{fixedField.code}}" ng-show="(fixedField.code =='keyword' && fixedField.renderingHints.visible)" ng-required="{{fixedField.required}}">
                                    <label>{{fixedField.label}}</label>
                                    <keywords></keywords>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!--DYNAMIC SECTION LAYOUT-->
                        <div class="two wide field">
                        </div>
                        <div class="ten wide field">
                            <div class="ui grid">
                                <div class="six wide field" ng-repeat="dynamicField in dynamicLayoutConfigurations">
                                    <div id="{{dynamicField.code}}" class="field" ng-class="{'error': !contentMeta[dynamicField.code] && submitted, 'required': dynamicField.required}" name="{{dynamicField.code}}" ng-if="dynamicField.inputType=='text' || dynamicField.inputType=='number'"
                                        ng-required=" {{dynamicField.required}} ">
                                        <label>{{dynamicField.label}}</label>
                                        <div class="ui input " ng-class="{'disabled':!dynamicField.editable }">
                                            <input id="{{dynamicField.code}}" placeholder={{dynamicField.placeholder}} name="name " type="{{dynamicField.inputType}} " maxlength="100 " ng-required="{{dynamicField.required}} ">
                                        </div>
                                    </div>
                                    <div id="{{dynamicField.code}}" class="field" ng-class="{'error': !contentMeta[dynamicField.code] &&  submitted, 'required': dynamicField.required}" name="{{dynamicField.code}}" ng-if="dynamicField.inputType=='select' && dynamicField.code!='year' " ng-required="{{dynamicField.required}} ">
                                        <label>{{dynamicField.label}}</label>
                                        <select id="_select{{dynamicField.code}}" multiple="" name="{{dynamicField.code}}" class="ui search dropdown placeholder-padding" ng-model="contentMeta[dynamicField.code]" ng-change="$ctrl.dispatchEvent( 'editor:form:change', {index:$index, field:dynamicField, value:contentMeta[dynamicField.code]}) ">
                                                <option value="">Select</option>
                                                <option data-value="{{category.name}}"  ng-repeat="category in categoryList[dynamicField.code]">{{category.name}}</option>
                                        </select>
                                    </div>
                                    <div id="{{dynamicField.code}} " class="field " ng-class="{ 'error': !contentMeta[dynamicField.code] && submitted, 'required': dynamicField.required} " name="{{dynamicField.code}} " ng-if="dynamicField.inputType=='concetpselector'
                                            " ng-required=" {{dynamicField.required}} ">
                                        <label>{{dynamicField.label}}</label>
                                        <concetpselector></concetpselector>
                                    </div>
                                    <div id="{{dynamicField.code}} " class="field " ng-class="{ 'error': !contentMeta[dynamicField.code] && submitted, 'required': dynamicField.required} " name="{{dynamicField.code}} " ng-if="dynamicField.code=='year'
                                            " ng-required=" {{dynamicField.required}} ">
                                        <label>{{dynamicField.label}}</label>
                                        <year></year>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="actions ">
                    <div class="twelve wide column right aligned ">
                        <div class="ui buttons ">
                            <button id="closePopUp " class="ui orange button " type="button " ng-click="cancelFn() ">Cancel</button>
                            <div class="or "></div>
                            <button class="ui blue button " type="button " ng-click="successFn() ">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</script>