<div id="preview-mcq-horizontal" ng-controller="MCQRendererController" ng-init="init()" ng-show="showTemplate">
    <!-- <link rel="stylesheet" type="text/css" href="{{cssPath}}"> -->
    <div class="qc-mcqlayout">
        <div class="popup" ng-show="bigImage" ng-if="imageUrl.length>0">
            <div class="popup-overlay" ng-click="hideImagePopup()"></div>
            <div class="popup-full-body">
                <div class="font-lato assess-popup assess-goodjob-popup">
                    <img class="qc-question-fullimage" src="{{checkBaseUrl(imageUrl)}}" />
                    <div ng-click="hideImagePopup();" class="qc-popup-close-button">X</div>
                </div>
            </div>
        </div>
        <header ng-class="{'qc-long-text-header-image': questionObj.question.image.length > 0,'qc-long-text-header':questionObj.question.image.length==0}">
            <!-- <span ng-if="questionObj.question.image.length" class="qc-question-zoomin" ng-click="showImageModel(questionObj.question.image) > 0">+</span> -->
            <div ng-if="questionObj.question.image.length>0" class="qc-opt"><img class="qc-question-image" ng-click="showImageModel(questionObj.question.image)" ng src={{checkBaseUrl(questionObj.question.image)}}></div>
            <div class="qc-question-text" ng-if="questionObj.plainQuestion.length < 72 &&questionObj.plainQuestion.length>0" ng-bind-html="trustAsHtml(questionObj.question.text)"></div>
            <div ng-class="{'expand-ques-text': expandQ == true,'collapse-ques-text':expandQ == false }" ng-click="expandQuestion($event)" ng-if="questionObj.plainQuestion.length >= 72" ng-bind-html="trustAsHtml(questionObj.question.text)"></div>
            <div ng-if="questionObj.question.audio.length > 0" class="qc-opt">
                <img src="{{audioImage}}" class="qc-question-audio-image" ng-click="playAudio(questionObj.question.audio)" />
            </div>
        </header>
        <div class="qc-option-container" ng-if="questionObj.questionConfig.layout == 'Horizontal' || (questionObj.questionConfig.layout == undefined)">
            <div class="qc-option-value" ng-repeat="val in questionObj.options" ng-class="{qsselectedopt: $index+1 == selectedIndex}" ng-click="selectedvalue(val, $index+1);">
                <div class="qc-option-text" id="{{val.id}}">
                    <div ng-if="val.image.length>0" class="qc-opt"><img class="qc-option-image" ng-click="showImageModel(val.image)" ng src={{checkBaseUrl(val.image)}}></div>
                    <div ng-if="val.audio.length > 0" class="qc-opt">
                        <img src="{{audioImage}}" ng-class="{'qc-horizontal-audio-with-image': val.image.length > 0 ,'qc-horizontal-audio':val.image.length==0}" ng-click="playAudio(val.audio)" />
                    </div>
                    <div ng-class="{'qc-option-txt': val.audio.length > 0 ,'qc-option-txt-with-image':val.audio.length==0}" class="qc-opt">
                        {{val.text}}</div>
                </div>
                <div class="qc-option-checkbox">
                    <input type="radio" name="radio" value="pass" class="qc-option-input-checkbox" ng-checked="$index+1 == selectedIndex" ng-click="logTelemetryInteract($event);" id="option">
                </div>
            </div>
        </div>
        <div ng-if="questionObj.questionConfig.layout == 'Grid'">
            <div class="qc-grid-option-container">
                <div class="qc-grid-option-outer-value" ng-repeat="val in questionObj.topOptions">
                    <div class="qc-grid-option-value">
                        <div class="qc-grid-option-text-outer" id="{{val.key+1}}">
                            <div class="qsverticalselect" ng-class="{'qsverticalselectedopt': val.key+1 == selectedIndex}">
                            </div>
                            <div class="qc-grid-option-text" ng-click="selectedvalue(val.option, val.key+1);">
                                <div ng-if="val.option.audio.length > 0 && val.option.image.length == 0" class="qc-opt">
                                    <img src="{{audioImage}}" class="qc-vertical-audio-with-image" ng-click="playAudio(val.option.audio)" />
                                </div>
                                <div ng-if="val.option.image.length>0 " class="qc-opt"><img class="qc-grid-option-image" ng-click="showImageModel(val.option.image)" ng src={{checkBaseUrl(val.option.image)}}></div>
                                <div ng-class="{'qc-option-txt': val.option.audio.length > 0}" class="qc-opt" ng-if="val.option.image.length == 0 && val.option.audio.length == 0">
                                    {{val.option.text}}</div>
                            </div>
                            <div class="qc-option-grid-checkbox">
                                <div class="grid-check-space">
                                    <input type="radio" name="radio" value="pass" class="qc-option-input-checkbox" ng-checked="val.key+1 == selectedIndex" ng-click="logTelemetryInteract($event); selectedvalue(val.option, val.key+1);" id="option">
                                </div>
                                <div ng-if="val.option.audio.length > 0 && val.option.image.length > 0">
                                    <img src="{{audioImage}}" class="qc-grid-audio-with-image" ng-click="playAudio(val.option.audio)" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="qc-grid-option-container" ng-if="questionObj.bottomOptions.length != 0">
                <div class="qc-grid-option-outer-value" ng-repeat="val in questionObj.bottomOptions" >
                    <div class="qc-grid-option-text-outer" id="{{val.key+1}}">
                        <div class="qsverticalselect" ng-class="{'qsverticalselectedopt': val.key+1 == selectedIndex}">
                        </div>
                        <div class="qc-grid-option-text" ng-click="selectedvalue(val.option, val.key+1);">
                            <div ng-if="val.option.audio.length > 0 && val.option.image.length == 0" class="qc-opt">
                                <img src="{{audioImage}}" class="qc-vertical-audio-with-image" ng-click="playAudio(val.option.audio)" />
                            </div>
                            <div ng-if="val.option.image.length>0 " class="qc-opt"><img class="qc-grid-option-image" ng-click="showImageModel(val.option.image)"  ng src={{checkBaseUrl(val.option.image)}}></div>
                            <div ng-class="{'qc-option-txt': val.option.audio.length > 0}" class="qc-opt" ng-if="val.option.image.length == 0 && val.option.audio.length == 0">
                                {{val.option.text}}</div>
                        </div>
                        <div class="qc-option-grid-checkbox">
                            <div class="grid-check-space">
                                <input type="radio" name="radio" value="pass" class="qc-option-input-checkbox" ng-checked="val.key+1 == selectedIndex" ng-click="logTelemetryInteract($event); selectedvalue(val.option, val.key+1);" id="option">
                            </div>
                            <div ng-if="val.option.audio.length > 0 && val.option.image.length > 0">
                                <img src="{{audioImage}}" class="qc-grid-audio-with-image" ng-click="playAudio(val.option.audio)" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="qc-vertical-option-containar" ng-if="questionObj.questionConfig.layout == 'Vertical'">
            <table id="qc-vertical-option-table">
                <tr class="qc-vertical-option-outer">
                    <td ng-repeat="val in questionObj.options" class="qc-vertical-option-td">
                        <div class="qc-vertical-option-value">
                            <div class="qsverticalselect" ng-class="{qsverticalselectedopt : $index+1 == selectedIndex}">
                            </div>
                            <div id="{{val.id}}" class="qc-option-vertical-text" ng-click="selectedvalue(val, $index+1);">
                                <div ng-if="val.audio.length > 0 && val.image.length == 0" class="">
                                    <img src="{{audioImage}}" class="qc-vertical-audio-with-image" ng-click="playAudio(val.audio)" />
                                </div>
                                <div ng-if="val.image.length>0" class="qc-opt"><img class="qc-vertical-option-image" ng-click="showImageModel(val.image)" ng src={{checkBaseUrl(val.image)}}></div>
                                <div ng-class="{'qc-option-txt': val.audio.length > 0 }" class="qc-opt" ng-if="val.image.length == 0 && val.audio.length == 0">
                                    {{val.text}}</div>
                            </div>
                            <div class="qc-option-vertical-checkbox">
                                <div>
                                    <input type="radio" name="radio" value="pass" class="qc-option-input-checkbox" ng-checked="$index+1 == selectedIndex" ng-click="logTelemetryInteract($event);selectedvalue(val, $index+1);" id="option">
                                </div>
                                <div ng-if="val.audio.length > 0 && val.image.length > 0">
                                    <img src="{{audioImage}}" class="qc-vertical-audio-with-image" ng-click="playAudio(val.audio)" />
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>