<script type="text/ng-template" ng-app="assetbrowserapp" ng-controller="browsercontroller as $ctrl" id="partials/assetbrowser.html">
<style>
.faloading {
    position: fixed;
    top: 250px;
    left: 360px;
}

.audioOverlay {
    background-color: hsl(200, 100%, 43%);
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}

.faAudioCheck {
    /*margin-top: 12px;*/
    color: white;
}

.assetbrowser_searchBox {
    width: 100%;
}

.asset_item_container {
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 300px !important;
    max-height: 300px !important;
}

.ui.modal.ui.form {
	min-height: 550px !important;
}

.ui.modal>.content {
	min-height: 430px !important;*/
	max-height: 430px !important;*/
}

.assetbrowser .asset_thumbnail {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto !important;
}
.assetbrowser .ui.image{
	position: relative;
    overflow: hidden;
    padding-bottom: 100%
}

.assetbrowser .templatecard{ 
   border: 1px dotted #ccc;
    cursor: pointer;
    position: relative;
    margin-top: 15px;
 }

.assetbrowser .ui.floating.label {
    top: 0;
}

 .assetbrowser .ui.images .image, .ui.images img, .ui.images svg {
    margin: auto !important;
    width:121px !important;
}

.assetbrowser .uiAction {
	background: #F9FAFB;
	padding: 1rem;
	border-top: 1px solid rgba(34,36,38,.15);
}

.audioitem {
    border: 1px dotted #ccc;
    cursor: pointer;
    text-align:center;
    padding-top:2px;
}

.audioitem audio{
	width: 164px;
}

.audio-tag {
	overflow: hidden;
    text-align: left;
    padding-left: 12px; 
}

.cursor-pointer{
	cursor: pointer;
}

.centered {
	text-align: center;
}

</style>

<div class="assetbrowser ui modal active ui form" style="top: 10%;">
	<div class="header" ng-switch="$ctrl.plugin">
		<div class="ui two column grid">
			<div class="row">
			  	<div class="column">
					<span ng-hide="$ctrl.uploadView">
						<span ng-switch-when="image"><i class="image icon"></i> Select file</span>
						<span ng-switch-when="audio"><i class="file audio outline icon"></i> Select Audio</span>
					</span>
					<span ng-if="$ctrl.uploadView && $ctrl.plugin == 'image'"><i class="upload icon"></i> Upload and use</span>
					<span ng-if="$ctrl.uploadView && $ctrl.plugin == 'audio'"><i class="upload icon"></i> Upload/ Record</span>
				</div>
				<div class="column" style="text-align: right;">
					<i class="cursor-pointer close icon" ng-click="closeThisDialog()"></i>
				</div>
			</div>
		</div>
	</div>
	<div class="content" ng-hide="$ctrl.uploadView">
		<div class="ui pointing secondary menu">
		    <a ng-if="$ctrl.plugin == 'image'" id="myAssetsTab" class="active item" data-tab="first" ng-click="$ctrl.myAssetTab()">My images</a>
		    <a id="allImagesTab" ng-if="$ctrl.plugin == 'image'" class="item" data-tab="second" ng-click="$ctrl.allAssetTab()">All image</a>
		    <a ng-if="$ctrl.plugin == 'audio'" class="active item" data-tab="first" ng-click="$ctrl.myAssetTab()">My audio</a>
			<a id="allAudioTab" ng-if="$ctrl.plugin == 'audio'" class="item" data-tab="second" ng-click="$ctrl.allAssetTab()">All audio</a>
		</div>
		<div class="uploadingAsset ui tab active" data-tab="first" >
			<div class="content" ng-if="$ctrl.plugin == 'image'">
				<div class="column">
					<div class="column">
						<div class="ui icon input assetbrowser_searchBox">
							<input ng-model="$ctrl.query" placeholder="Search Image..." ng-keypress="$event.keyCode === 13 ? $ctrl.search() : null" type="text" />
							<i class="circular search link icon inverted"></i>
						</div>
					</div>
				</div>
				<div class="clearfix">&nbsp;</div>
				<div class="asset_item_container">
					<div class="ui grid">
						<i class="huge spinner loading icon faloading" ng-show="$ctrl.loadingImage" aria-hidden="true"></i>
						<div ng-show="$ctrl.imageList.length > 0" ng-repeat="image in $ctrl.imageList track by $index">
							<div class="column templatebrowser_thumbnail">
								<div class="ui small images templatecard infopopover" id="assetbrowser-{{$index}}" ng-click="$ctrl.ImageSource($event, $index); $ctrl.selected_images[$index]={selected: !$ctrl.selected_images[$index].selected}" data-html="<b>{{image.name}}</b> <br/> License: {{image.license}}">
									<a class="item" ng-show="$ctrl.selected_images[$index].selected">
										<div class="floating ui blue label">
											<i class="ui icon check" aria-hidden="true"></i>
										</div>
									</a>
									<div class="ui image">
										<img class="asset_thumbnail" data_id="{{image.identifier}}" src="{{image.downloadUrl}}" />
									</div>
								</div>
							</div>
						</div>
						<div class="twelve wide column" ng-show="$ctrl.imageList.length == 0">
							<span>No result found, Click here browse in <a href="#" onclick="$('#allImagesTab').trigger('click');">All images</a></span>
						</div>
					</div>
				</div>

			</div>
			<div class="content" ng-if="$ctrl.plugin =='audio'">
				<div class="ui grid">
					<div class="column">
						<div class="ui icon input assetbrowser_searchBox">
							<input ng-model="$ctrl.query" placeholder="Search Audio..." ng-keypress="$event.keyCode === 13 ? $ctrl.search() : null" type="text" />
							<i class="circular search link icon inverted"></i>
						</div>
					</div>
				</div>
				<div class="clearfix">&nbsp;</div>
				<div class="asset_item_container">
					<div class="ui grid">
						<div class="three wide column" ng-show="$ctrl.audioList.length > 0" ng-repeat="audio in $ctrl.audioList track by $index">
							<div class="audioitem infopopover" ng-click="$ctrl.AudioSource(audio, $index); $ctrl.selected_audios[$index]={selected: !$ctrl.selected_audios[$index].selected};" id="{{audio.identifier}}" src="{{audio.downloadUrl}}" data-html="<b>{{audio.name}}</b> <br/> License: {{audio.license}}">
								<audio controls id="audio-{{$index}}" ng-src="{{audio.downloadUrl}}" width="120" height="120"></audio>
								<div class="audio-tag">{{audio.name}}</div>
								<div class="audioOverlay" ng-show="$ctrl.selected_audios[$index].selected">
									<i class="fa fa-check-square-o fa-2x faAudioCheck" aria-hidden="true"></i>
								</div>
							</div>
						</div>
						<div class="twelve wide column" ng-show="$ctrl.audioList.length == 0">
							<span>No result found, Click here browse in <a href="#" onclick="$('#allAudioTab').trigger('click');">All Audios</a></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="ui tab" data-tab="second" >
			<div class="content" ng-if="$ctrl.plugin == 'image'">
				<div class="column">
					<div class="column">
						<div class="ui icon input assetbrowser_searchBox">
							<input ng-model="$ctrl.query" placeholder="Search Image..." ng-keypress="$event.keyCode === 13 ? $ctrl.search() : null" type="text" />
							<i class="circular search link icon inverted"></i>
						</div>
					</div>
				</div>
				<div class="clearfix">&nbsp;</div>
				<div class="ui grid asset_item_container">
					<i class="huge spinner loading icon faloading" ng-show="$ctrl.loadingImage" aria-hidden="true"></i>
					<div ng-show="$ctrl.imageList.length > 0" ng-repeat="image in $ctrl.imageList track by $index">
						<div class="column templatebrowser_thumbnail">
							<div class="ui small images templatecard infopopover" id="assetbrowser-{{$index}}" ng-click="$ctrl.ImageSource($event, $index); $ctrl.selected_images[$index]={selected: !$ctrl.selected_images[$index].selected}" data-html="<b>{{image.name}}</b> <br/> License:{{image.license}} ">
								<a class="item" ng-show="$ctrl.selected_images[$index].selected">
									<div class="floating ui blue label">
										<span><i class="ui icon check" aria-hidden="true"></i></span>
									</div>
								</a>
								<div class="ui image">
									<img class="asset_thumbnail" data_id="{{image.identifier}}" src="{{image.downloadUrl}}">
								</div>
							</div>
						</div>
					</div>

					<div class="twelve wide column" ng-show="$ctrl.imageList.length ==0">
						<span>No result found</span>
					</div>
				</div>
			</div>
			<div class="content" ng-if="$ctrl.plugin =='audio'">
				<div class="ui grid">
					<div class="column">
						<div class="ui icon input assetbrowser_searchBox">
							<input ng-model="$ctrl.query" placeholder="Search Audio..." ng-keypress="$event.keyCode === 13 ? $ctrl.search() : null" type="text" />
							<i class="circular search link icon inverted"></i>
						</div>
					</div>
				</div>
				<div class="clearfix">&nbsp;</div>
				<div class="asset_item_container">			
					<div class="ui grid">
						<div class="three wide column" ng-show="$ctrl.audioList.length > 0" ng-repeat="audio in $ctrl.audioList track by $index">
							<div class="audioitem infopopover" ng-click="$ctrl.AudioSource(audio.downloadUrl,audio.identifier, $index); $ctrl.selected_audios[$index]={selected: !$ctrl.selected_audios[$index].selected};" id="{{audio.identifier}}" src="{{audio.downloadUrl}}" data-html="<b>{{audio.name}}</b> <br/> License: {{audio.license}}">
								<audio controls id="audio-{{$index}}" ng-src="{{audio.downloadUrl}}" width="120" height="120"></audio>
								<div class="audio-tag">{{audio.name}}</div>
								<div class="audioOverlay" ng-show="$ctrl.selected_audios[$index].selected">
									<i class="fa fa-check-square-o fa-2x faAudioCheck" aria-hidden="true"></i>
								</div>
							</div>
						</div>
						<div class="twelve wide column" ng-show="$ctrl.audioList.length == 0">
							<span>No result found</span>
						</div>
					</div>
				</div>
			</div>
		</div>
   </div>
   <div class="actions" ng-hide="$ctrl.uploadView" ng-switch="$ctrl.buttonToShow">
		<div class="ui grid">
			<div class="three wide column" style="text-align: left;">
				<button class="ui blue button" ng-click="$ctrl.switchToUpload()" type="button">
				{{$ctrl.plugin=='image' ? 'Upload and use': 'Upload/ Record'}}</button>
			</div>
			<div class="nine wide column" style="text-align: right;">
				<div class="ui buttons">
					<button id="closePopUp" class="ui orange button" ng-click="$ctrl.cancel()" type="button">Cancel</button>
					<div class="or"></div>
					<button ng-switch-when="select" class="ui blue button" ng-disabled="$ctrl.selectBtnDisable" ng-click="$ctrl.select()" type="button">Select</button>
				</div>
			</div>
		</div>
	</div>
	<div class="content" ng-show="$ctrl.uploadView">
		<div class="ui two column divided grid">
			<div class="row ui form">
				<div class="column">
					<div class="ui two column divided grid" ng-if="$ctrl.plugin =='audio'" ng-hide="$ctrl.upload || $ctrl.record">
					  	 <div class="row center aligned">
						  	<div class="column" ng-click="$ctrl.upload = true; $ctrl.record=false;">
						  		<p><i class="huge upload icon"></i></p>
						  		UPLOAD
						  	</div>
						  	<div class="ui vertical divider">or</div>
							<div class="column" ng-click="$ctrl.upload = false; $ctrl.record=true;">
								<p><i class="huge unmute icon"></i></p>
								RECORD
						  	</div>
					  	</div>
					</div>
					<div ng-show="$ctrl.record">

						<ng-audio-recorder id="mainAudio" audio-model="recorded" show-player="false" time-limit="timeLimit">
						    <div ng-if="recorder.isAvailable">

						        <div ng-if="recorder.status.isDenied === true" style="color: red;">
						            You need to grant permission for this application to use your microphone.
						        </div>

						        <div class="centered" ng-hide="recorder.status.isRecording">
									<i class="ui icon selected radio huge blue cursor-pointer" ng-click="recorder.startRecord()"></i>
									<p><b>Start Recording</b></p>
								</div>

								<div class="centered">
							        <div style="max-width: 600px" style="position: relative;">
							            <div ng-show="recorder.status.isConverting">
							                Please wait while your recording is processed.
							            </div>

							            <div ng-show="recorder.isHtml5 && recorder.status.isRecording">
							                <ng-audio-recorder-analyzer></ng-audio-recorder-analyzer>
							            </div>
							            <br/>

							            <div ng-show="!recorder.status.isRecording && recorder.audioModel">
							                <ng-audio-recorder-wave-view wave-color="yellow" bar-color="red"></ng-audio-recorder-wave-view>
							            </div>
							        </div>

							        <span ng-hide="recorder.status.isRecording === false">
										<i class="ui icon stop circle outline red huge cursor-pointer"
										 ng-click="recorder.stopRecord()"
										 ></i>
										 <span><b>STOP</b></span>
									 </span>

									<span ng-hide="recorder.status.isRecording || !recorder.audioModel">
								        <i class="ui icon {{recorder.status.isStopped || recorder.status.isPaused ? 'play' : 'pause'}} circle huge blue"
								        ng-click="recorder.status.isPlaying ? recorder.playbackPause() : recorder.playbackResume()"
								        ></i>
								        <span><b>{{recorder.status.isStopped || recorder.status.isPaused ? 'Play' : 'Pause'}} </b></span>
									</span>	
						   		</div>
						    </div>

						    <div ng-if="!recorder.isAvailable">
						        Your browser does not support this feature natively, please use latest version of <a
						            href="https://www.google.com/chrome/browser" target="_blank">Google Chrome</a> or <a
						            href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">Mozilla Firefox</a>. If you're on
						        Safari or Internet Explorer, you can install <a href="https://get.adobe.com/flashplayer/">Adobe Flash</a> to
						        use this feature.
						    </div>
						</ng-audio-recorder>
					</div>
					<div class="required field" ng-if="$ctrl.upload" ng-hide="$ctrl.editMetaFlag">
						<label for="assetfile" title="Enter asset caption">Select file</label>
						<input class="cropit-image-input" id="assetfile" type="file" name="assetfile" accept="{{$ctrl.allowedMimeTypes.join(', ')}}" data-validate="assetfile" />
					</div>
					<div class="ui info message" ng-if="$ctrl.upload" ng-hide="$ctrl.editMetaFlag">
						<p>Allowed file types are: {{$ctrl.fileTypes}}</p>
						<p>Maximum allowed file size: {{$ctrl.fileSize}}</p>
					</div>
					<div ng-show="$ctrl.editMetaFlag" class="field">
						<img ng-src="{{$ctrl.selectedImgSrc}}" height="140px"/>
					</div>

					<div class="clearfix">&nbsp;</div>
					<div class="grouped required fields">
						<label for="ccByContribution" >Copyright & License:</label>
						<p>I understand and confirm that all lessons/assets created through the authoring tool or uploaded on the Ekstep platform shall be available for free and public use without limitations on the Ekstep platform (portal,applications and any other end user interface that Ekstep platform would enable) and will be licensed under<!--@Todo add policy link --> <a href="#" target="_blank">CC-BY 4.0</a></p>
						<div class="field">
							<div class="ui radio checkbox">
								<input id="ccByContribution1" name="ccByContribution" type="radio" ng-click="$ctrl.setPublic()" value="Creative Commons Attribution (CC BY)">
								<label for="ccByContribution1" ng-click="$ctrl.setPublic()">Yes, make it available to everyone</label>
							</div>
						</div>
						<div class="field">
							<div class="ui radio checkbox">
								<input id="ccByContribution2" name="ccByContribution" type="radio" ng-click="$ctrl.setPrivate()" value="">
								<label for="ccByContribution2"  ng-click="$ctrl.setPrivate()">No, don't share with anyone</label>
							</div>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="required field">
						<label for="assetName" title="Enter asset caption">Asset Caption</label>
						<input id="assetName" type="text" name="assetName" ng-model="$ctrl.assetMeta.name" placeholder="Enter asset caption" data-validate="assetName" />
					</div>

					<div class="field">
						<label for="keywords" title="Tags">Tags</label>
						<input id="keywords" type="text"  name="keywords" ng-model="$ctrl.keywordsText" data-validate="keywords">
					 </div>

					<div class="field" ng-hide="$ctrl.hideField">
						<label for="language" title="Choose Language">Language</label>
						<select id="language" class="ui dropdown" ng-model="$ctrl.languageText" {{$ctrl.asset.requiredField}} name="language" ng-options="lang for lang in $ctrl.asset.language" data-validate="language" >
							<option value="">All</option>
						</select>
					</div>

					<div class="{{$ctrl.asset.requiredField}} field removeError" ng-hide="$ctrl.hideField">
						<label for="creator" title="Creator">Creator</label>
						<input id="creator" type="text" ng-model="$ctrl.assetMeta.creator" {{$ctrl.asset.requiredField}} name="creator" placeholder="Enter Name" data-validate="creator" >
					</div>

					<div class="{{$ctrl.asset.requiredField}} field removeError" ng-hide="$ctrl.hideField">
						<label for="copyright" title="Enter Copyright">Copyright</label>
						<input type="text" id="copyright" ng-model="$ctrl.assetMeta.copyright" {{$ctrl.asset.requiredField}} name="copyright" data-validate="copyright" >
					</div>

					<div ng-show="$ctrl.optional">
						<a href="#" ng-show="$ctrl.hideField" ng-click="$ctrl.viewMore()">More <i class="caret down icon"></i></a>

						<a href="#" ng-show="!$ctrl.hideField" ng-click="$ctrl.setPrivate()">Less <i class="caret up icon"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="actions" ng-show="$ctrl.uploadView">
		<i ng-show="$ctrl.uploadingAsset" class="big spinner loading icon"></i>
		<div class="ui buttons">
            <button id="closePopUp" class="ui orange button" ng-click="$ctrl.cancel()" type="button">Cancel</button>
            <div class="or"></div>
            <button class="ui blue button submit button" ng-click="$ctrl.doUpload()" type="button">Upload and Use</button>
		</div>
	</div>
</div>
</script>