<style>
.assetbrowser_footer {
    margin: 8px;
}

.imagescrollWindow {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: scroll;
    height: 320px;
}

.audioscrollwindow {
    height: 388px;
    overflow: scroll;
    margin-top: 10px;
}

.fa-2x-custom {
    color: aliceblue;
    margin-right: 10px;
    margin-left: 2px;
    font-size: 2em;
}

.fa-2x-custom:hover {
    color: white;
}

.fa-image-selected {
    color: #3899ec;
    margin-right: 10px;
    margin-left: 2px;
    font-size: 2em;
}

.faloading {
    position: fixed;
    top: 250px;
    left: 360px;
}

.audio-tag {
    text-align: center;
    background-color: rgb(250, 250, 250);
}

.audioitem {
    border: 1px dotted #ccc;
    cursor: pointer;
    position: relative;
    margin-bottom: 10px;
    background-color: #fafafa;
}

.audioOverlay {
    background-color: hsl(200, 100%, 43%);
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}

.faAudioCheck {
    margin-top: 12px;
    color: white;
}

.assetbrowser_searchBox {
    width: 100%;
}

#assetArea2 {
    width: 20%;
}

.templatebrowser_main {
    margin: 0px !important;
    overflow: scroll;
    height: 360px;
}

.templatebrowser_thumbnail {
    margin-top: 20px;
    cursor: pointer;
    position: relative;
    max-width: 140px;
}

.templatecard {
    margin-bottom: 5px !important;
    height: 175px !important;
}

.template_header {
    background-color: #3899ec !important;
}

.template_header h4 {
    padding: 0px;
    margin: 0px;
    color: #fff;
}

.template_header .remove {
    float: right;
    margin-top: -21px;
    color: #fff;
}

.tab_menu {
    margin-left: 10px !important;
    margin-right: 10px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.asset_thumbnail {
    height: 140px !important;
    width: 140px !important;
    max-height: 140px !important;
    max-width: 140px !important;
}

.cardcontent {
    font-size: 10px !important;
    font-weight: 100 !important;
    overflow-wrap: break-word;
    overflow: hidden;
}
</style>

<div class="ui modal ui form">
    <div class="ui small one steps">
        <div class="active step">
            <i class="image icon"></i>
            <div class="content">
                <div class="title">Select {{$ctrl.imageBrowser ? 'Image':'Audio'}}</div>
                <div class="description">Search and select {{$ctrl.imageBrowser ? 'image':'audio'}}</div>
            </div>
        </div>
    </div>
    <div class="ui pointing secondary menu tab_menu">
        <a class="active item" data-tab="first" ng-click="$ctrl.imageTab()">Image</a>
        <a class="item" data-tab="second" ng-click="$ctrl.assetUpload()">Upload</a>
    </div>

    <div class="ui active tab" data-tab="first" style="margin: 10px;">
		<div class="content" ng-show="$ctrl.imageBrowser">
			<div class="ui grid">
				<div class="nine wide column">
					<div class="ui icon input assetbrowser_searchBox">
						<input ng-model="$ctrl.query" placeholder="Search Image..." ng-keypress="$event.keyCode === 13 ? $ctrl.search() : null" type="text" />
						<i class="circular search link icon inverted"></i>
					</div>
				</div>
				<div class="three wide column">
					<div class="ui floating labeled icon dropdown button">
					  <i class="filter icon"></i>
					  <span class="text">All Images</span>
					  <div class="menu">
					    <div class="item active selected" data-value="all">All Images</div>
					    <div class="item" data-value="my">My Images</div>
					  </div>
					</div>
				</div>
			</div>
			
			<div class="ui grid templatebrowser_main">
				<i class="fa fa-spinner fa-pulse fa-5x fa-fw faloading" ng-show="$ctrl.loadingImage" aria-hidden="true"></i>
				<div id="assetArea1" ng-show="$ctrl.imageList.length > 0" ng-repeat="image in $ctrl.imageList track by $index">
					<div class="four column row templatebrowser_thumbnail">
						<div class="ui card templatecard" id="assetbrowser-{{$index}}" ng-click="$ctrl.ImageSource($event, $index); $ctrl.selected_images[$index]={selected: !$ctrl.selected_images[$index].selected} " data-html="<div class='header'>Details</div><div class='content'><div class='ui bulleted list'><div class='item'>Name:{{image.name}}</div><div class='item'>Size:{{image.sizeinbytes}}</div><div class='item'>Type:{{image.mimeType}}</div><div class='item'>License:{{image.license}}</div>">
							<a class="item" ng-show="$ctrl.selected_images[$index].selected">
								<div class="floating ui blue label"><i class="fa fa-check" aria-hidden="true"></i></div>
							</a>
							<div class="image">
								<img class="asset_thumbnail" data_id="{{image.identifier}}" src="{{image.downloadUrl}}">
							</div>
							<div class="content cardcontent">
								<div class="header">Title: {{image.name}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="content" ng-hide="$ctrl.imageBrowser">
			<div class="ui icon input assetbrowser_searchBox" style="margin-bottom: 10px;">
				<div id="searchbox" class="ui transparent left icon input templatebrowser_searchBox">
					<input id="searchTextAudio" type="text" placeholder="Search Audio..." ng-keypress="$event.keyCode === 13 ? $ctrl.searchKeyPress('audio') : null">
					<i class="search icon"></i>
				</div>
			</div>
			<i class="fa fa-spinner fa-pulse fa-5x fa-fw faloading" ng-show="$ctrl.loadingAudio" aria-hidden="true"></i>
			<div class="ui grid templatebrowser_main">
				<div id="assetArea2" ng-show="$ctrl.audioList.length > 0" ng-repeat="audio in $ctrl.audioList track by $index">
					<div class="ten column row">
						<div class="audioitem" ng-click="$ctrl.AudioSource(audio.downloadUrl,audio.identifier, $index); $ctrl.selected_audios[$index]={selected: !$ctrl.selected_audios[$index].selected};" id="{{audio.identifier}}" src="{{audio.downloadUrl}}">
							<audio style="max-width: 85%;" controls id="audio-{{$index}}" ng-src="{{audio.downloadUrl}}" width="120" height="120"></audio>
							<div class="audio-tag">{{audio.identifier}}</div>
							<div class="audioOverlay" ng-show="$ctrl.selected_audios[$index].selected">
								<i class="fa fa-check-square-o fa-2x faAudioCheck" aria-hidden="true"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="ui tab" data-tab="second" style="margin: 10px;">
		<div class="ui two column divided grid">
			<div class="row ui form">
				<div class="column">
					<div class="required field">
						<label for="assetfile" title="Enter asset caption">Select file</label>
						<input class="cropit-image-input" id="assetfile" type="file" name="assetfile" accept="image/jpeg,image/jpg,image/png,image/svg" data-validate="assetfile" />
						<div class="ui info message">
							<ul class="list">
								<li>Allowed file types are: jpeg, jpg, png, svg	</li>
								<li>Maximum allowed file size: 1 MB	</li>
							</ul>
						</div>
					</div>
					<div class="grouped required fields">
						<label for="ccByContribution" >Copyright & License:</label>
						<p>I understand and confirm that all lessons/assets created through the authoring tool or uploaded on the Ekstep platform shall be available for free and public use without limitations on the Ekstep platform (portal,applications and any other end user interface that Ekstep platform would enable) and will be licensed under<!--@Todo add policy link --> <a href="#" target="_blank">CC-BY 4.0</a></p>
						<div class="field">
							<div class="ui radio checkbox">
								<input id="ccByContribution1" name="ccByContribution" type="radio" ng-click="$ctrl.setPublic()" value="Creative Commons Attribution (CC BY)" data-validate="ccByContribution">
								<label for="ccByContribution1">Yes, make it available to everyone</label>
							</div>
						</div>
						<div class="field">
							<div class="ui radio checkbox">
								<input id="ccByContribution2" name="ccByContribution" type="radio" ng-click="$ctrl.setPrivate()" value="" data-validate="ccByContribution">
								<label for="ccByContribution2">No, don't share with anyone</label>
							</div>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="required field">
						<label for="assetName" title="Enter asset caption">Asset Caption</label>
						<input id="assetName" type="text" name="assetName" ng-model="$ctrl.assetMeta.name" placeholder="Enter asset caption" data-validate="assetName" />
					</div>

					<div class="field">
						<label for="keywords" title="Tags">Tags</label>
						<input id="keywords" type="text"  name="keywords" ng-model="$ctrl.keywordsText" data-validate="keywords">
					 </div>

					<div class="field" ng-hide="$ctrl.hideField">
						<label for="language" title="Choose Language">Language</label>
						<select id="language" class="ui dropdown" ng-model="$ctrl.languageText" {{$ctrl.asset.requiredField}} name="language" ng-options="lang for lang in $ctrl.asset.language" data-validate="language" >
							<option value="">All</option>
						</select>
					</div>

					<div class="{{$ctrl.asset.requiredField}} field removeError" ng-hide="$ctrl.hideField">
						<label for="creator" title="Creator">Creator</label>
						<input id="creator" type="text" ng-model="$ctrl.assetMeta.creator" {{$ctrl.asset.requiredField}} name="creator" placeholder="Enter Name" data-validate="creator" >
					</div>

					<div class="{{$ctrl.asset.requiredField}} field removeError" ng-hide="$ctrl.hideField">
						<label for="copyright" title="Enter Copyright">Copyright</label>
						<input type="text" id="copyright" ng-model="$ctrl.assetMeta.copyright" {{$ctrl.asset.requiredField}} name="copyright" data-validate="copyright" >
					</div>

					<div ng-show="$ctrl.optional">
						<a ng-show="$ctrl.hideField" ng-click="$ctrl.viewMore()">More <i class="caret down icon"></i></a>

						<a ng-show="!$ctrl.hideField" ng-click="$ctrl.setPrivate()">Less <i class="caret up icon"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>

    <div class="actions">
         <i ng-show="$ctrl.uploadingAsset" class="big spinner loading icon"></i>
        <div class="ui buttons">
            <button id="closePopUp" class="ui orange button" ng-click="$ctrl.cancel()" type="button">Cancel</button>
            <div class="or"></div>
            <button id="selectanduse" class="ui blue button" ng-hide="$ctrl.uploadTabEnabled" ng-disabled="$ctrl.selectBtnDisable" ng-click="$ctrl.select()" type="button">Select</button>
            <button id="doUpload" class="ui blue button submit button" ng-show="$ctrl.uploadTabEnabled" ng-click="$ctrl.doUpload('image')" type="button" ng-disabled="$ctrl.uploadingAsset">Upload and Use</button>
        </div>
    </div>
</div>

