<style>
.assetbrowser_footer {
    margin: 8px;
}

.imagescrollWindow {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: scroll;
    height: 320px;
}

.audioscrollwindow {
    height: 388px;
    overflow: scroll;
    margin-top: 10px;
}

.fa-2x-custom {
    color: aliceblue;
    margin-right: 10px;
    margin-left: 2px;
    font-size: 2em;
}

.fa-2x-custom:hover {
    color: white;
}

.fa-image-selected {
    color: #3899ec;
    margin-right: 10px;
    margin-left: 2px;
    font-size: 2em;
}

.faloading {
    position: fixed;
    top: 250px;
    left: 360px;
}

.audio-tag {
    text-align: center;
    background-color: rgb(250, 250, 250);
}

.audioitem {
    border: 1px dotted #ccc;
    cursor: pointer;
    position: relative;
    margin-bottom: 10px;
    background-color: #fafafa;
}

.audioOverlay {
    background-color: hsl(200, 100%, 43%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}

.faAudioCheck {
    margin-top: 12px;
    color: white;
}

.assetbrowser_searchBox {
    padding: 8px;
    border-bottom: 1px black solid;
    width: 100%;
}

#assetArea2 {
    width: 20%;
}

.templatebrowser_main {
    margin: 0px !important;
    overflow: scroll;
    height: 360px;
}

.templatebrowser_thumbnail {
    margin-top: 20px;
    cursor: pointer;
    position: relative;
    max-width: 140px;
}

.templatecard {
    height: 220px;
}

.template_header {
    background-color: #3899ec !important;
}

.template_header h4 {
    padding: 0px;
    margin: 0px;
    color: #fff;
}

.template_header .remove {
    float: right;
    margin-top: -21px;
    color: #fff;
}

.tab_menu {
    margin-left: 10px !important;
    margin-right: 10px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.asset_thumbnail {
    height: 140px !important;
    width: 140px !important;
    max-height: 140px !important;
    max-width: 140px !important;
}
</style>
<div class="ui modal">
    <div class="header template_header" style="">
        <h4>Choose Items</h4>
        <i class="remove icon" ng-click="$ctrl.cancel()"></i>
    </div>
    <div class="ui pointing secondary menu tab_menu">
        <a class="active item" data-tab="first" ng-click="$ctrl.imageTab()">Image</a>
        <a class="item" data-tab="second" ng-click="$ctrl.audioTab()">Audio</a>
    </div>
    <div class="ui active tab" data-tab="first" style="margin: 10px;">
        <div class="ui icon input assetbrowser_searchBox" style="margin-bottom: 10px;">
            <div id="searchbox" class="ui transparent left icon input templatebrowser_searchBox">
                <input type="text" placeholder="Search Image..." ng-keypress="$event.keyCode === 13 ? $ctrl.searchKeyPress('image') : null">
                <i class="search icon"></i>
            </div>
        </div>
        <div class="ui grid templatebrowser_main">
            <i class="fa fa-spinner fa-pulse fa-5x fa-fw faloading" ng-show="$ctrl.loadingImage" aria-hidden="true"></i>
            <div id="assetArea1" ng-show="$ctrl.imageList.length > 0" ng-repeat="image in $ctrl.imageList track by $index">
                <div class="four column row templatebrowser_thumbnail">
                    <div class="ui card templatecard" id="assetbrowser-{{$index}}" ng-click="$ctrl.ImageSource($event, $index); $ctrl.selected_images[$index]={selected: !$ctrl.selected_images[$index].selected} " data-html="">
                        <a class="item" ng-show="$ctrl.selected_images[$index].selected">
                            <div class="floating ui blue label"><i class="fa fa-check" aria-hidden="true"></i></div>
                        </a>
                        <div class="image">
                            <img class="asset_thumbnail" data_id="{{image.identifier}}" src="{{image.downloadUrl}}">
                        </div>
                        <div class="content">
                            <div class="header">Title:{{image.identifier}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui tab" data-tab="second" style="margin: 10px;">
        <div class="ui icon input assetbrowser_searchBox">
            <input type="text" placeholder="Search Audio..." ng-keypress="$event.keyCode === 13 ? $ctrl.searchKeyPress('audio') : null">
            <i class="inverted circular search link icon" ng-click="$ctrl.searchKeyPress('audio')"></i>
        </div>
        <i class="fa fa-spinner fa-pulse fa-5x fa-fw faloading" ng-show="$ctrl.loadingAudio" aria-hidden="true"></i>
        <div class="ui grid audioscrollwindow">
            <div id="assetArea2" ng-show="$ctrl.audioList.length > 0" ng-repeat="audio in $ctrl.audioList track by $index">
                <div class="ten column row">
                    <div class="audioitem" ng-click="$ctrl.AudioSource(audio.downloadUrl,audio.identifier, $index); $ctrl.selected_audios[$index]={selected: !$ctrl.selected_audios[$index].selected};" id="{{audio.identifier}}" src="{{audio.downloadUrl}}">
                        <audio style="max-width: 85%;" controls id="audio-{{$index}}" ng-src="{{audio.downloadUrl}}" width="120" height="120"></audio>
                        <div class="audio-tag">{{audio.identifier}}</div>
                        <div class="audioOverlay" ng-show="$ctrl.selected_audios[$index].selected">
                            <i class="fa fa-check-square-o fa-2x faAudioCheck" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui clearing divider"></div>
    <div class="assetbrowser_footer">
        <div class="ui grid">
            <div class="four column row">
                <div class="right floated column">
                    <div class="ui buttons">
                        <button id="closePopUp" class="ui orange button" ng-click="$ctrl.cancel()" type="button">Cancel</button>
                        <div class="or"></div>
                        <button id="selectanduse" class="ui blue button" ng-disabled="$ctrl.selectBtnDisable" ng-click="$ctrl.select()" type="button">Select</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
