<script type="text/ng-template" ng-app="timetableApp" ng-controller="timetableCtrl as $ctrl" id="partials/timetable">
    <div class="ui modal fullscreen active activity-browser-modal">
            <div class="header" style="padding-right:1em;">
                <div class="ui two column grid">
                    <div class="row">
                        <div class="column">
                            <span>Teacher Dashboared</span>
                        </div>
                        <div class="column right aligned">
                            <i class="cursor-pointer close link icon" ng-click="closePopup()"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
            <div class="ui grid">
            <div class="four wide column">
                <label class="dropdwn-align">Class</label>
                <select class="ui dropdown" ng-init="selectedClass = classDetails[0]" ng-model="selectedClass" ng-options="class for class in classDetails">
                </select>
            </div>
                <div class="four wide column">
                    <label class="dropdwn-align">Subject</label>
                    <select class="ui dropdown" ng-init="selectedSubject = subjedDetails[0]" ng-model="selectedSubject" ng-options="subject for subject in subjedDetails">
                    </select>
                </div>
            </div>
            <div class="ui grid mb-30">
                <div class="eight wide column">
                    <table class="ui celled table">
                        <thead>
                            <tr>
                            <th class="text-align-center">Topics</th>
                            <th class="text-align-center">Teaching</th>
                            <th class="text-align-center">Practice</th>
                            <th class="text-align-center">Preparation</th>
                            <th class="text-align-center">Assessment</th>
                            <th class="text-align-center">Supplementry</th>
                            </tr>
                        </thead>
                        <tbody id="myDIV">
                            <tr  ng-repeat="topic in topic2.data.result.topics">
                                <td class="btn selectable text-align-center">
                                    {{topic.dc_practice[0].topic[0] || topic.dc_primary[0].topic[0] || topic.dc_preparatory[0].topic[0] || topic.dc_assessment[0].topic[0] || topic.dc_secondary[0].topic[0]}}
                                </td>
                            <td class="btn selectable">
                                <a ng-if="topic.dc_primary.length" class="text-center" ng-click="showDetailedRow(topic.dc_primary, 'Teaching')">
                                {{topic.dc_primary.length}}
                                </a>
                                <a ng-if="!topic.dc_primary.length" data-content="Teacher Dashboard">
                                    <div class="text-align-center" data-position="bottom center"               ng-click="closePopup()">
                                            <i class="plus square icon"></i>
                                    </div>
                                </a>
                            </td>
                            <td class="btn selectable">
                                <a  ng-if="topic.dc_practice.length > 0" class="w-100 text-center" ng-click="showDetailedRow(topic.dc_practice, 'practice')">
                                {{topic.dc_practice.length}}
                                </a>
                                <a ng-if="!topic.dc_practice.length" data-content="Teacher Dashboard">
                                    <div class="text-align-center" data-position="bottom center"               ng-click="closePopup()">
                                            <i class="plus square icon"></i>
                                    </div>
                                </a>
                            </td>
                            <td class="btn selectable">
                                <a ng-if="topic.dc_preparatory.length" class="w-100 text-center" ng-click="showDetailedRow(topic.dc_preparatory, 'preparation')">
                                        {{topic.dc_preparatory.length}}
                                </a>
                                <a ng-if="!topic.dc_preparatory.length" data-content="Teacher Dashboard">
                                    <div class="text-align-center" data-position="bottom center"               ng-click="closePopup()">
                                            <i class="plus square icon"></i>
                                    </div>
                                </a>
                            </td>
                            <td class="btn selectable">
                                <a ng-if="topic.dc_assessment.length" class="text-center" ng-click="showDetailedRow(topic.dc_assessment, 'assesment')">
                                    {{topic.dc_assessment.length }} 
                                </a>
                                <a ng-if="!topic.dc_assessment.length" data-content="Teacher Dashboard">
                                    <div class="text-align-center" data-position="bottom center"               ng-click="closePopup()">
                                            <i class="plus square icon"></i>
                                    </div>
                                </a>
                            </td>

                            <td class="btn selectable">
                                <a ng-if="topic.dc_secondary.length" class="text-center" ng-click="showDetailedRow(topic.dc_secondary, 'supplementry')">
                                    {{topic.dc_secondary.length}}
                                </a>
                                <a ng-if="!topic.dc_secondary.length" data-content="Teacher Dashboard">
                                    <div class="text-align-center" data-position="bottom center"               ng-click="closePopup()">
                                            <i class="plus square icon"></i>
                                    </div>
                                </a>
                            </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            
                <div class="four wide column" ng-if="showDetailedView">
                    <div class="ui card dashboard">
                        <div class="ui bottom attached button font-weight-bold pl-10 pt-10" ng-click="closePopup()">
                            <i class="add icon"></i>
                            Create New
                        </div>
                        <div class="text-uppercase text-align-left font-size-14 font-weight-bold pl-10">{{topicTitle}}</div>
                        <div class="mt-20 font-weight-bold mb-20 pl-10">{{topicName}}</div>
                        <div ng-repeat="data in detailsView track by $index">
                                <li class="text-capitalize text-align-left font-weight-normal list-type-none cursor-pointer px-10 pb-5" ng-click="showTopicsDetails(data.id)">
                                  {{$index+1}}.  {{data.name}} 
                                </li>
                                <hr  ng-show="!$last">
                        </div>
                    </div>
                </div>
            </div>
    </div>
    
   
</script>