<script type="text/ng-template" ng-app="timetableApp" ng-controller="timetableCtrl as $ctrl" id="partials/timetable">
    <div class="ui modal fullscreen active activity-browser-modal">
            <div class="header" style="padding-right:1em;">
                <div class="ui two column grid">
                    <div class="row">
                        <div class="column">
                            <span>Teacher Dashboared</span>
                        </div>
                        <div class="column right aligned">
                            <i class="cursor-pointer close link icon" ng-click="closePopup()"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui grid">
                <div class="four wide column">
                    <label class="">Class</label>
                    <select class="ui dropdown" ng-init="selectedClass = classDetails[0]" ng-model="selectedClass" ng-options="class for class in classDetails">
                    </select>
                </div>
                <div class="four wide column">
                    <label class="">Subject</label>
                    <select class="ui dropdown" ng-init="selectedSubject = subjedDetails[0]" ng-model="selectedSubject" ng-options="subject for subject in subjedDetails">
                    </select>
                </div>
            </div>
            

            <div class="ui grid">
                <div class="eight wide column">
                    <table class="ui celled table">
                        <thead>
                            <tr>
                            <th>#Topics</th>
                            <th class="text-center text-uppercase">Teaching</th>
                            <th class="text-center text-uppercase">Practice</th>
                            <th class="text-center text-uppercase">Preparation</th>
                            <th class="text-center text-uppercase">Assement</th>
                            <th class="text-center text-uppercase">Supplementry</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="topic in topic2.data.result.topics">
                            <tr >
                            <th class="align-middle py-0">{{topic.dc_practice[0].topic[0] || topic.dc_primary[0].topic[0] || topic.dc_preparatory[0].topic[0] || topic.dc_assessment[0].topic[0] || topic.dc_secondary[0].topic[0]}}</th>
                            <td class="align-middle py-0">
                                <a class="text-center table-cell rounded-0" ng-click="showDetailedRow(topic.dc_primary, 'Teaching')"
                                ng-class="{'active': (type === 'teaching' && topic === 'topic1' && showDetailedView) ? true : false}">
                                {{topic.dc_primary.length}}
                                </a>
                            </td>
                            <td class="align-middle py-0">
                                <a class="w-100 text-center table-cell rounded-0" ng-click="showDetailedRow(topic.dc_practice, 'practice')"
                                ng-class="{'active': (type === 'practice' && topic === 'topic1' && showDetailedView) ? true : false}">
                                {{topic.dc_practice.length}}
                                </a>
                                <a ng-if="!topic.dc_practice.length" data-content="Teacher Dashboard">
                                        <div  class="icon-box popup-item" data-content="Teacher Dashboard"  data-position="bottom center" ng-click="fireEvent({id: 'org.ekstep.timetable:add'});">
                                                <i class="plus square icon"></i>
                                            </div>
                                 
                                </a>
                            </td>
                            <td class="align-middle py-0">
                                <a class="w-100 text-center table-cell rounded-0" ng-click="showDetailedRow(topic.dc_preparatory, 'preparation')">
                                {{topic.dc_preparatory.length}}
                                </a>
                            </td>
                            <td class="align-middle py-0">
                                <a class="text-center table-cell rounded-0" ng-click="showDetailedRow(topic.dc_assessment, 'assesment')">
                                    {{topic.dc_assessment.length }} 
                                </a>
                            </td>
                            <td class="align-middle py-0">
                                <a class="text-center table-cell rounded-0" ng-click="showDetailedRow(topic.dc_secondary, 'supplementry')">
                                    {{topic.dc_secondary.length}}
                                </a>
                            </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="six wide column" ng-if="showDetailedView">
                    <div class="ui card">
                        <div class="ui bottom attached button" ng-click="closePopup()">
                            <i class="add icon"></i>
                            Create New
                        </div>
                        <div class="content">
                            <h4 class="text-uppercase text-align-left font-size-14">{{topicTitle}}</h4>
                            <div ng-repeat="data in detailsView track by $index">
                                <li class="text-capitalize text-align-left font-weight-normal">
                                    {{data}}
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    
   
</script>