#qs-mcq-template {
    height: 90vh;
    margin: auto;
    text-align: center;
    line-height: 2em;
    width: 80%;
    margin-top: 2%;
    position: relative;
    display: grid;
}

#qc-mcqlayout {
    width: 100%;
    top: 2%;
    position: relative;
    height: inherit;
    margin: auto;
}

.qc-question-text {
    color: white;
    font-size: initial;
    text-align: center;
    line-height: 1;
    height: 100%;
    width: 75%;
    display: inline-block;
    padding-top: 0;
    padding: 1% 1% 1% 1%;
    line-height: 1.3;
}


.qc-question-text p span {
    width: 100%;
    height: 100%;
}

.collapse-ques-text {
       width: 74%;
    overflow: hidden;
    margin: 0px 3% 0px 2%;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-height: 1.8;
    -webkit-box-orient: vertical;
    display: -webkit-inline-box;
}
.qc-expand-ques-text{
    margin-right: auto;
    width: 79%;
    display: -webkit-inline-box;
        color: white;
}

.collapse-ques-text>p {
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: white;
}

.expand-ques-text>p {
    display: -webkit-box;
    max-width: 83%;
    height: auto;
    margin: 0 auto;
    margin-right: 4%;
    font-size: 15px;
    line-height: 1.7;
    color: white;
    padding-top: 1%;
}


.expand-ques-text p {
    table-layout: fixed;
    word-wrap: break-word;
}

.qc-option-container {
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 5%;
    height: 65vh;
    overflow-y: auto;
}

.qc-option-value {
    border-top: 1px solid #c8ccd0;
    border-bottom: 1px solid #c8ccd0;
    cursor: pointer;
    padding: 5%;
    display: list-item;
    min-height: 15vh;
    border-left: 7px solid transparent;
}

.qc-option-checkbox {
    float: right;
    margin-top: 3%;
}

.qc-option-text {
    float: left;
    padding: -3%;
    top: -14.66667px;
    text-align: initial;
    width: 81%;
    font-size: initial;
    position: relative;
    padding: -2% 1% 2% 9%;
}

.grid-check-space {
    max-width: 50%;
}

input.qc-option-input-checkbox {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    -ms-appearance: checkbox;
}

input.qc-option-input-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: -9.66667px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 20px;
    transition: all 0.15s ease-out 0s;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    outline: 2px solid #cbd1d8;
    position: relative;
    z-index: 1000;
}



input.qc-option-input-checkbox:checked {
    background: #4a90e2;
}

input.qc-option-input-checkbox:checked::before {
    height: 40px;
    width: 20px;
    position: absolute;
    content: "\2713";
    display: inline-block;
    font-size: 21.66667px;
    text-align: center;
    line-height: 21px;
}

input.qc-option-input-checkbox:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #40e0d0;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}

.qsselectedopt {
    border-left-color: #4a90e2;
}
.mcq-option-checked{
    background-color: #4a90e2;
}

.qclongtextheaderimage {
    min-height: 52px;
}

img.qc-question-image {
    width: 15%;
    height: 56px;
    float: left;
    margin-left: -1%;
    object-fit: fill;
}

img.qc-option-image {
    width: 21%;
    margin-top: 0%;
    margin-left: -5%;
    height: 56px;
    object-fit: scale-down;
}

img.qc-vertical-option-image {
    width: 100%;
    height: 35vh;
    margin-top: 0;
}

img.qc-grid-option-image {
    max-height: 25vh;
    max-width: 11vw;
    margin-top: 0;
}

.qc-question-zoomin {
    width: 4%;
    left: 0%;
    top: 0%;
    position: absolute;
}

img.qc-question-fullimage {
    width: 83%;
    height: 100%;
}

audio.qc-question-audio {
    float: left;
}

audio.qc-question-audio-with-text {
    left: 0%;
    top: 11%;
    float: initial;
    position: absolute;
}
audio.qc-question-audio {
    margin-top: 3%;
    margin-left: 8%;
    position: initial;
}

audio.qc-option-audio-with-image {
    margin-top: -4%;
    margin-left: 14%;
    position: absolute;
    width: 30%;
}

.qc-option-txt {
    position: relative;
    left: inherit;
    top: inherit;
    width: 100%;
}
.qc-option-txt-only{
        float: left;
    top: auto;
    text-align: initial;
    width: 77%;
    font-size: initial;
    position: relative;
}

.qc-option-zoomin {
    width: 5%;
    left: -4.5%;
    top: 0%;
    position: absolute;
    cursor: pointer;
}

.qc-vertical-option-zoomin {
    width: 5%;
    position: initial;
    cursor: pointer;
    float: left;
}

.qc-popup-close-button {
    position: absolute;
    right: -35px;
    color: white;
    bottom: 87%;
}

.qc-text-with-audio {
    width: 28%;
    top: 2%;
    position: absolute;
}

audio.qc-question-audio {
    float: initial;
    position: absolute;
    left: 7%;
    top: 6%;
}

.qc-option-txt-with-image {
    position: absolute;
    margin-left: 4%;
    width: 100%;
}

.qc-long-text-header-image {
    height: 17.7vh;
    width: 80vw;
    background-color: #404041;
    min-height: 56px;
    padding: 0% 1% 1% 1%;
}


/*new css*/

#mcq-question {
    height: 17.7vh;
    width: 100%;
    display: inline-block;
    background-color: #404041;
    min-height: 56px;
    padding: 0% 1% 1% 1%;
}

.mcq-question-image {
    width: 15%;
    height: 56px;
    float: left;
    margin-left: -1%;
    object-fit: fill;
}

.mcq-question-text>span {
    color: white;
    font-size: initial;
    text-align: center;
    line-height: 1;
    height: 100%;
    width: 77%;
    display: inline-block;
    padding-top: 0;
    padding: 1% 1% 1% 1%;
    line-height: 1.6;
}







/*Grid CSS*/

.qc-grid-option-container {
    margin: 0;
    text-align: left;
    overflow: hidden;
    width: 100%;
    display: table;
    margin-top: 2%;
    height: 26vh;
}

.qc-grid-option-outer-value {
    cursor: pointer;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    width: 25%;
}

.qc-grid-option-value {
    margin: 0 5px;
    height: 100%;
}

.qc-grid-option-text-outer {
    line-height: 1.5;
    padding: 5px;
    display: table;
    height: 100%;
    width: 95%;
}

.qc-grid-option-text {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    word-break: break-word;
    border: 1px solid #c8ccd0;
}

.qc-grid-option-value.grid-selected-option {
    border: 1px solid #4a90e2;
}

.qc-option-grid-checkbox {
    display: table-cell;
    position: relative;
    top: 50%;
    padding-left: 5%;
}

.qc-vertical-option-container {
    width: 80vw;
    overflow-x: auto;
    margin-top: 5%;
    height: auto;
    overflow-y: hidden;
}

.qc-vertical-option-table {
    height: 100%;
    width: 100%;
}

.qc-vertical-option-outer {
    height: 100%;
}

.qc-vertical-option-value {
    height: 98%;
    display: table;
    width: 100%;
}


.qc-vertical-option-td {
    padding: 0% 0.5%;
    min-width: 25vw;
}




.qc-option-vertical-text {
    border: 1px solid #c8ccd0;
    display: table-cell;
    vertical-align: middle;
    word-break: break-word;
    line-height: 1.2;
    width: 62%;
}

.qc-option-vertical-checkbox {
    display: table-cell;
    position: relative;
    top: 50%;
    right: 3%;
}

.qsverticalselectedopt {
    background-color: #4a90e2;
}

.mcq-selected-option {
    display: table-cell;
    width: 3px;
}

.qc-opt {
    display: inline;
}

audio.qc-vertical-audio {
    width: 28%;
    top: 62%;
    margin-left: 6%;
    position: absolute;
}

.qc-vertical-audio-with-image {
    width: 30%;
}

.qc-grid-audio-with-image {
    width: 77%;
}

.qc-horizontal-audio-with-image {
    width: 10%;
    margin-bottom: 4%;
}

.qc-horizontal-audio {
    width: 10%;
    vertical-align: super;
}

.qc-question-audio-image {
    width: 6%;
    -webkit-filter: invert(100%);
    margin-top: 2%;
    display: inline-block;
    float: right;
}

.question-image {
    display: inline;
}

.mcq-question-text {
    display: inline;
}

.mcq-question-audio {
    display: inline;
}
span.qc-option-txt{
    position: absolute;
}