<div ng-controller="KeyboardCtrl">
  <div ng-show="keyboardVisible">
    <div class="qBoxArea" ng-show="keyboardVisible" ng-click="hideKeyboard()">
      <div class="question">{{question}}</div>	
    </div>
    <div class="textBoxArea">
      <input type="text" id="txtfillblank1" class="ansField" placeholder="Enter answer" ng-model="answerText" autofocus />
    </div>

    <div id="keyboard" class="keyboardArea" ng-show="keyboardVisible">
        <!-- <ul id="keyboard">
          <li class="letter" ng-repeat="letter in keyboard" ng-click="addLetter($event);">{{letter}}</li>
          <li class="delete lastitem" ng-click="deleteLetter();"><img src="{{erasIcon}}" width="72%"></li>
          <li class="letter spec" ng-click="changeCase()">A-a</li>
          <li class="letter" ng-click="numericKeys();">123</li>
          <li class="space lastitem" ng-click="addLetter($event);">&nbsp;</li>
          <li class="letter" ng-click="addLetter($event);">,</li>
          <li class="letter" ng-click="addLetter($event);">.</li> 
        </ul> -->
    </div>
  </div>
</div>
