<script type="text/ng-template" id="questionsetbrowser" ng-app="questionsetapp" ng-controller="questionsetcontroller as $ctrl">
<style type="text/css">
.filters-container {
    padding: 8px 10px 4px 18px;
    background: #f1f1f1;
}
.itemIframeMessages {
    border: 2px solid #E4E4E4;
    padding: 110px 20px;
    background: #FFFFFF;
    text-align: center;
    font-weight: bold;
    height: 270px;
    width: 480px;   
}
.grid .items .item:hover{
    background: #f1f1f1;
}
.verticalcenter{
    display: flex;
    align-items: center;
}

.assessmentbrowser.ui.modal{
    position: inherit !important;
    top: 0 !important;
}

.ngdialog-content {
    top: 3% !important;
    width: 100% !important;
    position: absolute !important;
    background: none !important;
}
.assessment-browser-error{
    height: 350px;
}
    </style>  
<div class="assessmentbrowser ui modal large active" style="top: 5%;">
    <div class="content">
        <div class="ui mini three steps">
            <div class="{{!$ctrl.isAdvanceOptionOpen ? '': 'active'}} step">
                <i class="sidebar icon"></i>
                <div class="content">
                    <div class="title">Questions Set</div>
                    <div class="description">Manage your Questions set</div>
                </div>
            </div>
            <div class="step">
                <i class="browser icon"></i>
                <div class="content">
                    <div class="title">Add Question Set</div>
                    <div class="description">Add question set to the content</div>
                </div>
                </div>
        </div>
        <div class="filters-container">
            <div class="ui form">
                <div class="five fields">
                    <div  ng-class="$ctrl.activityOptions.title ? 'field' :'field error'">
                        <div class="ui corner labeled input">
                            <input name="title" ng-model="$ctrl.activityOptions.title"  type="text" placeholder="Question Set Title"  maxlength="100"  autocomplete="off" ng-click="$ctrl.generateTelemetry({type: 'click', subtype: 'select', target: 'questionTitleInput'})">
                            <div class="ui corner label">
                                <i class="asterisk icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui fluid labeled input">
                            <div class="ui label">Total Marks</div>
                            <input class="total-marks ui dropdown" id="max_score" name="max_score" ng-model="$ctrl.activityOptions.max_score" min='0' required="" type="number" ng-click="$ctrl.generateTelemetry({type: 'click', subtype: 'select', target: 'totalMarksInput'})"/>
                        </div>
                    </div>
                    <div ng-class="$ctrl.activityOptions.total_items ? 'field' : 'field error' ">
                        <div class="ui fluid labeled input displayCount">
                            <div class="ui label">Display</div>
                            <select class="ui fluid dropdown" id="total_items" ng-model="$ctrl.activityOptions.total_items" ng-options="option as option for option in $ctrl.activityOptions.range" ng-change="$ctrl.generateTelemetry({type: 'select', subtype: 'dropDown', target: 'noOfQuestionsdisplay'})">
                            </select>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui toggle checkbox verticalcenter">
                            <input type="checkbox" ng-model="$ctrl.activityOptions.showImmediateFeedback" ng-click="$ctrl.generateTelemetry({type: 'click', subtype: 'toggle', target: 'showFeedbackToggle'})">
                            <label>Show Immediate Feedback</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui toggle checkbox verticalcenter">
                            <input type="checkbox" ng-model="$ctrl.activityOptions.shuffle" ng-click="$ctrl.generateTelemetry({type: 'click', subtype: 'toggle', target: 'shuffleQuestionsToggle'})">
                            <label>Shuffle Questions</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui divider"></div>
        <div class="ui segment" style="width: 100%;height: 270px;" ng-show="$ctrl.itemsLoading">
            <div class="ui active inverted dimmer">
                <div class="ui text loader">Just one second, We're fetching that content for you.</div>
            </div>
        </div>
        <div ng-if="$ctrl.errorMessage" class=" assessment-browser-error">
            <div class="ui negative message">
                <div class="header">
                    We're sorry!
                </div>
                <p>Unable to fetch the Questions! Please try again later!</p>
            </div>
        </div>
        <div>
            <div class="ui two column horizontally padded grid" ng-show="!$ctrl.itemsLoading">
                <div class="column" style="width: 480px;height: 284px; overflow-y: scroll;">
                    <div class="ui large divided items">
                            <div class="item select" ng-repeat="cartItem in $ctrl.cart.items">
                                <div class="middle aligned content" ng-click="$ctrl.previewItem(cartItem, true);">
                                <div class="header">{{ cartItem.data.data.name }}</div>
                                <div class="meta">{{cartItem.config.metadata.type}} | {{ cartItem.config.metadata.qlevel}} | {{ cartItem.config.metadata.title }}</div>
                                <div class="description">{{ cartItem.config.metadata.description }}</div>
                            </div>
                            <div class="ui checkbox" ng-class="item.isSelected ? 'checked' : '' " ng-click="$ctrl.cart.remove(cartItem); $ctrl.generateTelemetry({type: 'select', subtype: 'checkbox', target: 'selectQuestion'})">
                                <input type="checkbox" checked="" name="check">
                                <label></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column right floated">
                    <iframe id="itemIframe" ng-hide="!$ctrl.itemPreviewLoading && ($ctrl.itemPreviewContent.error || ($ctrl.itemPreviewDisplay == $ctrl.itemPreviewDefaultMessage))" style="width: 480px;height: 270px; border: 2px solid #E4E4E4;"></iframe>
                    <div class="itemIframeMessages" ng-show="!$ctrl.itemPreviewLoading && ($ctrl.itemPreviewContent.error || ($ctrl.itemPreviewDisplay == $ctrl.itemPreviewDefaultMessage))">{{$ctrl.itemPreviewDisplay}}</div>
                </div>
            </div>
        </div>
        <div class="ui center aligned segment" ng-show="($ctrl.items && !$ctrl.items.length) && $ctrl.isAdvanceOptionOpen">
            No Data Found
            <br> Redefine your search filters!
        </div>
    </div>
    <div class="actions">
        <a target="_blank">
            <button class="ui blue left floated button" ng-click="$ctrl.generateTelemetry({type: 'click', subtype: 'select', target: 'createAQuestionButton'})">Create a question</button>
        </a>
        <div class="ui label" ng-show="$ctrl.cart.items.length">
            <a class="ui grey circular label">{{$ctrl.cart.items.length}}</a> Questions added
        </div>
        <div class="ui buttons">
            <button id="closePopUp" class="ui orange button" ng-click="$ctrl.isAdvanceOptionOpen = !$ctrl.isAdvanceOptionOpen; $ctrl.generateTelemetry({type: 'click', subtype: 'select', target: 'addMoreQuestions'})" type="button">Add More Questions</button>
            <div class="or"></div>
            <button id="selectanduse" class="ui blue button" ng-click="$ctrl.addItemActivity(); $ctrl.generateTelemetry({type: 'click', subtype: 'select', target: 'addQuestionSet'})" type="button">Add Question Set</button>
        </div>
    </div>
</div>
