<script type="text/ng-template" id="QuestionFormTemplate" ng-controller="QuestionFormController">
    <link rel="stylesheet" type="text/css" href="{{csspath}}" />
    <div class="ui modal questionbank fullscreen active" ng-init="init()">
        <div class="header" style="padding-right:1em;">
            <div class="ui two column grid">
                <div class="row">
                    <div class="column">
                        <span>Question Set</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="content wizard">
            <div class="qs-filters-container" ng-show="!isQuestionSetConfig">
                <div class="ui form">
                    <div class="field">
                        <div class="ui fluid icon input">
                            <input ng-model="filterObj.question_title" placeholder="Search by question, or question title" ng-keypress="$event.keyCode === 13 ? searchQuestions() : null" type="text"></input>
                            <i class="inverted circular search link icon" ng-click="searchQuestions();"></i>
                        </div>
                    </div>
                    <div class="ui accordion field" id="assessmentAdvancedFields">
                        <div class="content transition">
                            <div class="three fields">
                                <div class="field">
                                    <div class="ui fluid labeled input">
                                        <div class="ui label">Language</div>
                                        <select class="ui fluid dropdown search" ng-model="filterObj.language" ng-options="lang for lang in languages" ng-change="searchQuestions()">
                                            <option value="">
                                                All
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui fluid labeled input">
                                        <div class="ui label">Difficulty</div>
                                        <select class="ui fluid dropdown search" ng-model="filterObj.qlevel" ng-options="level for level in difficultyLevels" ng-change="searchQuestions()">
                                        </select>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui fluid labeled input">
                                        <div class="ui label">Question Type</div>
                                        <select multiple="" class="ui fluid dropdown search lableCls" ng-model="filterObj.type" ng-options="type for type in questionTypes" ng-change="searchQuestions()">
                                            <option value="">
                                                Type
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="three fields">
                                <div class="field">
                                    <div class="ui fluid labeled input">
                                        <div class="ui label">&emsp;Grade&nbsp;&nbsp;&nbsp;</div>
                                        <select multiple="" class="ui fluid dropdown search lableCls" ng-model="filterObj.gradeLevel" ng-options="grade for grade in grades" data-bind="options:assessment.gradeLevel" ng-change="searchQuestions()">
                                            <option value="">
                                                Grade
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui fluid labeled input">
                                        <div class="ui label">Concepts <span class="star">&nbsp;*</span></div>
                                        <input type="text" class="fluid" id="queSetConceptsTextBox" placeholder="Choose concepts" ng-model="filterObj.concepts" ng-change="searchQuestions()" readonly="true" />
                                        <span id="concepts_dummy" class="disabled">{{totalconcepts}} concept(s) choosen</span>
                                        <small ng-show="qcconcepterr" class="qcError">Select concept</small>
                                    </div>
                                </div>
                                <!--  <div class="field">
                                   <div class="ui toggle checkbox verticalcenter">
                                       <input type="checkbox" ng-model="filterObjOptions.myQuestions" ng-change="searchQuestions(); generateTelemetry({type: 'select', subtype: 'toggle', target: 'myQuestionsToggle'})">
                                       <label>My Questions</label>
                                   </div>
                               </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="qs-filters-container" ng-show="isQuestionSetConfig">
                <div class="ui form">
                    <div class="five fields">
                        <div ng-class="questionSetConfigObj.title ? 'field' :'field error'">
                            <div class="ui corner labeled input">
                                <input name="title" ng-model="questionSetConfigObj.title" type="text" placeholder="Question Set Title" maxlength="100" autocomplete="off">
                                <div class="ui corner label">
                                    <i class="asterisk icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui fluid labeled input">
                                <div class="ui label">Max score</div>
                                <input class="total-marks ui dropdown" id="max_score" name="max_score" ng-model="questionSetConfigObj.max_score" min='0' required="" type="number" />
                            </div>
                        </div>
                        <div>
                            <div class="ui fluid labeled input displayCount">
                                <div class="ui label">Display</div>
                                <select class="ui fluid dropdown" id="total_items" ng-model="questionSetConfigObj.total_items" ng-options="option as option for option in itemRange">
                                </select>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui toggle checkbox verticalcenter">
                                <input type="checkbox" ng-model="questionSetConfigObj.show_feedback">
                                <label>Show Immediate Feedback</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui toggle checkbox verticalcenter">
                                <input type="checkbox" ng-model="questionSetConfigObj.shuffle_questions">
                                <label>Shuffle Questions</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui divider"></div>
            <div class="ui segment" style="width: 100%;height: 270px;" ng-show="itemsLoading">
                <div class="ui active inverted dimmer">
                    <div class="ui text loader">Just one second, We're fetching that content for you.</div>
                </div>
            </div>
            <div class="qs-questions-list">
                <div class="ui two column horizontally padded grid" ng-show="!itemsLoading">
                    <div class="column question-container" ng-show="!isQuestionSetConfig">
                        <div class="row question-list-container">
                            <div class="ui large divided items">
                                <div class="item select" ng-repeat="question in questions">
                                    <div class="middle aligned content" ng-click="previewItem(question, true);">
                                        <div class="header">{{ question.config.metadata.title }}</div>
                                        <div class="meta">{{question.config.metadata.language}} | {{ question.config.metadata.type}} | {{ question.config.metadata.difficulty }}</div>
                                        <div class="description">{{ question.config.metadata.description }}</div>
                                    </div>
                                    <div>
                                        <input type="checkbox" checked="" name="check" ng-model="question.isSelected" ng-click="selectQuestion(question)">
                                        <button class="mini ui button" ng-click="editQuestion(question)">
                                            Edit
                                        </button>
                                    </div>
                                </div>
                                <div ng-show="questions.length == 0">
                                    <p>No questions available</p>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="column question-container" ng-show="isQuestionSetConfig">
                    <div class="column list-container" ng-show="isQuestionSetConfig">
                        <div class="ui large divided items">
                            <div class="item select" ng-repeat="selQuestion in selectedQuestions">
                                <div class="middle aligned content" ng-click="previewItem(selQuestion, true);">
                                    <div class="header">{{ selQuestion.config.metadata.title }}</div>
                                    <div class="meta">{{selQuestion.config.metadata.language}} | {{ selQuestion.config.metadata.type}} | {{ selQuestion.config.metadata.difficulty }}</div>
                                    <div class="description">{{ selQuestion.config.metadata.description }}</div>
                                </div>
                                <div>
                                    <span><i class="edit icon" ng-click="editConfig(selQuestion)"></i></span>
                                </div>
                                <div>
                                    <span><i class="remove icon" ng-click="removeQuestion(selQuestion)"></i></span>
                                </div>
                            </div>
                            <div ng-show="selectedQuestions.length == 0">
                                <p>No questions selected</p>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="column preview-config">
                        <div class="configForm" ng-show="showConfigForm">
                            <h3>Config Data</h3>
                            <div class="ui form">
                                <div class="fields">
                                    <div class="field">
                                        <label>Max time</label>
                                        <input type="number" placeholder="In minutes" ng-model="selQuestionObj.config.max_time">
                                    </div>
                                    <div class="field">
                                        <label>Max score</label>
                                        <input type="number" ng-model="selQuestionObj.config.max_score">
                                    </div>
                                </div>
                            </div>
                            <div class="ui form">
                                <div class="fields">
                                    <div class="inline field">
                                        <div class="ui checkbox">
                                            <label>Partial Scoring</label>
                                            <input type="checkbox" ng-model="selQuestionObj.config.partial_scoring">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui submit button" ng-click="saveConfig()">Submit</div>
                        </div>
                        <iframe id="itemIframe" class="previewContainer" ng-hide="!itemPreviewLoading && (itemPreviewContent.error || (itemPreviewDisplay == itemPreviewDefaultMessage))"></iframe>
                        <div>
                          <div class="itemIframeMessages" ng-show="!itemPreviewLoading && (itemPreviewContent.error || (itemPreviewDisplay == itemPreviewDefaultMessage))">{{itemPreviewDisplay}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui center aligned segment" ng-show="(items && !items.length) && isAdvanceOptionOpen">
                No Data Found
                <br> Redefine your search filters!
            </div>
        </div>
        <div class="actions">
            <button class="ui blue left floated button" ng-click="createQuestion()">Create question</button>
            <div class="ui buttons">
                <button class="ui orange button" ng-click="cancel();" ng-show="!isQuestionSetConfig" type="button">Cancel</button>
                <button class="ui orange button" ng-click="isQuestionSetConfig = false;" ng-show="isQuestionSetConfig" type="button">Add More Questions</button>
                <div class="or"></div>
                <button class="ui blue button" ng-show="!isQuestionSetConfig" ng-click="createQuestionSet()" type="button">Next</button>
                <button class="ui blue button" ng-disabled="(questionSetConfigObj.title == '')" ng-show="isQuestionSetConfig" ng-click="addQuestionSet()" type="button">Add</button>
            </div>
        </div>
    </div>