<script type="text/ng-template" id="QuestionFormTemplate" ng-controller="QuestionFormController">
  <link rel="stylesheet" type="text/css" href="{{csspath}}" />
  <div class="ui modal qb-question-bank fullscreen active" ng-init="init()">
    <div class="ui grid qcHeader">
      <div class="two wide column questionHeader">
        <h3>Create question</h3>
      </div>
      <div class="eight wide column center aligned">
        <div class="ui huge breadcrumb breadcrumbTitle">

          <div class="section" ng-class="{activeBreadcumb: isQuestionSetConfig == false}">Pick Questions</div>
          <i class="right chevron icon divider"></i>
          <div class="section" ng-class="{activeBreadcumb: isQuestionSetConfig == true}">Configurations</div>
        </div>
      </div>
      <div class="two wide column right aligned qcCloseIcon">
        <i class="close link icon" id="ques-cancel-button" ng-click="cancel();generateTelemetry({type: 'click', subtype: 'select', id: 'button'},$event)"></i>
      </div>
    </div>
    <div class="content wizard">
      <div class="qb-filters-container" ng-show="!isQuestionSetConfig">
        <div class="ui form">
          <div class="field">
            <div class="ui fluid icon input">
              <input ng-model="filterObj.question_title" placeholder="Search by question, or question title" ng-keypress="$event.keyCode === 13 ? searchQuestions() : null" type="text" id="qb-search-box" ng-click="generateTelemetry({type: 'select', subtype: 'keyPress', id: 'text'},$event)" />
              <i class="inverted circular search link icon" id="qb-search-button" ng-click="searchQuestions();generateTelemetry({type: 'select', subtype: 'keyPress', id: 'text'},$event)"></i>
            </div>
          </div>
          <div class="ui accordion field">
            <div class="content transition">
              <div class="three fields">
                <div class="field">
                  <div class="ui fluid labeled input">
                    <div class="ui label">Language</div>
                    <select class="ui fluid dropdown search" ng-model="filterObj.language" ng-options="lang for lang in languages" id="language-drop-down" ng-change="searchQuestions();generateTelemetry({type: 'select', subtype: 'dropDown', 'id': 'dropDown'},'language-drop-down')">
                      <option value="">
                        All
                      </option>
                    </select>
                  </div>
                </div>
                <div class="field">
                  <div class="ui fluid labeled input">
                    <div class="ui label">Difficulty</div>
                    <select class="ui fluid dropdown search" ng-model="filterObj.qlevel" ng-options="level for level in difficultyLevels" id="difficulty-drop-down" ng-change="searchQuestions();generateTelemetry({type: 'select', subtype: 'dropDown', id: 'dropDown'},'difficulty-drop-down')">
                      <option value="">
                        All
                      </option>
                    </select>
                  </div>
                </div>
                <div class="field">
                  <div class="ui fluid labeled input">
                    <div class="ui label">Question Type</div>
                    <select multiple="" class="ui fluid dropdown search lableCls" ng-model="filterObj.type" ng-options="type for type in questionTypes" id="question-type-drop-down" ng-change="searchQuestions();generateTelemetry({type: 'select', subtype: 'dropDown', id: 'dropDown'},'question-type-drop-down')">
                      <option value="">
                        All
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="three fields">
                <div class="field">
                  <div class="ui fluid labeled input">
                    <div class="ui label">&emsp;Grade&nbsp;&nbsp;&nbsp;</div>
                    <select multiple="" class="ui fluid dropdown search lableCls" ng-model="filterObj.gradeLevel" ng-options="grade for grade in grades" data-bind="options:assessment.gradeLevel" id="grade-drop-down" ng-click="" ng-change="searchQuestions();generateTelemetry({type: 'select', subtype: 'dropDown', id: 'dropDown'},'grade-drop-down')">
                      <option value="">
                        All
                      </option>
                    </select>
                  </div>
                </div>
                <div class="field">
                  <div class="ui fluid labeled input">
                    <div class="ui label">Concepts</div>
                    <input type="text" class="fluid" id="queSetConceptsTextBox" ng-model="conceptsText" ng-change="searchQuestions();generateTelemetry({type: 'click', subtype: 'select', id: 'dropDown'},'concepts-drop-down')" readonly="true" />
                  </div>
                </div>
                <div class="field">
                  <span class="ui label qb-toggle-label">My Questions</span>
                  <div class="ui fluid toggle checkbox verticalcenter">
                    <input type="checkbox" ng-model="isMyQuestions" ng-change="searchQuestions();">
                    <label>&nbsp;</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="qb-filters-container" ng-show="isQuestionSetConfig">
        <div class="ui form">
          <div class="five fields">
            <div ng-class="questionSetConfigObj.title ? 'field' :'field error'">
              <div class="ui corner labeled input">
                <input name="title" ng-model="questionSetConfigObj.title" type="text" placeholder="Question Set Title" maxlength="100" autocomplete="off">
                <div class="ui corner label">
                  <i class="asterisk icon"></i>
                </div>
              </div>
            </div>
            <div class="field">
              <div class="ui fluid labeled input">
                <div class="ui label">Max score</div>
                <input class="total-marks ui dropdown" id="max_score" name="max_score" ng-model="questionSetConfigObj.max_score" min='0' required="" type="number" ng-click="generateTelemetry({type: 'select', subtype: 'dropDown', id: 'dropDown'},$event)" />
              </div>
            </div>
            <div class="field">
              <div class="ui fluid labeled input displayCount">
                <div class="ui label">Display</div>
                <select class="ui fluid dropdown" id="total_items" ng-model="questionSetConfigObj.total_items" ng-options="option as option for option in itemRange" ng-click="generateTelemetry({type: 'select', subtype: 'dropDown', id: 'dropDown'},$event)">
                </select>
              </div>
            </div>
            <div class="field">
              <div class="ui toggle checkbox filterField">
                <input type="checkbox" ng-model="questionSetConfigObj.show_feedback" id="show-feedback" ng-click="generateTelemetry({type: 'click', subtype: 'toggle', id: 'checkbox'},$event)" />
                <label>Show Immediate Feedback</label>
              </div>
            </div>
            <div class="field">
              <div class="ui toggle checkbox filterField">
                <input type="checkbox" ng-model="questionSetConfigObj.shuffle_questions" id="shuffle0questions" ng-click="generateTelemetry({type: 'click', subtype: 'toggle', id: 'checkbox'},$event)" />
                <label>Shuffle Questions</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui divider"></div>
      <div class="ui segment" ng-show="itemsLoading">
        <div class="ui active inverted dimmer">
          <div class="ui text loader">Just one second, We re fetching that content for you.</div>
        </div>
      </div>
      <div class="qb-questions-list">
        <div class="ui two column horizontally padded grid" ng-show="!itemsLoading">
          <div class="seven wide column qb-question-container" ng-show="!isQuestionSetConfig">
            <div class="row qb-question-list-container" ng-init="getUnselectedQuestionList()">
              <div class="ui large divided items">
                <div class="item select" ng-repeat="question in selectedQuestions">
                  <div class="middle aligned content" ng-click="previewItem(question, true);">
                    <div class="header">{{ question.title }}</div>
                    <div class="meta">{{question.language[0]}} | {{ question.type}} | {{ question.qlevel }}</div>
                    <div class="description">{{ question.description }}</div>
                  </div>
                  <div>
                    <input type="checkbox" checked="" name="check" ng-model="question.isSelected" id="select-question" ng-click="removeQuestion(question);generateTelemetry({type: 'click', subtype: 'toggle', id: 'checkbox'},$event)">
                    <span ng-show="currentUserId == question.createdBy"><i class="edit icon" id="edit-question-config" ng-click="editQuestion(question);generateTelemetry({type: 'click', subtype: 'select', id: 'button'},$event)"></i></span>
                  </div>
                </div>
                <div class="item select" ng-repeat="question in unselectedQuestions">
                  <div class="middle aligned content" ng-click="previewItem(question, true);">
                    <div class="header">{{ question.title }}</div>
                    <div class="meta">{{question.language[0]}} | {{ question.type}} | {{ question.qlevel }}</div>
                    <div class="description">{{ question.description }}</div>
                  </div>
                  <div>
                    <input type="checkbox" checked="" name="check" ng-model="question.isSelected" id="select-question" ng-click="selectQuestion(question);generateTelemetry({type: 'click', subtype: 'toggle', id: 'checkbox'},$event)">
                    <span><i class="edit icon" id="edit-question-config" ng-show="currentUserId == question.createdBy" ng-click="editQuestion(question);generateTelemetry({type: 'click', subtype: 'select', id: 'button'},$event)"></i></span>
                  </div>
                </div>
                <div ng-show="questions.length == 0">
                  <p>No Data Found Redefine your search filters!.</p>
                  Please click on "Create question" button to create new question
                </div>
              </div>
            </div>
          </div>
          <div class="seven wide column column qb-question-container" ng-show="isQuestionSetConfig">
            <div class="column qb-list-container" ng-show="isQuestionSetConfig">
              <div class="ui large divided items">
                <div class="item select" ng-repeat="selQuestion in selectedQuestions" ng-class="{quesSelector: $index === selectedIndex}">
                  <div class="middle aligned content" ng-click="previewItem(selQuestion, true);">
                    <div class="header">{{selQuestion.title }}</div>
                    <div class="meta">{{selQuestion.language[0]}} | {{ selQuestion.type}} | {{ selQuestion.qlevel }}</div>
                    <div class="description">{{ selQuestion.description }}</div>
                  </div>
                  <div>
                    <span><i class="edit icon" id="edit-question-config" ng-click="editConfig(selQuestion, $index);generateTelemetry({type: 'click', subtype: 'select', id: 'button'},$event)"></i></span>
                  </div>
                  <div>
                    <span><i class="remove icon" id="remove-question-button" ng-click="removeQuestion(selQuestion);generateTelemetry({type: 'click', subtype: 'select', id: 'button'},$event)"></i></span>
                  </div>
                </div>
                <div ng-show="selectedQuestions.length == 0">
                  <p>No questions selected</p>
                </div>
              </div>
            </div>
          </div>
          <div class="five wide column preview-config">
            <div class="preview-and-config">
              <div class="qb-config-form" ng-show="showConfigForm">
                <h3>Configuration</h3>
                <div class="ui form">
                  <div class="field">
                    <label>Score</label>
                    <input type="number" ng-model="selQuestionObj.config.max_score" id="max-score" ng-click="generateTelemetry({type: 'select', subtype: 'dropDown', id: 'dropDown'},$event)" ng-change="saveConfig()">
                  </div>
                </div>
              </div>
              <div class="preview-container">
                <h3>Preview</h3>
                <div class="preview-body">
                  <iframe id="itemIframe" class="preview-iframe"></iframe>
                </div>
              </div>
              <!-- <iframe id="itemIframe" class="previewContainer" ng-hide="!itemPreviewLoading && (itemPreviewContent.error || (itemPreviewDisplay == itemPreviewDefaultMessage))"></iframe>
              <div>
                <div class="itemIframeMessages" ng-show="!itemPreviewLoading && (itemPreviewContent.error || (itemPreviewDisplay == itemPreviewDefaultMessage))">{{itemPreviewDisplay}}</div>
              </div> -->
            </div>
        </div>
        </div>
      </div>
      <div class="ui center aligned segment" ng-show="(items && !items.length) && isAdvanceOptionOpen">
        No Data Found
        <br> Redefine your search filters!
      </div>
    </div>
    <div class="actions button-actions">
      <button class="ui blue left floated button" ng-show="!isQuestionSetConfig" id="create-question-button" ng-click="createQuestion();generateTelemetry({type: 'click', subtype: 'select', id: 'button'},$event)">Create question</button>
      <div class="ui buttons">
        <!-- <div class="or" ng-show="isQuestionSetConfig"></div> -->
        <button class="ui orange button" id="add-more-ques-button" ng-click="isQuestionSetConfig = false;generateTelemetry({type: 'click', subtype: 'select', id: 'button'},$event);closeConfigForm()" ng-show="isQuestionSetConfig" type="button">Add More Questions</button>
        <div class="or" ng-show="isQuestionSetConfig"></div>
        <button class="ui blue button" ng-show="!isQuestionSetConfig" id="next-button" ng-disabled="selectedQuestions.length==0" ng-click="createQuestionSet();generateTelemetry({type: 'click', subtype: 'select', id: 'button'},$event)" type="button">Next</button>
        <button class="ui blue button" ng-disabled="(questionSetConfigObj.title == '')" ng-show="isQuestionSetConfig" id="add-to-stage" ng-click="addQuestionSet();generateTelemetry({type: 'click', subtype: 'select', id: 'button'},$event)" type="button">Add</button>
      </div>
    </div>
  </div>