.chatbot-container {
    position: fixed;
    bottom: 0;
    right: 30px;
    width: 22vw;
    height: 45vh;
    border: 1px solid #122;
    min-height: 425px;
    min-width: 400px;
    transition: all 0.3s ease-in;
    box-shadow: 0 2px 21px 3px rgba(0,0,0,0.5);
    z-index: 9999;
 }
 
 .chat-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto 50px;
    height: 100%;
 }
 
 .chatbot-container .chat-header {
    padding: 15px;
    background-color: #2b3e51;
    color: #fff;
    padding: 10px;
 }
 
 .chatbot-container .chat-body{
    background-color: rgba(238, 238, 238, 0.13);
    color: #000;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding: 10px;
 }
 
 .chatbot-container .chat-body .chat.chat-end{
    align-self: flex-end;
    margin-bottom: 10px;
    max-width: 80%;
 }
 
 .chatbot-container .chat-body .chat.chat-start{
    align-self: flex-start;
    margin-bottom: 10px;
    max-width: 80%;
 }
 
 .chatbot-container .chat-body .chat .chat-msg {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius:  8px;
    color: #000;
 }
 
 
 .chatbot-container .chat-body .chat .chat-msg.user-msg {
    background-color: #e0ffc6;
    right:0;
 }
 
 .chatbot-container .chat-body .chat .chat-msg.reply-msg{
    background-color: #dddddd63;
    left:0
 }
 
 .chatbot-container .chat-input-container{
    display: flex;
    flex: 1 1 auto;
    color: #122;
    /* border: 1px solid #ddd; */
    background-color: #2b3e51;
    color: #fff;
 }
 
 .chatbot-container .chat-input-container .chat-input{
    width: 100%;
    height: 100%;
    border: none;
    padding: 0 15px;
    flex: 0.8;
    background-color: inherit;
    color: #fff;
    transition: 0.3s all ease-out;
    transition:  background-color 0.3s ease-out, color 0.5s ease-out;
 }
 
 .chatbot-container .chat-input-container .chat-input:focus{
    color: #2b3e51;
    background-color: #fff;
 }
 
 
 
 .chatbot-container .chat-input-container .voice-container {
    color: black;
    flex: 0.2;
    background-color: inherit;
 }