<div ng-app="org.ekstep.collectionheader:app" ng-controller="headerController" class="ui masthead vertical segment content-masterhead">
    <!-- new header code start -->
    <div class="ui grid fluid container custom-container">
        <!-- header part 1 -->
        <div class="one wide column custom-1-wide">
            <img class="ui tiny centered image" src="{{contentDetails.contentImage}}" />
        </div>
        <!-- header part 1 -->
        <!-- header part 2 -->
        <div class="four wide column custom-6-wide">
            <!-- content title -->
            <div class="row custom-row-1 content-title-container">
                <label class="content-title" ng-bind="contentDetails.contentTitle | limitTo:30">
                    <span ng-if="contentDetails.contentTitle.length > 30">...</span></label>
            </div>
            <!-- content title -->
        </div>
        <div class="two wide column">
            <div ng-if="lastSaved" class="last-saved-label">
                    <label class="">Last saved {{lastSaved | timeAgo }}</label>
            </div>
        </div>
        <!-- header part 2 -->
        <!-- header part 3 -->
        <!-- header part 3 upper deck -->
        <!-- header part 3 lower deck -->

        <div class="header-icon-container five wide right floated column right aligned">
            <div class="custom-row-2">
                <div id="downloadButton" class="ui primary icon button button-overrides popup-item" data-content="Download content" data-variation="tiny inverted" data-position="top center" ng-click="downloadContent(); telemetry({ subtype: 'download', target: 'downloadBtn'});">
                    <i class="icon-download"></i>&nbsp;&nbsp;Download
                </div>
                <div id="saveButton" ng-class="disableSaveBtn ? 'ui primary icon button button-overrides popup-item disabled' : 'ui primary icon button button-overrides popup-item'" data-content="Save content" data-variation="tiny inverted" data-position="top center" ng-click="saveContent(); telemetry({ subtype: 'save', target: 'saveBtn'});">
                    <i class="icon-save"></i>&nbsp;&nbsp;Save
                </div>
                <div id="closeButton" class="ui red icon button button-overrides popup-item" ng-click="closeCollectionEdtr(); telemetry({ subtype: 'close', target: 'closeBtn'});">
                    <i class="window close icon"></i>
                </div>
                <div>
                    <a class="ui compact icon basic big button collection-header-help-button" ng-click="telemetry({ subtype: 'reportIssue', target: 'reportIssueButton'});" ng-href="{{reportIssueLink}} " target="_blank " data-tooltip="Click to help" data-position="left center"><i class="help circle medium icon custom-help-button"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- header part 3 lower deck -->
</div>
