/*#mtf-renderer {
  height: 90vh;
  margin: auto;
  text-align: center;
  line-height: 2em;
  width: 80%;
  margin-top: 2%;
  display: grid;
}*/


.mtf-layout {
  width: 100%;
  top: 10px;
  position: relative;
  margin: auto;
}

header.mtf-header {
  width: 100%;
  background-color: #404041;
  height: auto;
}

.mtf-question-text {
  padding: 17px 10px 16px 10px;
  color: white;
  font-size: 100%;
  line-height: normal;
  text-align: center;
}

.mtf-hori-container {
  margin: 0;
  text-align: left;
  overflow: hidden;
  width: 100%;
  display: block;
  margin-top: 2%;
  height: 18vh;
}

.mtf-hori-option {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  height: 100%;
}

.mtf-hori-ques-option {
  margin: 0 7%;
  border: 1px solid #c8ccd0;
  height: 100%;
}

.mtf-hori-lhs-option {
  margin: 0 7%;
  border: 1px inset #c8ccd0;
  height: 100%;
}

.mtfHoriRhsOption {
  margin: 0 7%;
  border: 1px solid #c8ccd0;
  background-color: #ede9e3;
  height: 100%;
  box-shadow: 0 0 10px #c8ccd0;
  position: relative;
}

.mtf-hori-ques-text {
  line-height: 1.5;
  padding: 5px;
  display: table;
  height: 100%;
  width: 100%;
}

.mtf-hori-ques-text-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  word-break: break-word;
}

[ng-drag].dragging {
  position: absolute;
  height: 18vh;
}

.width20 {
  width: 20%;
}

.width25 {
  width: 25%;
}

.width33 {
  width: 31.33%;
}
.width100 {
  width: 85%;
}

.width20 [ng-drag].dragging {
  width: 18%;
}

.width25 [ng-drag].dragging {
  width: 20%;
}

.width33 [ng-drag].dragging {
  width: 28.33%;
}


/* dragula-specific example page styles */
/* dragula-specific example page styles */
.wrapper {
  height: 50px;
    max-width: 760px;
    min-height: 50px !important;
    min-width: 400px;
    margin-right:auto;
    margin-left:auto;
    margin-top:40px;
}
.cont-dragula {
  /*display: inline-block;*/
    width: 29%;
    /*border: 1px solid;*/
    margin-left: 3%;
    height: 100%;
    text-align: center;
    margin-top: -4%;
    margin-bottom: 10%
}

/*
 * note that styling gu-mirror directly is a bad practice because it"s too generic.
 * you"re better off giving the draggable elements a unique class and styling that directly!
 */
.cont-dragula > div,
.gu-mirror {
  /*margin: 10px;*/
  /*padding: 10px;*/
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 0.4s ease-in-out;
}
.cont-dragula > div {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.cont-dragula > p {
  /*margin: 10px;*/
  /*padding: 10px;*/
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 0.4s ease-in-out;
}

.cont-dragula > p {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}


.cont-dragula .ex-moved {
  background-color: #e74c3c;
}
.cont-dragula.ex-over {
  background-color: rgba(255, 255, 255, 0.3);
}
