<script type="text/ng-template" ng-app="worksheetApp" ng-controller="worksheetCtrl as $ctrl" id="partials/worksheet">

    <div class="ui active longer modal fullscreen-modal">
        <div class="ui clearing segment overlap-all margin-bottom-0 header-height">
            <strong class="ui left floated header header-title">Upload a Pdf</strong>

            <div class="ui right floated header">
                <span><i class="close link icon" id="close-button" ng-click="closeThisDialog()"></i><span>
            </div>
        </div>
        <div class="content">
            <div class="ui active inverted dimmer" ng-if="isLoading">
                <div class="ui large text loader">{{loadingText}}</div>
            </div>
            <!-- <div>
                <form method="POST" enctype="multipart/form-data" id="fileUploadForm" style="margin-left: 70px;">
                    <input type = "file" ng-model="fileupload" id="inputFile" style="margin-left:60px" value="Browse"/>
                    <button ng-click = "uploadFile($event)" style="display:none">upload me</button>
                </form>
            </div> -->

            <label for="inputFile">
                <div class="drop-area" style="margin-left: 140px; margin-bottom: 10px;">Click or drop something here</div>
                <form method="POST" enctype="multipart/form-data" id="fileUploadForm">
                    <input type="file" onchange="angular.element(this).scope().uploadFile(this)" ng-model="fileupload" id="inputFile">
                    <p id="filename"></p>
                </form>
            </label>
            
            <div id="upload-content-div" style="margin-top: 15px"></div>
            <div id="upload-content-loader-area" ng-if='showLoaderIcon' style="width:69px;height:89px; top:38%;left:45%; position:absolute; padding:2px;"><img ng-src = "{{loaderIcon}}" width="64" height="64" /><br>Uploading..</div>
            <div class="ui message">
                <ul class="list">
                    <li>File accepted - pdf</li>
                    <li>Max file size - 50 Mb</li>
                </ul>
            </div>
        </div>
        <div class="actions">
            <div class="ui buttons">
                <button class="ui orange button" ng-click="closeThisDialog()">Cancel</button>
                <div class="or"></div>
                <button class="ui blue button" ng-click="uploadFile($event)" ng-disabled="showLoaderIcon">Upload</button>
            </div>
        </div>

   </div>
</script>