<div ng-controller="ftbQuestionFormController" ng-init="init()">
    <div class="ui grid mcqFullGrid">
        <div class="one column row">
            <div class="column">
                <form name="ftbForm">
                    <div class="one column row qHeader">
                        <span>Enter the question</span>
                    </div>
                    <div class="outer-segment">
                        <div class="ui segments inner-segment" ng-class="{'cardBorder': $ctrl.focused, 'has-success-card':ftbForm.ftbQuestion.$valid, 'has-errorCard': submitted && (ftbForm.ftbQuestion.question.text.length == 0 || ftbForm.ftbQuestion.$error.pattern)}">
                            <div class="ui segment">
                                <div class="ui grid">
                                    <div class="twelve wide column">
                                        <div class="form-group segment textBoxDiv">
                                            <textarea class="form-control textboxQ-ftb" ng-class="{'has-success':ftbForm.ftbQuestion.$valid, 'has-error': submitted && (ftbForm.ftbQuestion.$error.required != true || ftbForm.ftbQuestion.$error.pattern !=true)}" placeholder="Enter the question" name="ftbQuestion" id="ftbQuestion" ng-model="ftbFormData.question.text" maxlength="220" ng-init="$ctrl.focused = false" ng-focus="$ctrl.focused = true;generateTelemetry({type: 'select', subtype: 'keyPress', target: 'ftbTextarea'}, $event)" ng-blur="$ctrl.focused = false" required>
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui secondary right aligned segment custom-sec-segment" ng-if="ftbConfiguartion.questionConfig.isImage || ftbConfiguartion.questionConfig.isAudio">
                                <div class="ui grid">
                                    <div class="one column row segment-column">
                                        <div class="column right floated">
                                            <span class="custom-bottom-label">Add: </span>
                                            <span class="custom-bottom-segment"><i class="image large icon"></i></span>
                                            <span class="custom-bottom-segment"><i class="music large icon"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="instructions">
                        <p>
                            * Use square brackets [[ ]] to indicate blanks in the sentence. The words between [[ ]] will appear as blanks to student.</p>
                        <p>
                            * Example: 'The tree is [[tall]] and [[strong]].' The question will be created as: 'The tree is _______ and _______.' The correct answers will be 'tall' and 'strong'.
                        </p>
                    </div>
                </form>
                <keyboard-config data="keyboardConfig"></keyboard-config>
                </div>
            </div>
        </div>
    </div>