.item-activity-container .filters-container {
    padding: 8px 10px 4px 18px;
    background: #f1f1f1;
}
.itemIframeMessages {
    border: 2px solid #E4E4E4;
    padding: 110px 20px;
    background: #FFFFFF;
    text-align: center;
    font-weight: bold;
    height: 270px;
    width: 480px;
}
.grid .selection.items .item:hover{
    background: #f1f1f1;   
}
.cart-length .circular{
    top: -12px;
    position: relative;
}
