.item-activity .assessment-counts {
    float: right;
    position: relative;
    top: 3px;
    right: 22px;
}
.item-activity-container .filters-container {
    padding: 8px 10px 4px 18px;
    background: #f1f1f1;
}
.item-activity-container .manage-activity {
    clear: both;
    overflow: hidden;
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 2px solid #E6E6E6;
}
.icons-assessment,
.icons-mandatory,
.icons-assessment-create {
    background-image: url('../assets/icons-s3c534d2ee0.png');
    background-repeat: no-repeat;
}

.icons-mandatory {
    background-position: 0 -1018px;
    height: 16px;
    width: 16px;
}

.icons-assessment {
    background-position: 0 -238px;
    height: 24px;
    width: 24px;
}
.icons-assessment-create {
    background-position: 0 -138px;
    height: 90px;
    width: 114px;
}
[ng-click] {
    cursor: pointer;
}
.item-activity-container .activity-items-container {
    float: left;
    width: 50%;
    height: 310px;
    overflow-y: scroll;
}
.item-activity-container .activity-questions {
    float: left;
    width: 60%;
    padding-left: 15px;
}

.item-activity-container .activity-actions {
    float: right;
    width: 40%;
    margin-top: 15px;
    padding-right: 20px;
    text-align: right;
}
/* Old */

.item-activity-container {
    float: left;
    width: 100%;
    padding: 0;
    overflow: hidden !important;
}

.item-activity-container .activity-items {
    float: left;
    width: 100%;
    min-height: 84px;
    margin: 0;
    color: #4A8BCD;
    border-bottom: 1px solid #cccccc;
}

.item-activity-container .activity-items h4 {
    font-size: 18px;
    font-weight: normal;
}

.item-activity-container .activity-items.active {
    background: #E6E6E6;
}

.item-activity-container .create-question {
    width: 310px;
    text-align: center;
    margin: 25px auto;
    font-size: 18px;
    color: #A7A7A7;
}

.item-activity-container .create-question.no-items {
    margin: 0 auto;
}

.item-activity-container .activity-items-info {
    font-family: Helvetica;
    color: #757575;
}

.item-activity-container .activity-shuffle span {
    padding: 0 10px;
}

.item-activity-container .item-template-content {
    overflow: hidden;
    margin: 0px 30px 30px;
}

.item-activity-container .manage-activity .items-length {
    float: left;
}

.item-activity-container .manage-activity .items-length span {
    padding-top: 8px;
    text-transform: uppercase;
    float: left;
    font-size: 12px;
    color: #9b9b9b;
}

.item-activity-container .manage-activity .cart-length {
    padding: 8px 10px 0 0;
    font-size: 12px;
    color: #a3a3a3;
}

.item-activity-container .manage-activity .add-more-items {
    margin-right: 8px;
}

.item-activity-container .activity-questions {
    float: left;
    width: 60%;
    padding-left: 15px;
}

.item-activity-container .activity-actions {
    float: right;
    width: 40%;
    margin-top: 15px;
    padding-right: 20px;
    text-align: right;
}

.item-activity-container .activity-actions a {
    position: relative;
    top: 10px;
    right: 12px;
}

.item-activity-container .activity-preview {
    float: left;
    position: relative;
    width: 50%;
}

.item-activity-container .activity-preview > span {
    top: 140px;
    right: 90px;
}

.item-activity-container .activity-preview #itemIframe,
.item-activity-container .activity-preview .itemIframeMessages {
    position: relative;
    float: right;
    width: 430px;
    height: 320px;
    margin: 3px 0 0 8px;
    border: 2px solid #E4E4E4;
    z-index: 5;
}

.item-activity-container .activity-preview .itemIframeMessages {
    position: absolute;
    right: 0;
    padding: 110px 20px;
    background: #FFFFFF;
    text-align: center;
    font-weight: bold;
    z-index: 10;
}

