<div ng-app="org.ekstep.collectioneditor" ng-controller="mainController" class="ui masthead vertical segment collection-masterhead" id="collectionMasterhead">
    <div ng-repeat="header in headers" ng-include="header.templateURL"></div>
    <div class="ui grid main-body" id="mainBody">
        <div class="ui column" id="table-of-contents">
            <div class="ui segment content-editor-segment margin-bottom-none">
                <div class="ui grid container">
                    <div class="ten wide column">
                        <p class="header-title">TABLE OF CONTENTS</p>
                    </div>
                    <div class="two wide column" id="treeAccessToolsSegment">
                        <button ng-if="expandNodeFlag==false" ng-click="expandNode(); telemetry({ subtype: 'collapse', target: 'collapseNodeBtn'});" class="ui button popup-item" data-content="Collapse all" data-variation="tiny inverted" data-position="right center"><i class="angle double up icon"></i></button>
                        <button ng-if="expandNodeFlag==true" ng-click="expandNode(); telemetry({ subtype: 'expand', target: 'expandNodeBtn'});" class="ui button popup-item" data-content="Expand all" data-variation="tiny inverted" data-position="right center"><i class="angle double down icon"></i></button>
                    </div>
                </div>
            </div>
            <div class="ui attached segment" id="treeWrapper">
                <div id="collection-tree"></div>
            </div>
            <div class="ui grid table-of-contents-fixed-btns">
                <div class="twelve wide column padding-top-none"> 
                    <div class="ui two buttons table-of-contents-btn">
                        <button class="ui basic button text-transform-none" ng-click="addNodeType('sibling')" ><a><i class="plus icon"></i>New Sibling</button>
                        <button class="ui basic button text-transform-none" ng-click="addNodeType('child')"><a> <i class="reply icon table-of-contents-child-icon "></i>New Child</a></button>  
                    </div>
                </div>    
            </div>
            <!-- <div class="ui segments">
                <div class="ui segment" id="treeAccessToolsSegment">
                    <div id="treeExpandCollapseButtonsContainer">
                        <button ng-if="expandNodeFlag==false" ng-click="expandNode(); telemetry({ subtype: 'collapse', target: 'collapseNodeBtn'});" class="ui button popup-item" data-content="Collapse all" data-variation="tiny inverted" data-position="right center"><i class="fa fa-angle-double-up" aria-hidden="true"></i></button>
                        <button ng-if="expandNodeFlag==true" ng-click="expandNode(); telemetry({ subtype: 'expand', target: 'expandNodeBtn'});" class="ui button popup-item" data-content="Expand all" data-variation="tiny inverted" data-position="right center"><i class="fa fa-angle-double-down" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div class="ui segment" id="treeWrapper">
                    <div id="collection-tree"></div>
                </div>
            </div> -->
        </div>
        <div class="ui padded grid column" id="contents-pane">
            <div class="row content-manifest">
                <div class="sixteen wide column metacontent-holder metadata-form-container" ng-repeat="page in metaPages" ng-show="getObjectType(page.objectType) === selectedObjectType" ng-include="page.templateURL"></div>
            </div>
            <div class="row">
                <div class="twelve wide column tree-container">
                    <div class="tree-header padding-top-10" ng-if="!isContent">
                        <div class="ui label tree-leftHeader">ADD CONTENT</div>
                        <div class="ui label tree-rightHeader blue-color">View Library</div>
                    </div>
                    <div class="contentWidth padding-top-10" ng-if="isContent">
                        <div class="ui label tree-leftHeader">CONTENT PREVIEW</div>
                        <div class="ui label tree-rightHeader"><i class="fa fa-trash right floated delete-node" aria-hidden="true" ng-click="deleteNode(selectedContent, $event);"> REMOVE</i></div>
                    </div>
                    <div class="ui" id="tree-table">
                        <div ng-if="!isContent">
                            <div class="tree-table-drag">
                                Drag and Drop Suggested Content here or <span class="blue-color">View Library</span>
                            </div>
                        </div>
                        <div class="ui raised segment padding-none" ng-repeat="child in collectionData" ng-if="!isContent">
                            <div class="tree-table-row">
                                <div class="ui divided items">
                                    <div class="item custom-segment">
                                        <div class="image">
                                            <img ng-src="{{child.data.metadata.posterImage || defaultImage}}">
                                            <p class="contentType">{{child.data.metadata.contentType}}</p>
                                        </div>
                                        <div class="content padding-15">
                                            <p class="header content-name">{{child.data.metadata.name}}</p>
                                            <div class="meta">
                                                <p class="content-desc">{{child.data.metadata.description}}</p>
                                            </div>
                                            <div class="extra padding-top-10 ">
                                                <p>
                                                    <span ng-repeat="grade in child.data.metadata.gradeLevel | limitTo: 2">{{grade}} &nbsp;</span>
                                                    <span ng-repeat="genre in child.data.metadata.genre | limitTo: 2">{{genre}} &nbsp;</span>
                                                </p>
                                            </div>
                                            <div class="extra">
                                                <span ng-if="child.data.metadata.owner">Created by {{child.data.metadata.owner}}</span>
                                                <i class="long arrow right medium icon right floated blue-color" ng-click="setActiveNode(child.key)"></i>
                                                <i class="fa fa-trash right floated delete-node" aria-hidden="true" ng-click="deleteNode(child, $event);"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-if="isContent" class="contentWidth">
                            <div class="content-details">
                                <div id="contentPreview">
                                    <div class="preview-image">
                                        <img class="preview-play-image" ng-click="playContent(selectedContent);" src="{{playImage}}">
                                    </div>
                                    <iframe id="previewContentIframe" width=100% height=100%></iframe>
                                </div>
                                <p class="tree-leftHeader content-owner">OWNER</p>
                                <div class="footer">
                                    <span>{{selectedContent.data.metadata.owner}}</span>
                                    <span class="content-grade">
                                        <span ng-repeat="grade in selectedContent.data.metadata.gradeLevel | limitTo: 2">{{grade}} &nbsp;</span>
                                        <span ng-repeat="genre in selectedContent.data.metadata.genre | limitTo: 2">{{genre}} &nbsp;</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tree-footer" ng-class="{'contentWidth':isContent}">
                        <span class="blue-color" ng-if="prevTextBook.data.metadata.name" ng-click="setActiveNode(prevTextBook.key)">Go to {{prevTextBook.data.metadata.name}}</span>
                        <span class="blue-color floatContentRight" ng-if="nextTextBook.data.metadata.name" ng-click="setActiveNode(nextTextBook.key)">Go to {{nextTextBook.data.metadata.name}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
