.textbox:focus {
  border-width: 0px 0px 1px 0px solid blue;
  outline: 0;
  box-shadow: 0 4px 6px -6px #000000;
  border-color: #9090e4;
}

.textbox {
  width: 50%;
  border-width: 0px 0px 1px 0px;
  height: 33px;
  color: inherit;
}
.cardBorder{
  background-color: #9090e4;
  box-shadow: 0 4px 6px -6px #9090e4;
  color: #9090e4;
}

.maxLengthText {
  float: right;
}

.optionError {
  color: red;
}

.optionTab {
  text-align: center;
}

.has-error {
  border-bottom-color: red;
}

.has-success {
  border-bottom-color: #dfcfcf;
}

.has-error-text {
  color: inherit;
}

.has-success-text {
  color: red;
}

.mcqFullGrid {
  max-height: 86vh;
  width: 100%;
  margin-left: 0%;
  margin-top: 0%
}

.innerScroll {
  padding-left: 4%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: 2%;
}

#eachCard {
  box-shadow: 1px 1px 1px #9da1a5;
  margin-bottom: 2%
}

.textBoxDiv {
  text-align: center;
}

.deleteText {
  color: #8b8c8d;
}

.addAns {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 6%;
}

.headQA {
  margin-top: 3%;
}