<div id="mtf-renderer" ng-controller="MTFRendererController" ng-init="init()" ng-show="showTemplate">
  <link rel="stylesheet" type="text/css" href="{{cssPath}}">
  <div class="mtf-layout">
    <header class="mtf-header">
      <div class="mtf-question-text">{{qData.question.text}}</div>
    </header>
    <div class="mtf-hori-container">
      <div class="mtf-hori-option" ng-repeat="lval in qData.option.optionsLHS" ng-class="{'width20': qData.option.optionsLHS.length == 5, 'width25': qData.option.optionsLHS.length == 4,'width33': qData.option.optionsLHS.length == 3}">
        <div class="mtf-hori-ques-option">
          <div class="mtf-hori-ques-text">
            <div class="mtf-hori-ques-text-inner">{{lval.text}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="mtf-hori-container">
      <div class="mtf-hori-option" ng-repeat="val in selectedAns" ng-class="{'width20': qData.option.optionsLHS.length == 5, 'width25': qData.option.optionsLHS.length == 4,'width33': qData.option.optionsLHS.length == 3}">
        <div class="mtf-hori-lhs-option" ng-drop="true" ng-drop-success="onDropToLHS($index,$data,$event);logTelemetryItemResponse(val.mapIndex);" ng-drag="{{val.mapIndex != undefined}}" ng-drag-data="{{val}}" id="drag-drop-lhs" ng-drag-start="logTelemetryInteract(val.mapIndex);" on-drop="logTelemetryInteract(val.mapIndex);">
          <div class="mtf-hori-ques-text">
            <div class="mtf-hori-ques-text-inner" id="{{$index}}" data-val="{{val}}" ng-model="val">{{val.text}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="mtf-hori-container" ng-drop="true" ng-drop-success="onDropToRHS($data,$event);" on-drop="logTelemetryInteract('drop-rhs');">
      <div class="mtf-hori-option" ng-repeat="rval in draggableObjects" ng-class="{'width20': qData.option.optionsRHS.length == 5, 'width25': qData.option.optionsRHS.length == 4,'width33': qData.option.optionsRHS.length == 3}">
        <div class="mtfHoriRhsOption" ng-drag="true" ng-drag-data="{{rval}}" ng-drag-start="logTelemetryInteract(rval.mapIndex);" id="drag-rhs">
          <div class="mtf-hori-ques-text">
            <div class="mtf-hori-ques-text-inner" id="{{$index}}">{{rval.text}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>