<div ng-controller="org.ekstep.textNew:config-controller">
    <div class="field">
        <label>Choose language</label>
        <button class="circular ui blue icon button" ng-click="setFont('NotoSans')"><strong>English</strong></button>
        <button class="circular ui blue icon button" ng-click="setFont('NotoSansKannada')"><strong>ಕನ್ನಡ</strong></button>
        <button class="circular ui blue icon button" ng-click="setFont('NotoSansDevanagari')"><strong>हिंदी</strong></button>
        <button class="circular ui blue icon button" ng-click="setFont('NotoSansOriya')"><strong>ଓଡିଆ</strong></button>
        <br>
        <br>
        <button class="circular ui blue icon button" ng-click="setFont('NotoSansBengali')"><strong>বাঙালি</strong></button>
        <button class="circular ui blue icon button" ng-click="setFont('NotoSansTelugu')"><strong>
తెలుగు</strong></button>
    </div>
</div>
