<div ng-controller="org.ekstep.text:config-controller">
    <label>Choose language</label>
    <br>
    <button class="circular ui blue icon button" ng-click="setFont('NotoSans')"><strong>English</strong></button>
    <button class="circular ui blue icon button" ng-click="setFont('NotoSansKannada')"><strong>ಕನ್ನಡ</strong></button>
    <button class="circular ui blue icon button" ng-click="setFont('NotoSansDevanagari')"><strong>हिंदी</strong></button>
    <br>
    <br>
    <button class="circular ui blue icon button" ng-click="setFont('NotoSansOriya')"><strong>ଓଡିଆ</strong></button>
    <button class="circular ui blue icon button" ng-click="setFont('NotoSansBengali')"><strong>বাঙালি</strong></button>
    <button class="circular ui blue icon button" ng-click="setFont('NotoSansTelugu')"><strong>
తెలుగు</strong></button>
</div>
