/*css */

.at.config.properties.content {
    background-color: #3f4d9c !important;
}

.at.config.properties.header {
    color: #FFF !important;
}

.hide {
    display: none;
}

.config-toolbar-content {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}
.toolbarOptions{
  z-index:120;
}
.plugin-toolbar-container{
  display: inline-block;
}
.plugin-toolbar-draggable{
  cursor: move;
}
.cursor-move{
  cursor: move;
}