/*css */

.at.config.properties.content {
    background-color: #3899ec !important;
}

.config-header {
    color: #FFF !important;
    font-size: 16px !important;
    display: inline !important;
}

.config-close-icon {
    color: #FFF !important;
    font-size: 16px !important;
    display: inline !important;
    float: right;
    cursor: pointer;
}

.hide {
    display: none;
}

.config-toolbar-content {
    height: 320px;
    overflow-y: auto;
    overflow-x: hidden;
}

.toolbarOptions {
    z-index: 120;
}

#plugin-toolbar-container {
    position: absolute;
    width: 285px;
}

.plugin-toolbar-draggable {
    cursor: move;
}

.cursor-move {
    cursor: move;
}
.configmenu{
    background-color: #EEEEEE !important;
}