<div id="preview-ftb-horizontal" ng-app="FTBRendererApp" ng-init="init()" ng-controller="FTBRendererController" ng-show="showTemplate">
    <link rel="stylesheet" type="text/css" href="{{cssPath}}">
    <div class="qc-ftb-layout" ng-class="{qcalgin:qcmiddlealign}">
        <div class="ftb-question-header" ng-show="qcquestion">
            <div class="qc-ftb-question-text" id="qftbtext" class="qc-text-cls">
            </div>
        </div>
        <div class="ftbanswer-container" ng-show="qcblank">
            <input id="answertxt" type="text" name="answer" ng-model="ftbAnswer" ng-click="telemetry($event);" autofocus>
        </div>
    </div>
</div>