<div class="ui modal large">
    <div class="header" style="background: hsl(200, 100%, 43%); color: white;">
        <div class="ui grid">
            <div class="fifteen wide column">
                <div class="left floated">
                    <label>Assessment Browser</label>
                </div>
            </div>
            <div class="one wide column">
                <div class="right floated">
                    <i class="remove icon" ng-click="$ctrl.cancel()"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="content item-activity-container">
        <!-- <div class="pull-right" ng-click="$ctrl.cancel()"><i class="delete icon"></i></div> -->
        <div ng-show="$ctrl.isFiltersShown">
            <div class="ui pointing secondary menu">
                <a class="item" ng-class="{active: !$ctrl.isMyQuestions}" ng-click="$ctrl.searchQuestions()">All Questions</a>
                <a class="item" ng-class="{active: $ctrl.isMyQuestions}" ng-click="$ctrl.searchQuestions('myQuestions')">My Questions</a>
            </div>
            <div class="filters-container">
                <div class="ui form">
                    <div class="field">
                    <div class="ui fluid action input">
                        <input ng-disabled="isFilterAdded()" ng-model="$ctrl.activity.question_title" placeholder="Search by question, or question title" type="text"></input>
                        <div class="ui icon primary button" ng-click="($ctrl.isMyQuestions === true ? $ctrl.searchQuestions('myQuestions') : $ctrl.searchQuestions())"><i class="search icon"></i></div>
                    </div>
                    </div>
                    <div class="five fields">
                        <div class="field">
                            <label>Language</label>
                            <select class="ui dropdown" ng-model="$ctrl.activity.language" ng-options="lang for lang in $ctrl.assessment.language" ng-change="($ctrl.isMyQuestions === true ? $ctrl.searchQuestions('myQuestions') : $ctrl.searchQuestions())">
                                <option value="">
                                    All
                                </option>
                            </select>
                        </div>
                        <div class="field">
                            <label>Difficulty</label>
                            <select class="ui dropdown" ng-model="$ctrl.activity.qlevel" ng-options="level for level in $ctrl.assessment.qlevel" ng-change="($ctrl.isMyQuestions === true ? $ctrl.searchQuestions('myQuestions') : $ctrl.searchQuestions())">
                                <option value="">
                                    Difficulty
                                </option>
                            </select>
                        </div>
                        <div class="field">
                            <label>Question Type</label>
                            <select multiple="" class="ui fluid dropdown" ng-model="$ctrl.activity.type" ng-options="type for type in $ctrl.assessment.type" ng-change="($ctrl.isMyQuestions === true ? $ctrl.searchQuestions('myQuestions') : $ctrl.searchQuestions())">
                            <option value="">
                                    Type
                                </option>
                            </select>
                        </div>
                        <div class="field">
                            <label>Grade</label>
                            <select multiple="" class="ui fluid dropdown" ng-model="$ctrl.activity.gradeLevel" ng-options="grade for grade in $ctrl.assessment.gradeLevel" data-bind="options:assessment.gradeLevel" ng-change="($ctrl.isMyQuestions === true ? $ctrl.searchQuestions('myQuestions') : $ctrl.searchQuestions())">
                            <option value="">
                                    Grade
                                </option>
                            </select>
                        </div>
                        <div class="field">
                            <label>Concepts</label>
                            <input type="text" placeholder="Concepts">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="filters-container" ng-show="!$ctrl.isFiltersShown">
            <h4>Test Settings</h4>
            <div class="ui form activityOptionsForm">
                <div class="five fields">
                    <!-- <span class="fa fa-spinner fa-spin fa-5x at-loader" ng-show="$ctrl.itemActivityLoading"></span> -->
                    <div class="field required">
                        <label>Add questions to</label>
                        <input id="title" name="title" ng-model="activityOptions.title" required="" type="text" placeholder="Assessment Title" maxlength="60" />
                    </div>
                    <div class="field required">
                        <label>Total Marks:<i class="icons-mandatory" ng-show="activityOptionsForm.max_score.$error.required"></i></label>
                        <input class="total-marks ui dropdown" id="max_score" name="max_score" ng-model="$ctrl.activityOptions.max_score" required="" type="number" />
                    </div>
                    <div class="field">
                        <label>Display any:</label>
                        <select class="total-marks ui dropdown" id="total_items" name="total_items" ng-model="$ctrl.activityOptions.total_items" ng-options="option as option for option in $ctrl.activityOptions.range">
                        </select>
                        <span class="display-total-count">
                            /{{$ctrl.activityOptions.range.length}} questions
                        </span>
                    </div>
                    <div class="field">
                        <div class="top"></div>
                        <div class="ui checkbox">
                            <input id="showImmediateFeedback" ng-model="$ctrl.activityOptions.showImmediateFeedback" type="checkbox">
                            <label>Show Immediate Feedback</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="top"></div>
                        <div class="ui checkbox">
                            <input id="shuffleQuestions" ng-model="$ctrl.activityOptions.shuffle" type="checkbox">
                            <label>Shuffle Questions</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <!-- <span class="fa fa-spinner fa-spin fa-5x at-loader" ng-show="$ctrl.itemsLoading"></span> -->
            <div class="manage-activity">
                <div class="items-length">
                    <span ng-show="$ctrl.isFiltersShown">({{$ctrl.items.length}}) Questions</span>
                    <span ng-show="!$ctrl.isFiltersShown">Added Questions ({{$ctrl.cart.items.length}})</span>
                </div>
                <div class="pull-right">
                    <span class="cart-length" ng-show="$ctrl.cart.items.length && $ctrl.isFiltersShown">
                        <i class="add to cart icon large"></i>
                        <a class="ui orange circular label">{{($ctrl.cart.items.length > 1) ? $ctrl.cart.items.length : $ctrl.cart.items.length }}</a>
                    </span>
                    <button class="ui blue button" ng-click="$ctrl.addActivityOptions()" ng-disabled="!$ctrl.cart.items.length" ng-show="$ctrl.isFiltersShown">NEXT</button>
                    <button class="ui blue  button" ng-click="$ctrl.isFiltersShown = !$ctrl.isFiltersShown" ng-show="!$ctrl.isFiltersShown">Add More Questions</button>
                    <button class="ui blue  button" ng-click="$ctrl.addItemActivity()" ng-disabled="activityOptionsForm.$invalid || !activityOptions.title || !$ctrl.cart.items.length" ng-show="!$ctrl.isFiltersShown" type="button">Add Test</button>
                    <a href="" target="_blank">
                        <button class="ui blue  button">Create A Question</button>
                    </a>
                </div>
            </div>
            <div ng-show="($ctrl.isFiltersShown && $ctrl.items.length) || (!$ctrl.isFiltersShown && $ctrl.cart.items.length)">
                <div class="activity-items-container">
                    <div ng-show="$ctrl.isFiltersShown">
                        <div class="activity-items" ng-class="{'active': item.question.identifier == $ctrl.activePreviewItem}" ng-click="$ctrl.previewItem(item)" ng-repeat="item in $ctrl.items">
                            <div class="ui middle aligned animated list activity-questions">
                                <div class="content">
                                    <div class="questionCls">{{item.question.question }}</div>
                                    <div class="description">{{ item.question.description }}</div>
                                    <p class="activity-items-info">
                                        <span>{{item.question.type}}</span>
                                        <span> | {{ item.question.qlevel}}</span>
                                        <span> | {{ item.question.title }}</span>
                                    </p>
                                </div>
                            </div>
                            <div class="activity-actions">
                                <a href="/index.php?option=com_ekcontent&view=itemform&tmpl=component&identifier={{item.question.identifier}}" ng-click="$event.stopPropagation()" ng-show="{{$ctrl.item.question.owner == userDetails.id}}" target="_blank">
                                    <i class="icons-edit-item"></i>
                                </a>
                                <button class="ui blue button" ng-click="$ctrl.cart.add(item); $event.stopPropagation()" ng-hide="item.isSelected">Add</button>
                                <button class="ui orange button" ng-click="$ctrl.cart.remove(item); $event.stopPropagation()" ng-show="item.isSelected">Remove</button>
                            </div>
                        </div>
                    </div>
                    <div ng-show="!$ctrl.isFiltersShown">
                        <div class="activity-items" ng-class="{'active': cartItem.question.identifier == $ctrl.activePreviewItem}" ng-click="$ctrl.previewItem(cartItem)" ng-repeat="cartItem in $ctrl.cart.items">
                            <div class="ui middle aligned animated list activity-questions">
                                <div class="item">
                                    <div class="content">
                                        <div class="questionCls">{{cartItem.question.question }}</div>
                                        <div class="description">{{ cartItem.question.description }}</div>
                                        <p class="activity-items-info">
                                            <span>{{cartItem.question.type}}</span>
                                            <span> | {{ cartItem.question.qlevel}}</span>
                                            <span> | {{ cartItem.question.title }}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="activity-actions">
                                <button class="ui orange button" ng-click="$ctrl.cart.remove(cartItem)">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
                <aside class="activity-preview">
                    <!-- <span class="fa fa-spinner fa-spin fa-5x at-loader" ng-show="$ctrl.itemPreviewLoading"></span> -->
                    <div class="itemIframeMessages" ng-show="!$ctrl.itemPreviewLoading && ($ctrl.itemPreviewContent.error || ($ctrl.itemPreviewDisplay == $ctrl.itemPreviewDefaultMessage))">
                        {{$ctrl.itemPreviewDisplay}}
                    </div>
                    <iframe id="itemIframe">
                    </iframe>
                </aside>
            </div>
            <div class="no-items create-question" ng-show="($ctrl.items && !$ctrl.items.length) && $ctrl.isFiltersShown">
                <i class="icons-assessment-create"></i>
                <p>
                    No Data Found
                    <br> Redefine your search filters!
                    </br>
                </p>
                <a href="" target="_blank">
                    <button class="ui blue button">Create A Question</button>
                </a>
            </div>
        </div>
    </div>
</div>
