<div class="ui grid">
    <div class="two column wide">
        <div class="header">
            <h4>Warning: Template not found </h4>
            <h5><i class="warning sign icon outline big yellow icon"></i>Question set can not be added to the stage</h5>
        </div>
        <div class="actions">
            <!--  <button class="ui inverted yellow button" ng-click="closeThisDialog()">No</button>
            <button class="ui inverted green button" ng-click="closeThisDialog()">Remove</button> -->
            <div class="ui buttons right floated">
                <button class="ui orange button" ng-click="closeThisDialog()">Close</button>
            </div>
        </div>
    </div>
</div>
