<script type="text/ng-template" ng-app="activityBrowserApp" ng-controller="activityBrowserCtrl as $ctrl" id="activityBrowser">
    <div class="ui modal large active activity-browser-modal">
        <div class="header">
            <div class="ui two column grid">
                <div class="row">
                    <div class="column">
                        <span><i class="list layout icon"></i> Activity Browser</span>
                    </div>
                    <div class="column activity-browser-close-icon-container">
                        <!-- <div class="ui focus mini input activity-search-input">
                            <input type="text" placeholder="Search for activities" ng-model="$ctrl.searchQuery" ng-keypress="$event.keyCode === 13 ? $ctrl.getActivities() : null">
                        </div> -->
                        <i class="cursor-pointer close icon" ng-click="closeThisDialog()"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="activity-filters-container">
            <div class="ui form">
                <div class="field">
                    <div class="ui fluid icon input">
                        <input ng-model="$ctrl.activityOptions.searchQuery" placeholder="Search for activities" ng-keypress="$event.keyCode === 13 ? $ctrl.getActivities() : null" type="text"></input>
                        <i class="inverted circular search link icon" ng-click="$ctrl.getActivities()"></i>
                    </div>
                </div>
                <div class="ui accordion field" id="assessmentAdvancedFields">
                    <div class="title" ng-click="$ctrl.showAdvancedFilter = !$ctrl.showAdvancedFilter">
                        <i class="dropdown icon" ng-if="!$ctrl.showAdvancedFilter"></i>
                        <i class="dropdown icon" ng-if="$ctrl.showAdvancedFilter" style="transform: rotate(90deg);"></i> Advanced Filters
                    </div>
                    <div class="content transition {{$ctrl.showAdvancedFilter ? 'visible': 'hidden'}}">
                        <div class="three fields">
                            <!--     <div class="field">
                                <div class="ui fluid labeled input">
                                    <div class="ui label">&emsp;Grade&nbsp;&nbsp;&nbsp;</div>
                                    <select multiple="" class="ui fluid dropdown search lableCls" ng-model="$ctrl.activity.gradeLevel" ng-options="grade for grade in $ctrl.assessment.gradeLevel" data-bind="options:assessment.gradeLevel" ng-change="$ctrl.searchQuestions()">
                                        <option value="">
                                            Grade
                                        </option>
                                    </select>
                                </div>
                            </div> -->
                            <div class="field">
                                <div class="ui fluid labeled input">
                                    <div class="ui label">Category</div>
                                    <select multiple="" class="ui fluid dropdown search lableCls" ng-model="$ctrl.activityOptions.categories" ng-options="type for type in $ctrl.categories" ng-change="$ctrl.getActivities()">
                                        <option value="">
                                            Type
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui fluid labeled input">
                                    <div class="ui label">Concepts</div>
                                    <input type="text" placeholder="Concepts" ng-model="$ctrl.activityOptions.conceptsPlaceHolder" class="fluid" id="activityConceptSelector" selectable="false" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content activity-browser-content">
            <div class="ui segment activity-browser-content-loader" ng-if="$ctrl.loading">
                <div class="ui active inverted dimmer">
                    <div class="ui text loader">Just one second, We're fetching activities for you.</div>
                </div>
            </div>
            <div class="ui four stackable special cards activity-browser-cards" ng-show="$ctrl.activitiesList.length > 0" id="activity-cards">
                <div class="ui link card" ng-repeat="activity in $ctrl.activitiesList track by $index">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <div class="ui tiny inverted header" title="{{activity.name}}">{{activity.name | limitTo:20}}<span ng-if="activity.name.length > 20">...</span></div>
                                    <p title="{{activity.description}}">{{activity.description | limitTo:30}}<span ng-if="activity.description.length > 30">...</span></p>
                                </div>
                            </div>
                        </div>
                        <img ng-src="{{activity.appIcon || $ctrl.defaultActivityImage}}">
                    </div>
                    <div class="content">
                        <a class="header" title="{{activity.name}}" style="display: inline;">{{activity.name | limitTo:12}}<span ng-if="activity.name.length > 12">...</span></a>
                        <span class="right floated">
                                <a class="header" ng-click="$ctrl.addPlugin(activity)">ADD<i class="plus icon"></i></a>    
                            </span>
                    </div>
                </div>
            </div>
            <div class="ui huge info message activity-browser-center" ng-show="$ctrl.noActivities">
                <p>No activities found.</p>
            </div>
            <div ng-if="$ctrl.errorLoadingActivities" class="ui negative message activity-browser-center">
                <div class="header">
                    We're sorry!
                </div>
                <p>There's an error while fetching activities, <a href ng-click="$ctrl.getActivities()">Click here</a> to try again.
                </p>
            </div>
        </div>
    </div>
