body {
    min-width: 800px;
}

body,
.ui.form.segment label,
.sidebar-reportissue .ui.basic.small.button.help-button,
#contents-data-form input,
#contents-data-form textarea {
    color: #9b9b9b!important;
}

.content-masterhead {
    padding-top: 0!important;
    height: 100vh!important;
}

.ui.vertical.segment {
    // padding: 2rem!important;
    padding-left: 2rem!important;
    padding-right: 2rem!important;
}

.page-header {
    height: 10%!important;
    margin-top: 0!important;
}

.main-body {
    height: 90%!important;
    margin-bottom: 0!important;
    margin-top: 2rem!important;
}

.ui-fancytree:focus {
    outline: none;
}

ul.fancytree-container {
    /*overflow: auto;*/
}

#table-of-contents {
    padding: 0!important;
    height: 100%! position: relative;
    width: 320px;
    min-width: 320px;
    box-shadow: none!important;
}

#table-of-contents .ui.dropdown .menu>.item {
    padding: 0.5em 0.5em!important;
}

#table-of-contents .ui.dropdown .menu {
    padding: 0!important;
}

.ui.segment,
.ui.segments {
    box-shadow: none!important;
    border-radius: 0!important;
}

// #table-of-contents .ui.segments,
// #contents-data-form .ui.form.segment {
//     border-radius: 0;
// }
#table-of-contents .ui.segments {
    border: none;
    height: 100%;
}

#table-of-contents .tree-wrapper {
    border-right: 0.2px solid #D8DEE2;
    border-top: none;
    padding: 0 0.5rem!important;
    height: 90%!important;
}

#contents-pane {
    padding: 0;
    padding-left: 2rem;
    width: calc(100% - 350px);
    height: 100%;
}

.header-segment {
    padding-top: 0!important;
    padding-right: 0!important;
    box-shadow: none!important;
    margin-bottom: 0!important;
    border-radius: 0!important;
    border: none!important;
    padding-left: 0!important;
    height: 84.4px!important;
}

.header-segment .ui.breadcrumb {
    padding: 0.8rem 1rem;
    width: 100%;
    background: #f5f5f5;
    font-family: "Helvetica";
}

.header-segment .ui.breadcrumb .active.section {
    font-weight: bold;
    font-size: 1.15rem;
}

.header-segment span {
    display: inline-block;
    position: relative;
    bottom: -10px;
    font-size: 1.9rem;
    color: black;
    font-weight: bold;
}

#contents-data-form {
    margin-top: 0;
    height: calc(100% - 84.4px);
    overflow-y: auto;
    padding-left: 0;
    border: none;
    border-top: 0.2px solid #D8DEE2;
}

#contents-data-form::-webkit-scrollbar,
#contents-data-form::-webkit-scrollbar-thumb,
#collection-tree::-webkit-scrollbar,
#collection-tree::-webkit-scrollbar-thumb {
    width: 0;
    // background-color: #9b9b9b;
}

// #contents-data-form::-webkit-scrollbar-track,
// #collection-tree::-webkit-scrollbar {
//     background-color: #F9F9F9;
//     border-radius: 0;
// }
#contents-data-form input,
#contents-data-form textarea {
    background: none;
    border: none;
    border-bottom: 0.2px solid #ccc;
    box-shadow: none;
    border-radius: 0;
}

#contents-data-form input:focus {
    border-bottom: 0.2px solid #009FDA;
}

#contents-data-form textarea:focus {
    border-bottom: 0.2px solid #009FDA;
}

.form-fields-except-image .field {
    margin-bottom: 20px!important;
}

.form-fields-except-image .field input,
.form-fields-except-image .field .ui.selection.dropdown {
    padding: 0.339054em 1.07692308em!important;
    font-size: 12px!important;
}

.form-fields-except-image .ui.selection.dropdown>.dropdown.icon {
    top: 0.3rem!important;
}

.form-fields-except-image .ui.dropdown .menu>.item {
    color: #9b9b9b;
    font-size: 12px!important;
}

.form-fields-except-image .field .ui.selection.dropdown {
    height: 50%;
    color: #9b9b9b!important;
    min-width: 9em!important;
    min-height: 1.5rem!important
}

.form-fields-except-image {
    width: calc(100% - 120px)!important;
}

@media only screen and (max-width: 1048px) {
    .form-fields-except-image,
    #contents-pane>.ui.form .fields>.eight.wide.field {
        width: calc(100% - 120px)!important;
    }
}

.book-image-container {
    height: 100px;
    width: 100px;
    border: 0.2px solid #D8DEE2;
    position: relative;
}

.book-image-container i {
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto !important;
}

.book-image-container img {
    height: 100%;
    width: 100%;
    position: relative;
    display: inline-block;
}

.book-image-container:hover {
    cursor: pointer;
}

.book-image-container:hover i {
    color: black;
}

.book-image-field {
    min-width: 116px!important;
    max-width: 116px!important;
}

#collection-tree {
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
}

#collection-tree span {
    color: #9b9b9b;
}

.fancytree-treefocus span.fancytree-active span.fancytree-title,
.fancytree-treefocus span.fancytree-selected span.fancytree-title {
    color: #fff!important;
}

.tree-access-tools {
    border-bottom: 0.2px solid #D8DEE2;
    padding: 0.3em 0!important;
}

.tree-access-tools .ui.search,
.icon-container {
    display: inline-block;
    position: relative;
}

.tree-access-tools .ui.search {
    height: 23px;
}

.tree-access-tools .ui.search .ui.icon.input {
    height: 100%;
}

.tree-access-tools .ui.search .ui.icon.input input {
    border-radius: 0;
}

.tree-access-tools-segment {
    padding: 0.3em 0.5em 0.3em 1em!important;
    border-right: 0.2px solid #D8DEE2!important;
    height: 8%!important;
}

i.icon {
    color: #9b9b9b;
}

.icon-container {
    // margin-left: 18px;
    color: #9b9b9b;
    float: right;
}

.icon-container i:hover,
i.icon:hover {
    color: black;
    cursor: pointer;
}

#save-button {
    position: relative;
    float: right;
    margin-right: 20%;
}
