body {
    min-width: 800px;
    color: #9b9b9b!important;
}

.content-masterhead {
    padding: 0 1em!important;
    height: 100vh!important;
}

.ui.vertical.segment {
    padding-left: 2rem!important;
    padding-right: 2rem!important;
}

.page-header {
    height: 10%!important;
    margin-top: 0!important;
    margin-bottom: 0!important;
}

.page-header .one.column {
    width: 4%!important;
    padding-left: 0!important;
}

.page-header .one.column .content-logo {
    margin-left: 0!important;
}

.main-body {
    height: 90%!important;
    margin-bottom: 0!important;
    margin-top: 0.5em!important;
}

.ui-fancytree:focus {
    outline: none;
}

#table-of-contents {
    padding: 0!important;
    height: 100%!important;
    position: relative;
    width: 320px;
    min-width: 320px;
    box-shadow: none!important;
    border: none;
    border-right: 0.2px solid rgba(192, 192, 192, 0.39);
}

#table-of-contents .ui.dropdown .menu>.item {
    padding: 0.5em 0.5em!important;
}

#table-of-contents .ui.dropdown .menu {
    padding: 0!important;
}

.ui.segment,
.ui.segments .segment {
    border-radius: 0!important;
    box-shadow: none!important;
}

#table-of-contents .ui.segments,
#contents-data-form .ui.form.segment {
    border-radius: 0!important;
    box-shadow: none!important;
    height: 100%;
}

#table-of-contents .ui.segments {
    border: none;
}

#contents-pane {
    width: calc(100% - 320px)!important;
    height: 100%;
    padding: 0!important;
    padding-left: 2rem!important;
}



#collection-tree::-webkit-scrollbar {
    width: 0!important;
    height: 0!important;
}

#collection-tree {
    height: 100%;
    overflow: auto;
}

#collection-tree span {
    color: #9b9b9b;
}

.fancytree-treefocus span.fancytree-active span.fancytree-title,
.fancytree-treefocus span.fancytree-selected span.fancytree-title {
    color: #fff!important;
}

.tree-access-tools .ui.search,
.icon-container {
    display: inline-block;
    position: relative;
}

.tree-wrapper {
    height: 92%!important;
    border: none!important;
    padding-left: 0!important;
    padding-top: 0!important;
}

.tree-access-tools {
    padding: 0.4em 0 0 0!important;
}

i.icon {
    color: #9b9b9b;
}

.icon-container {
    margin-left: 18px;
    color: #9b9b9b;
}

.icon-container i:hover,
i.icon:hover {
    color: black;
    cursor: pointer;
}

.ui.segment,
.tree-access-tools .ui.search {
    height: 23px;
}

.tree-access-tools .ui.search .ui.icon.input {
    height: 100%;
}

.tree-access-tools .ui.search .ui.icon.input input {
    border-radius: 0;
}

.tree-access-tools-segment {
    padding: 0.3em 0.5em 0.3em 0!important;
    height: 8%!important;
}

i.icon {
    color: #9b9b9b;
}

.icon-container {
    color: #9b9b9b;
    float: right;
}

.icon-container i:hover,
i.icon:hover {
    color: black;
    cursor: pointer;
}
