body {
    min-width: 525px !important;
}

.no-margin-no-padding,
.custom-1-wide {
    margin: 0 !important;
    padding: 0 !important;
}

.no-margin,
.custom-6-wide,
.custom-5-wide {
    margin: 0 !important;
}

.no-padding,
.custom-5-wide .user-details-wrapper {
    padding: 0 !important;
}

.xy-mid-align,
.custom-icon,
.custom-1-wide .ui.tiny.image {
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto !important;
}


.custom-container .one.wide.column,
.custom-container .six.wide.column,
.custom-container .five.wide.column {
    height: 100%!important;
}

.custom-container .one.wide.column {
    width: 70px !important;
}


.content-masterhead {
    padding: 0px !important;
    width: 98vw !important;
    height: 60px !important;
}

.custom-6-wide .custom-row-1 .content-title {
    font-size: 16px;
    font-weight: bold;
    padding: 0 !important;
    border: 0 !important;
    border-radius: 0 !important;
    height: 19px;
    line-height: 19px;
}